touresBalonOMS/src/wsdl/jdt_pc_8080/TouresBalon/ProductosTouresBalon.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="ProductosTouresBalon" targetNamespace="http://www.touresbalon.com/ProductosTouresBalon/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tb_p="http://www.touresbalon.com/ProductosTouresBalon/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xsd:schema targetNamespace="http://www.touresbalon.com/ProductosTouresBalon/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tb_p="http://www.touresbalon.com/ProductosTouresBalon/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="ConsultarProducto">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element maxOccurs="1" minOccurs="1" name="tipo_consulta" type="tb_p:TipoConsultaProducto"/>
          	<xsd:element maxOccurs="1" minOccurs="1" name="cadena_consulta" type="xsd:string"/>


          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ConsultarProductoResponse">
        <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="productos" type="tb_p:Producto"/>
                    </xsd:sequence>

        </xsd:complexType>
      </xsd:element>
    
      <xsd:complexType name="Producto">
      	<xsd:sequence>
      		<xsd:element maxOccurs="1" minOccurs="1" name="id_producto" type="xsd:int">
      		</xsd:element>

      		<xsd:element maxOccurs="1" minOccurs="1" name="espectaculo" type="xsd:string">
      		</xsd:element>
      		<xsd:element maxOccurs="1" minOccurs="1" name="descripcion" type="xsd:string">
      		</xsd:element>
      		<xsd:element maxOccurs="1" minOccurs="1" name="ciudad_espectaculo" type="tb_p:Ciudad">
      		</xsd:element>
      		<xsd:element maxOccurs="1" minOccurs="0" name="fecha_llegada" type="xsd:dateTime">
      		</xsd:element>
      		<xsd:element maxOccurs="1" minOccurs="0" name="fecha_salida" type="xsd:dateTime">
      		</xsd:element>
      		<xsd:element maxOccurs="1" minOccurs="0" name="fecha_espectaculo" type="xsd:dateTime"/>
      		<xsd:element maxOccurs="1" minOccurs="0" name="tipo_transporte" type="tb_p:TarifaValores">
      		</xsd:element>
      		<xsd:element maxOccurs="1" minOccurs="1" name="tipo_espectaculo" type="tb_p:TarifaValores">
      		</xsd:element>
      		<xsd:element maxOccurs="1" minOccurs="0" name="tipo_hospedaje" type="tb_p:TarifaValores">
      		</xsd:element>
      		<xsd:element maxOccurs="1" minOccurs="0" name="imagen_producto" type="xsd:string">
      		</xsd:element>
      	</xsd:sequence>
      </xsd:complexType>

      <xsd:simpleType name="TipoConsultaProducto">
      	<xsd:restriction base="xsd:string">
      		<xsd:enumeration value="NOMBRE"/>
      		<xsd:enumeration value="DESCRIPCION"/>
      		<xsd:enumeration value="ID"/>

      	</xsd:restriction>
      </xsd:simpleType>

      <xsd:complexType name="TarifaValores">
            	<xsd:sequence>
            		<xsd:element maxOccurs="1" minOccurs="1" name="id" type="xsd:int"/>
            		<xsd:element maxOccurs="1" minOccurs="1" name="nombre_tipo" type="xsd:string"/>
            		<xsd:element maxOccurs="1" minOccurs="1" name="precio" type="xsd:double"/>
            	</xsd:sequence>
            </xsd:complexType>
    
            <xsd:complexType name="Ciudad">
            	<xsd:sequence>
            		<xsd:element maxOccurs="1" minOccurs="0" name="id_ciudad" type="xsd:int"/>
            		<xsd:element maxOccurs="1" minOccurs="0" name="pais" type="xsd:string"/>
            		<xsd:element maxOccurs="unbounded" minOccurs="0" name="tipo_ciudad" type="tb_p:TarifaValores"/>
            	</xsd:sequence>
            </xsd:complexType>
    
            <xsd:complexType name="Error">
            	<xsd:sequence>
            		<xsd:element maxOccurs="1" minOccurs="0" name="codigo" type="xsd:string"/>
            		<xsd:element maxOccurs="1" minOccurs="0" name="mensaje" type="xsd:string"/>
            	</xsd:sequence>
            </xsd:complexType>
            <xsd:element name="ConsultarCampaniaProducto">
            	<xsd:complexType>
            		<xsd:sequence>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="ConsultarCampaniaProductoResponse">
            	<xsd:complexType>
                    <xsd:sequence>
                    	<xsd:element maxOccurs="unbounded" minOccurs="0" name="productos" type="tb_p:Producto">
                    	</xsd:element>
                    </xsd:sequence>
                    
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="ConsultarPorEspectaculoProducto">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element maxOccurs="1" minOccurs="1" name="espectaculo" type="xsd:string"/>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="ConsultarPorEspectaculoProductoResponse">
            	<xsd:complexType>
                    <xsd:sequence>

                    	<xsd:element maxOccurs="unbounded" minOccurs="0" name="productos" type="tb_p:Producto"/>
                    </xsd:sequence>
                    
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="ConsultarRankingEspectaculosVendidosProducto">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element maxOccurs="1" minOccurs="1" name="fecha_inicial" type="xsd:dateTime">
            			</xsd:element>
            			<xsd:element maxOccurs="1" minOccurs="1" name="fecha_fin" type="xsd:dateTime">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="ConsultarRankingEspectaculosVendidosProductoResponse">
            	<xsd:complexType>
                    <xsd:sequence>

                    	<xsd:element maxOccurs="unbounded" minOccurs="0" name="tipo_espectaculo" type="tb_p:TarifaValores"/>
                    </xsd:sequence>
                    
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="ConsultarRankingFechaProducto">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element maxOccurs="1" minOccurs="1" name="fecha_inicial" type="xsd:dateTime"/>
            			<xsd:element maxOccurs="1" minOccurs="1" name="fecha_fin" type="xsd:dateTime">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="ConsultarRankingFechaProductoResponse">
            	<xsd:complexType>
                    <xsd:sequence>

                    	<xsd:element maxOccurs="unbounded" minOccurs="0" name="productos" type="tb_p:Producto"/>
                    </xsd:sequence>
                    
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="GestionCampaniaProducto">
            	<xsd:complexType>
                    <xsd:sequence>

                    	<xsd:element maxOccurs="1" minOccurs="1" name="tipo_operacion" type="tb_p:TipoAccion"/>
                    	<xsd:element maxOccurs="1" minOccurs="0" name="campania" type="tb_p:Campania">
                    	</xsd:element>
                    </xsd:sequence>
                    
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="GestionCampaniaProductoResponse">
            	<xsd:complexType>
                    <xsd:sequence>

                        <xsd:element maxOccurs="1" minOccurs="1" name="gestioncampaniaResponse" type="tb_p:TipoGestionCampaniaResponse">
                    		</xsd:element>
                    </xsd:sequence>
                    
            	</xsd:complexType>
            </xsd:element>
    
            <xsd:simpleType name="RespuestaGenerica">
            	<xsd:restriction base="xsd:string">
            		<xsd:enumeration value="OK"/>
            		<xsd:enumeration value="KO"/>
            	</xsd:restriction>
            </xsd:simpleType>
            <xsd:element name="GestionProducto">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element maxOccurs="1" minOccurs="1" name="tipo_operacion" type="tb_p:TipoAccion"/>
            			<xsd:element maxOccurs="1" minOccurs="1" name="producto" type="tb_p:Producto">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="GestionProductoResponse">
            	<xsd:complexType>
                    <xsd:sequence>

                        <xsd:element maxOccurs="1" minOccurs="1" name="gestion_producto_reponse" type="tb_p:TipoGestionProductoResponse">
                    		</xsd:element>
                    </xsd:sequence>
                    
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="GestionTarifa">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element maxOccurs="1" minOccurs="1" name="tipo_operacion" type="tb_p:TipoAccion">
            			</xsd:element>
                        <xsd:element maxOccurs="1" minOccurs="1" name="tipo_tarifa" type="tb_p:TipoTarifa">
            			</xsd:element>
                        <xsd:element maxOccurs="1" minOccurs="1" name="tarifa" type="tb_p:TarifaValores">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="GestionTarifaResponse">
            	<xsd:complexType>
                    <xsd:sequence>

                        <xsd:element maxOccurs="1" minOccurs="1" name="respuesta" type="tb_p:TipoGestionTarifaResponse">
                    		</xsd:element>
                    </xsd:sequence>
                    
            	</xsd:complexType>
            </xsd:element>
    
            <xsd:simpleType name="TipoTarifa">
            	<xsd:restriction base="xsd:string">
            		<xsd:enumeration value="TRANSPORTE"/>
            		<xsd:enumeration value="HOSPEDAJE"/>
            		<xsd:enumeration value="ESPECTACULO"/>
            		<xsd:enumeration value="CIUDAD"/>
            	</xsd:restriction>
            </xsd:simpleType>
            <xsd:element name="ConsultarProductoFault">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element maxOccurs="1" minOccurs="0" name="ConsultarProductoFault" type="tb_p:Error">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="ConsultarCampaniaProductoFault">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element maxOccurs="1" minOccurs="0" name="ConsultarCampaniaProductoFault" type="tb_p:Error">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="ConsultarPorEspectaculoProductoFault">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element maxOccurs="1" minOccurs="0" name="ConsultarPorEspectaculoProductoFault" type="tb_p:Error">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="ConsultarRankingEspectaculosVendidosProductoFault">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element maxOccurs="1" minOccurs="0" name="ConsultarRankingEspectaculosVendidosProductoFault" type="tb_p:Error">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="ConsultarRankingFechaProductoFault">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element maxOccurs="1" minOccurs="0" name="ConsultarRankingFechaProductoFault" type="tb_p:Error">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="GestionCampaniaProductoFault">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element maxOccurs="1" minOccurs="0" name="GestionCampañaProductoFault" type="tb_p:Error">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="GestionProductoFault">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element maxOccurs="1" minOccurs="0" name="GestionProductoFault" type="tb_p:Error">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="GestionTarifaFault">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element maxOccurs="1" minOccurs="0" name="GestionTarifaFault" type="tb_p:Error">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
    
    
            <xsd:complexType name="TipoGestionTarifaResponse">
            	<xsd:sequence>
            		<xsd:element maxOccurs="1" minOccurs="1" name="respuesta" type="tb_p:RespuestaGenerica"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="tarifa" type="tb_p:TipoTarifa"/>
                </xsd:sequence>
            </xsd:complexType>
    
            <xsd:element name="ConsultaTop5Productos">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element maxOccurs="unbounded" minOccurs="0" name="id_producto" type="xsd:int"/>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="ConsultaTop5ProductosResponse">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element maxOccurs="unbounded" minOccurs="0" name="lista_productos_top" type="tb_p:Producto"/>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="ConsultaTop5ProductosFault">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element maxOccurs="1" minOccurs="0" name="ConsultaTop5ProductosFault" type="tb_p:Error">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
    
    
            <xsd:complexType name="Campania">
            	<xsd:sequence>
            		<xsd:element maxOccurs="1" minOccurs="1" name="id_producto" type="tb_p:Producto">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="1" name="fecha_inicio_campania" type="xsd:dateTime">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="1" name="fecha_fin_campania" type="xsd:dateTime"/>
            	</xsd:sequence>
            </xsd:complexType>
    
            <xsd:simpleType name="TipoAccion">
            	<xsd:restriction base="xsd:string">
            		<xsd:enumeration value="ADICIONAR"/>
            		<xsd:enumeration value="ELIMINAR"/>
            		<xsd:enumeration value="MODIFICAR"/>
            	</xsd:restriction>
            </xsd:simpleType>
    
            <xsd:complexType name="TipoGestionProductoResponse">
            	<xsd:sequence>
            		<xsd:element maxOccurs="1" minOccurs="1" name="respuesta" type="tb_p:RespuestaGenerica">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="id_producto" type="xsd:int"/>
            	</xsd:sequence>
            </xsd:complexType>
    
            <xsd:complexType name="TipoGestionCampaniaResponse">
            	<xsd:sequence>
            		<xsd:element maxOccurs="1" minOccurs="1" name="respuesta" type="tb_p:RespuestaGenerica">
            		</xsd:element>

            		<xsd:element maxOccurs="1" minOccurs="0" name="id_campania" type="xsd:int"/>
            	</xsd:sequence>
            </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GestionProductoRequest">
    <wsdl:part element="tb_p:GestionProducto" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarCampaniaProductoResponse">
    <wsdl:part element="tb_p:ConsultarCampaniaProductoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GestionCampaniaProductoFault">
    <wsdl:part element="tb_p:GestionCampaniaProductoFault" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarPorEspectaculoProductoRequest">
    <wsdl:part element="tb_p:ConsultarPorEspectaculoProducto" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GestionProductoFault">
    <wsdl:part element="tb_p:GestionProductoFault" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarPorEspectaculoProductoFault">
    <wsdl:part element="tb_p:ConsultarPorEspectaculoProductoFault" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarPorEspectaculoProductoResponse">
    <wsdl:part element="tb_p:ConsultarPorEspectaculoProductoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultaTop5ProductosFault">
    <wsdl:part element="tb_p:ConsultaTop5ProductosFault" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultaTop5ProductosRequest">
    <wsdl:part element="tb_p:ConsultaTop5Productos" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarRankingFechaProductoFault">
    <wsdl:part element="tb_p:ConsultarRankingFechaProductoFault" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GestionTarifaFault">
    <wsdl:part element="tb_p:GestionTarifaFault" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarProductoFault">
    <wsdl:part element="tb_p:ConsultarProductoFault" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GestionTarifaRequest">
    <wsdl:part element="tb_p:GestionTarifa" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarProductoResponse">
    <wsdl:part element="tb_p:ConsultarProductoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GestionCampaniaProductoResponse">
    <wsdl:part element="tb_p:GestionCampaniaProductoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarCampaniaProductoRequest">
    <wsdl:part element="tb_p:ConsultarCampaniaProducto" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarCampaniaProductoFault">
    <wsdl:part element="tb_p:ConsultarCampaniaProductoFault" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarRankingEspectaculosVendidosProductoRequest">
    <wsdl:part element="tb_p:ConsultarRankingEspectaculosVendidosProducto" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarProductoRequest">
    <wsdl:part element="tb_p:ConsultarProducto" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarRankingEspectaculosVendidosProductoFault">
    <wsdl:part element="tb_p:ConsultarRankingEspectaculosVendidosProductoFault" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GestionTarifaResponse">
    <wsdl:part element="tb_p:GestionTarifaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultaTop5ProductosResponse">
    <wsdl:part element="tb_p:ConsultaTop5ProductosResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarRankingEspectaculosVendidosProductoResponse">
    <wsdl:part element="tb_p:ConsultarRankingEspectaculosVendidosProductoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarRankingFechaProductoResponse">
    <wsdl:part element="tb_p:ConsultarRankingFechaProductoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GestionCampaniaProductoRequest">
    <wsdl:part element="tb_p:GestionCampaniaProducto" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarRankingFechaProductoRequest">
    <wsdl:part element="tb_p:ConsultarRankingFechaProducto" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GestionProductoResponse">
    <wsdl:part element="tb_p:GestionProductoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ProductosTouresBalon">
    <wsdl:operation name="ConsultarProducto">
      <wsdl:input message="tb_p:ConsultarProductoRequest">
    </wsdl:input>
      <wsdl:output message="tb_p:ConsultarProductoResponse">
    </wsdl:output>
      <wsdl:fault message="tb_p:ConsultarProductoFault" name="fault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ConsultarCampaniaProducto">
      <wsdl:input message="tb_p:ConsultarCampaniaProductoRequest">
    </wsdl:input>
      <wsdl:output message="tb_p:ConsultarCampaniaProductoResponse">
    </wsdl:output>
      <wsdl:fault message="tb_p:ConsultarCampaniaProductoFault" name="fault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ConsultarPorEspectaculoProducto">
      <wsdl:input message="tb_p:ConsultarPorEspectaculoProductoRequest">
    </wsdl:input>
      <wsdl:output message="tb_p:ConsultarPorEspectaculoProductoResponse">
    </wsdl:output>
      <wsdl:fault message="tb_p:ConsultarPorEspectaculoProductoFault" name="fault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ConsultarRankingEspectaculosVendidosProducto">
      <wsdl:input message="tb_p:ConsultarRankingEspectaculosVendidosProductoRequest">
    </wsdl:input>
      <wsdl:output message="tb_p:ConsultarRankingEspectaculosVendidosProductoResponse">
    </wsdl:output>
      <wsdl:fault message="tb_p:ConsultarRankingEspectaculosVendidosProductoFault" name="fault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ConsultarRankingFechaProducto">
      <wsdl:input message="tb_p:ConsultarRankingFechaProductoRequest">
    </wsdl:input>
      <wsdl:output message="tb_p:ConsultarRankingFechaProductoResponse">
    </wsdl:output>
      <wsdl:fault message="tb_p:ConsultarRankingFechaProductoFault" name="fault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GestionCampaniaProducto">
      <wsdl:input message="tb_p:GestionCampaniaProductoRequest">
    </wsdl:input>
      <wsdl:output message="tb_p:GestionCampaniaProductoResponse">
    </wsdl:output>
      <wsdl:fault message="tb_p:GestionCampaniaProductoFault" name="fault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GestionProducto">
      <wsdl:input message="tb_p:GestionProductoRequest">
    </wsdl:input>
      <wsdl:output message="tb_p:GestionProductoResponse">
    </wsdl:output>
      <wsdl:fault message="tb_p:GestionProductoFault" name="fault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GestionTarifa">
      <wsdl:input message="tb_p:GestionTarifaRequest">
    </wsdl:input>
      <wsdl:output message="tb_p:GestionTarifaResponse">
    </wsdl:output>
      <wsdl:fault message="tb_p:GestionTarifaFault" name="fault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ConsultaTop5Productos">
      <wsdl:input message="tb_p:ConsultaTop5ProductosRequest">
    </wsdl:input>
      <wsdl:output message="tb_p:ConsultaTop5ProductosResponse">
    </wsdl:output>
      <wsdl:fault message="tb_p:ConsultaTop5ProductosFault" name="fault">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProductosTouresBalonSOAP" type="tb_p:ProductosTouresBalon">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ConsultarProducto">
      <soap:operation soapAction="http://www.touresbalon.com/ProductosTouresBalon/ConsultarProducto"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ConsultarCampaniaProducto">
      <soap:operation soapAction="http://www.touresbalon.com/ProductosTouresBalon/ConsultarCampaniaProducto"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ConsultarPorEspectaculoProducto">
      <soap:operation soapAction="http://www.touresbalon.com/ProductosTouresBalon/ConsultarPorEspectaculoProducto"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ConsultarRankingEspectaculosVendidosProducto">
      <soap:operation soapAction="http://www.touresbalon.com/ProductosTouresBalon/ConsultarRankingEspectaculosVendidosProducto"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ConsultarRankingFechaProducto">
      <soap:operation soapAction="http://www.touresbalon.com/ProductosTouresBalon/ConsultarRankingFechaProducto"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GestionCampaniaProducto">
      <soap:operation soapAction="http://www.touresbalon.com/ProductosTouresBalon/GestionCampaniaProducto"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GestionProducto">
      <soap:operation soapAction="http://www.touresbalon.com/ProductosTouresBalon/GestionProducto"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GestionTarifa">
      <soap:operation soapAction="http://www.touresbalon.com/ProductosTouresBalon/GestionTarifa"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ConsultaTop5Productos">
      <soap:operation soapAction="http://www.touresbalon.com/ProductosTouresBalon/ConsultaTop5Productos"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductosTouresBalon">
    <wsdl:port binding="tb_p:ProductosTouresBalonSOAP" name="ProductosTouresBalonSOAP">
<wsdl:documentation>V 0.1</wsdl:documentation>
      <soap:address location="http://localhost:8080/TouresBalon/ProductosTouresBalon"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>