Servicios/WSDL_TouresBalon/src/aes/pica/wsdl/productos/ProductosTouresBalon.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tb_p="http://www.touresbalon.com/ProductosTouresBalon/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProductosTouresBalon" targetNamespace="http://www.touresbalon.com/ProductosTouresBalon/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.touresbalon.com/ProductosTouresBalon/">
      <xsd:element name="ConsultarProducto">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="tipo_consulta"
          		type="tb_p:TipoConsultaProducto" maxOccurs="1"
          		minOccurs="1" />
          	<xsd:element name="codigo" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
          	<xsd:element name="nombre" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
          	<xsd:element name="descripcion" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ConsultarProductoResponse">
        <xsd:complexType>
                    <xsd:choice>
                    	<xsd:sequence>
                    		<xsd:element name="producto"
                    			type="tb_p:Producto" maxOccurs="unbounded"
                    			minOccurs="0" />
                    		<xsd:element name="producto_top_1"
                    			type="tb_p:Producto" maxOccurs="1" minOccurs="0">
                    		</xsd:element>
                    		<xsd:element name="producto_top_2"
                    			type="tb_p:Producto" maxOccurs="1" minOccurs="0">
                    		</xsd:element>
                    		<xsd:element name="producto_top_3"
                    			type="tb_p:Producto" maxOccurs="1" minOccurs="0">
                    		</xsd:element>
                    		<xsd:element name="producto_top_4"
                    			type="tb_p:Producto" maxOccurs="1" minOccurs="0">
                    		</xsd:element>
                    		<xsd:element name="producto_top_5"
                    			type="tb_p:Producto" maxOccurs="1" minOccurs="0">
                    		</xsd:element>
                    	</xsd:sequence>
                    	<xsd:element name="error"
                    		type="tb_p:Error" maxOccurs="1" minOccurs="0">
                    	</xsd:element>
                    </xsd:choice>

        </xsd:complexType>
      </xsd:element>
    
      <xsd:complexType name="Producto">
      	<xsd:sequence>
      		<xsd:element name="id_producto" type="xsd:int" maxOccurs="1" minOccurs="1"></xsd:element>
      		<xsd:element name="espectaculo" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      		<xsd:element name="ciudad_espectaculo"
      			type="tb_p:Ciudad" maxOccurs="1" minOccurs="1">
      		</xsd:element>
      		<xsd:element name="fecha_llegada" type="xsd:date" maxOccurs="1" minOccurs="0"></xsd:element>
      		<xsd:element name="fecha_salida" type="xsd:date" maxOccurs="1" minOccurs="0"></xsd:element>
      		<xsd:element name="tipo_transporte" type="tb_p:TarifaTIpo"
      			maxOccurs="1" minOccurs="0">
      		</xsd:element>
      		<xsd:element name="tipo_espectaculo"
      			type="tb_p:TarifaTIpo" maxOccurs="1" minOccurs="1">
      		</xsd:element>
      		<xsd:element name="tipo_hospedaje" type="tb_p:TarifaTIpo"
      			maxOccurs="1" minOccurs="0">
      		</xsd:element>
      		<xsd:element name="imagen_producto" type="xsd:base64Binary" maxOccurs="1" minOccurs="0"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>

      <xsd:simpleType name="TipoConsultaProducto">
      	<xsd:restriction base="xsd:string">
      		<xsd:enumeration value="CODIGO"></xsd:enumeration>
      		<xsd:enumeration value="NOMBRE"></xsd:enumeration>
      		<xsd:enumeration value="DESCRIPCION"></xsd:enumeration>
      	</xsd:restriction>
      </xsd:simpleType>
      
            <xsd:complexType name="TarifaTIpo">
            	<xsd:sequence>
            		<xsd:element name="id" type="xsd:int" maxOccurs="1" minOccurs="1"></xsd:element>
            		<xsd:element name="nombre_tipo" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
            		<xsd:element name="precio" type="xsd:double" maxOccurs="1" minOccurs="1"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
    
            <xsd:complexType name="Ciudad">
            	<xsd:sequence>
            		<xsd:element name="id_ciudad" type="xsd:int"></xsd:element>
            		<xsd:element name="pais" type="xsd:string"></xsd:element>
            		<xsd:element name="tipo_ciudad" type="tb_p:TarifaTIpo"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
    
            <xsd:complexType name="Error">
            	<xsd:sequence>
            		<xsd:element name="codigo" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
            		<xsd:element name="mensaje" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
            <xsd:element name="ConsultarCampanias">
            	<xsd:complexType>
            		<xsd:sequence>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="ConsultarCampaniasResponse">
            	<xsd:complexType>
                    <xsd:choice>
                    	<xsd:element name="producto"
                    		type="tb_p:Producto" maxOccurs="unbounded"
                    		minOccurs="0">
                    	</xsd:element>
                    	<xsd:element name="error"
                    		type="tb_p:Error" maxOccurs="1" minOccurs="0">
                    	</xsd:element>
                    </xsd:choice>
                    
            	</xsd:complexType>
            </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ConsultarProductoRequest">
    <wsdl:part element="tb_p:ConsultarProducto" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ConsultarProductoResponse">
    <wsdl:part element="tb_p:ConsultarProductoResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ConsultarCampaniasRequest">
  	<wsdl:part name="parameters" element="tb_p:ConsultarCampanias"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarCampaniasResponse">
  	<wsdl:part name="parameters" element="tb_p:ConsultarCampaniasResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ProductosTouresBalon">
    <wsdl:operation name="ConsultarProducto">
      <wsdl:input message="tb_p:ConsultarProductoRequest"/>
      <wsdl:output message="tb_p:ConsultarProductoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="ConsultarCampanias">
    	<wsdl:input message="tb_p:ConsultarCampaniasRequest"></wsdl:input>
    	<wsdl:output message="tb_p:ConsultarCampaniasResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProductosTouresBalonSOAP"
  	type="tb_p:ProductosTouresBalon">
  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="ConsultarProducto">
  		<soap:operation
  			soapAction="http://www.touresbalon.com/ProductosTouresBalon/ConsultarProducto" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="ConsultarCampanias">
  		<soap:operation
  			soapAction="http://www.touresbalon.com/ProductosTouresBalon/ConsultarCampanias" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductosTouresBalon">
    <wsdl:port binding="tb_p:ProductosTouresBalonSOAP" name="ProductosTouresBalonSOAP">
      <wsdl:documentation>V 0.1</wsdl:documentation>
      <soap:address location="http://www.touresbalon.com/Productos"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
