Servicios/WSDL_TouresBalon/src/aes/pica/wsdl/ordenes/OrdenesTouresBalon.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tb_o="http://www.touresbalon.com/OrdenesTouresBalon/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OrdenesTouresBalon" targetNamespace="http://www.touresbalon.com/OrdenesTouresBalon/">
  <wsdl:documentation>V 0.1</wsdl:documentation>
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.touresbalon.com/OrdenesTouresBalon/">
      <xsd:element name="ConsultarClientesOrdenes">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id_cliente" type="xsd:string" maxOccurs="1" minOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ConsultarClientesOrdenesResponse">
        <xsd:complexType>
      		<xsd:sequence><xsd:element name="orden" type="tb_o:Orden" maxOccurs="unbounded" minOccurs="0" /></xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    
      <xsd:complexType name="Item">
      	<xsd:sequence>
      		<xsd:element name="id_item" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      		<xsd:element name="id_prod" type="xsd:int" maxOccurs="1" minOccurs="1"></xsd:element>
      		<xsd:element name="nombre_prod" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      		<xsd:element name="part_num" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      		<xsd:element name="precio" type="xsd:double" maxOccurs="1" minOccurs="1"></xsd:element>
      		<xsd:element name="cantidad" type="xsd:int" maxOccurs="1" minOccurs="1"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="Orden">
      	<xsd:sequence>
      		<xsd:element name="id_orden" type="xsd:string"
      			maxOccurs="1" minOccurs="1">
      		</xsd:element>
      		<xsd:element name="fecha_orden" type="xsd:date"
      			maxOccurs="1" minOccurs="1">
      		</xsd:element>
      		<xsd:element name="precio" type="xsd:double" maxOccurs="1"
      			minOccurs="1">
      		</xsd:element>
      		<xsd:element name="estatus" type="tb_o:EstatusOrden"
      			maxOccurs="1" minOccurs="1">
      		</xsd:element>
      		<xsd:element name="comentarios" type="xsd:string"
      			maxOccurs="unbounded" minOccurs="0">
      		</xsd:element>
      		<xsd:element name="item" type="tb_o:Item" maxOccurs="unbounded" minOccurs="0"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
      
            <xsd:complexType name="Error">
            	<xsd:sequence>
            		<xsd:element name="codigo" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
            		<xsd:element name="mensaje" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
    
            <xsd:simpleType name="EstatusOrden">
            	<xsd:restriction base="xsd:string">
            		<xsd:enumeration value="VALIDACION"></xsd:enumeration>
            		<xsd:enumeration value="RESERVACION"></xsd:enumeration>
            		<xsd:enumeration value="CERRADA"></xsd:enumeration>
            		<xsd:enumeration value="RECHAZADA"></xsd:enumeration>
            		<xsd:enumeration value="CANCELADA"></xsd:enumeration>
            	</xsd:restriction>
            </xsd:simpleType>
            <xsd:element name="CancelarOrdenes">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="id_orden" type="xsd:string" maxOccurs="unbounded" minOccurs="1"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="CancelarOrdenesResponse">
            	<xsd:complexType>
           			<xsd:sequence><xsd:element name="repuesta" type="tb_o:RespuestaGenerica" maxOccurs="1" minOccurs="0">
           			</xsd:element></xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="CrearOrdenes">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="orden" type="tb_o:Orden" maxOccurs="unbounded" minOccurs="1"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="CrearOrdenesResponse">
            	<xsd:complexType>
          			<xsd:sequence><xsd:element name="respuesta" type="tb_o:RespuestaGenerica" maxOccurs="1" minOccurs="0">
          			</xsd:element></xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
    
            <xsd:simpleType name="RespuestaGenerica">
            	<xsd:restriction base="xsd:string">
            		<xsd:enumeration value="OK"></xsd:enumeration>
            		<xsd:enumeration value="KO"></xsd:enumeration>
            	</xsd:restriction>
            </xsd:simpleType>
            <xsd:element name="ConsultarOrdenes">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="criterios"
            				type="tb_o:CriterioConsultaOrden" maxOccurs="1" minOccurs="1">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="ConsultarOrdenesResponse">
            	<xsd:complexType>
           			<xsd:sequence><xsd:element name="orden" type="tb_o:Orden" maxOccurs="1" minOccurs="0">
           			</xsd:element></xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
    
            <xsd:simpleType name="TipoConsultaOrden">
            	<xsd:restriction base="xsd:string">
            		<xsd:enumeration value="ORDEN"></xsd:enumeration>
            		<xsd:enumeration value="PRODUCTO"></xsd:enumeration>
            	</xsd:restriction>
            </xsd:simpleType>
    
        
        
            <xsd:element name="ConsultarRangoCerradoOrdenes">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="mes" maxOccurs="1" minOccurs="1">
            				<xsd:simpleType>
            					<xsd:restriction base="xsd:int">
            						<xsd:minInclusive value="1"></xsd:minInclusive>
            						<xsd:maxInclusive value="12"></xsd:maxInclusive>
            					</xsd:restriction>
            				</xsd:simpleType>
            			</xsd:element>
            			<xsd:element name="anio" maxOccurs="1"
            				minOccurs="1">
            				<xsd:simpleType>
            					<xsd:restriction base="xsd:int">
            						<xsd:minInclusive value="2015"></xsd:minInclusive>
            						<xsd:maxInclusive value="2020"></xsd:maxInclusive>
            					</xsd:restriction>
            				</xsd:simpleType>
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="ConsultarRangoCerradoOrdenesResponse">
            	<xsd:complexType>
           			<xsd:sequence>
           				<xsd:element name="ordenes_cerradas"
           					type="tb_o:RespuestaOrdenCerrada" maxOccurs="1" minOccurs="1">
           				</xsd:element>
           			</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="ConsultarRankingAbiertasOrdenes">
            	<xsd:complexType>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="ConsultarRankingAbiertasOrdenesResponse">
            	<xsd:complexType>
           			<xsd:sequence><xsd:element name="ordenes" type="tb_o:Orden" maxOccurs="unbounded" minOccurs="0">
           			</xsd:element></xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="ConsultarRankingCerradoOrdenes">
            	<xsd:complexType>
            	</xsd:complexType>
            </xsd:element>
			<xsd:element name="ConsultarRankingCerradoOrdenesResponse">
				<xsd:complexType>
					<xsd:sequence><xsd:element name="ordenes" type="tb_o:Orden" maxOccurs="unbounded" minOccurs="0">
					</xsd:element></xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ConsultarClientesOrdenesFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element
							name="ConsultarClientesOrdenesFault" type="tb_o:Error" maxOccurs="1" minOccurs="0">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CancelarOrdenesFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="CancelarOrdenesFault"
							type="tb_o:Error" maxOccurs="1" minOccurs="0">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CrearOrdenesFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="CrearOrdenesFault"
							type="tb_o:Error" maxOccurs="1" minOccurs="0">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ConsultarOrdenesFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ConsultarOrdenesFault"
							type="tb_o:Error" maxOccurs="1" minOccurs="0">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ConsultarRangoCerradoOrdenesFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element
							name="ConsultarRangoCerradoOrdenesFault" type="tb_o:Error" maxOccurs="1" minOccurs="0">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ConsultarRankingAbiertasOrdenesFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ConsultarRankingAbiertasOrdenesFault"
							type="tb_o:Error" maxOccurs="1" minOccurs="0">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ConsultarRankingCerradoOrdenesFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ConsultarRankingCerradoOrdenesFault"
							type="tb_o:Error" maxOccurs="1" minOccurs="0">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="CriterioConsultaOrden">
            	<xsd:sequence>
            		<xsd:element name="tipo_consulta"
            			type="tb_o:TipoConsultaOrden">
            		</xsd:element>
            		<xsd:element name="codigo" type="xsd:string"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
    
    
            <xsd:complexType name="RespuestaOrdenCerrada">
            	<xsd:sequence>
            		<xsd:element name="ordenes_cerradas"
            			type="xsd:int" maxOccurs="1" minOccurs="1">
            		</xsd:element>
            		<xsd:element name="total_mes" type="xsd:double" maxOccurs="1" minOccurs="1"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ConsultarClientesOrdenesRequest">
    <wsdl:part element="tb_o:ConsultarClientesOrdenes" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ConsultarClientesOrdenesResponse">
    <wsdl:part element="tb_o:ConsultarClientesOrdenesResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="CancelarOrdenesRequest">
  	<wsdl:part name="parameters" element="tb_o:CancelarOrdenes"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="CancelarOrdenesResponse">
  	<wsdl:part name="parameters" element="tb_o:CancelarOrdenesResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="CrearOrdenesRequest">
  	<wsdl:part name="parameters" element="tb_o:CrearOrdenes"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="CrearOrdenesResponse">
  	<wsdl:part name="parameters" element="tb_o:CrearOrdenesResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarOrdenesRequest">
  	<wsdl:part name="parameters" element="tb_o:ConsultarOrdenes"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarOrdenesResponse">
  	<wsdl:part name="parameters" element="tb_o:ConsultarOrdenesResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarRangoCerradoOrdenesRequest">
  	<wsdl:part name="parameters" element="tb_o:ConsultarRangoCerradoOrdenes"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarRangoCerradoOrdenesResponse">
  	<wsdl:part name="parameters" element="tb_o:ConsultarRangoCerradoOrdenesResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarRankingAbiertasOrdenesRequest">
  	<wsdl:part name="parameters" element="tb_o:ConsultarRankingAbiertasOrdenes"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarRankingAbiertasOrdenesResponse">
  	<wsdl:part name="parameters" element="tb_o:ConsultarRankingAbiertasOrdenesResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarRankingCerradoOrdenesRequest">
  	<wsdl:part name="parameters" element="tb_o:ConsultarRankingCerradoOrdenes"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarRankingCerradoOrdenesResponse">
  	<wsdl:part name="parameters" element="tb_o:ConsultarRankingCerradoOrdenesResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarClientesOrdenesFault">
  	<wsdl:part name="parameters" element="tb_o:ConsultarClientesOrdenesFault"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="CancelarOrdenesFault">
  	<wsdl:part name="parameters" element="tb_o:CancelarOrdenesFault"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="CrearOrdenesFault">
  	<wsdl:part name="parameters" element="tb_o:CrearOrdenesFault"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarOrdenesFault">
  	<wsdl:part name="parameters" element="tb_o:ConsultarOrdenesFault"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarRangoCerradoOrdenesFault">
  	<wsdl:part name="parameters" element="tb_o:ConsultarRangoCerradoOrdenesFault"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarRankingAbiertasOrdenesFault">
  	<wsdl:part name="fault" element="tb_o:ConsultarRankingAbiertasOrdenesFault"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarRankingCerradoOrdenesFault">
  	<wsdl:part name="fault" element="tb_o:ConsultarRankingCerradoOrdenesFault"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="OrdenesTouresBalon">
    <wsdl:operation name="ConsultarClientesOrdenes">
      <wsdl:input message="tb_o:ConsultarClientesOrdenesRequest"/>
      <wsdl:output message="tb_o:ConsultarClientesOrdenesResponse"/>
            <wsdl:fault name="fault" message="tb_o:ConsultarClientesOrdenesFault"></wsdl:fault>
        </wsdl:operation>
    <wsdl:operation name="CancelarOrdenes">
    	<wsdl:input message="tb_o:CancelarOrdenesRequest"></wsdl:input>
    	<wsdl:output message="tb_o:CancelarOrdenesResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_o:CancelarOrdenesFault"></wsdl:fault>
        </wsdl:operation>
    <wsdl:operation name="CrearOrdenes">
    	<wsdl:input message="tb_o:CrearOrdenesRequest"></wsdl:input>
    	<wsdl:output message="tb_o:CrearOrdenesResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_o:CrearOrdenesFault"></wsdl:fault>
        </wsdl:operation>
    <wsdl:operation name="ConsultarOrdenes">
    	<wsdl:input message="tb_o:ConsultarOrdenesRequest"></wsdl:input>
    	<wsdl:output message="tb_o:ConsultarOrdenesResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_o:ConsultarOrdenesFault"></wsdl:fault>
        </wsdl:operation>
    <wsdl:operation name="ConsultarRangoCerradoOrdenes">
    	<wsdl:input message="tb_o:ConsultarRangoCerradoOrdenesRequest"></wsdl:input>
    	<wsdl:output message="tb_o:ConsultarRangoCerradoOrdenesResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_o:ConsultarRangoCerradoOrdenesFault"></wsdl:fault>
        </wsdl:operation>
    <wsdl:operation name="ConsultarRankingAbiertasOrdenes">
    	<wsdl:input message="tb_o:ConsultarRankingAbiertasOrdenesRequest"></wsdl:input>
    	<wsdl:output message="tb_o:ConsultarRankingAbiertasOrdenesResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_o:ConsultarRankingAbiertasOrdenesFault"></wsdl:fault>
        </wsdl:operation>
    <wsdl:operation name="ConsultarRankingCerradoOrdenes">
    	<wsdl:input message="tb_o:ConsultarRankingCerradoOrdenesRequest"></wsdl:input>
    	<wsdl:output message="tb_o:ConsultarRankingCerradoOrdenesResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_o:ConsultarRankingCerradoOrdenesFault"></wsdl:fault>
        </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OrdenesTouresBalonSOAP"
  	type="tb_o:OrdenesTouresBalon">
  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="ConsultarClientesOrdenes">
  		<soap:operation
  			soapAction="http://www.touresbalon.com/OrdenesTouresBalon/ConsultarClientesOrdenes" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="fault">
  			<soap:fault use="literal" name="fault" />
  		</wsdl:fault>
  	</wsdl:operation>
  	<wsdl:operation name="CancelarOrdenes">
  		<soap:operation
  			soapAction="http://www.touresbalon.com/OrdenesTouresBalon/CancelarOrdenes" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="fault">
  			<soap:fault use="literal" name="fault" />
  		</wsdl:fault>
  	</wsdl:operation>
  	<wsdl:operation name="CrearOrdenes">
  		<soap:operation
  			soapAction="http://www.touresbalon.com/OrdenesTouresBalon/CrearOrdenes" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="fault">
  			<soap:fault use="literal" name="fault" />
  		</wsdl:fault>
  	</wsdl:operation>
  	<wsdl:operation name="ConsultarOrdenes">
  		<soap:operation
  			soapAction="http://www.touresbalon.com/OrdenesTouresBalon/ConsultarOrdenes" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="fault">
  			<soap:fault use="literal" name="fault" />
  		</wsdl:fault>
  	</wsdl:operation>
  	<wsdl:operation name="ConsultarRangoCerradoOrdenes">
  		<soap:operation
  			soapAction="http://www.touresbalon.com/OrdenesTouresBalon/ConsultarRangoCerradoOrdenes" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="fault">
  			<soap:fault use="literal" name="fault" />
  		</wsdl:fault>
  	</wsdl:operation>
  	<wsdl:operation name="ConsultarRankingAbiertasOrdenes">
  		<soap:operation
  			soapAction="http://www.touresbalon.com/OrdenesTouresBalon/ConsultarRankingAbiertasOrdenes" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="fault">
  			<soap:fault use="literal" name="fault" />
  		</wsdl:fault>
  	</wsdl:operation>
  	<wsdl:operation name="ConsultarRankingCerradoOrdenes">
  		<soap:operation
  			soapAction="http://www.touresbalon.com/OrdenesTouresBalon/ConsultarRankingCerradoOrdenes" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="fault">
  			<soap:fault use="literal" name="fault" />
  		</wsdl:fault>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrdenesTouresBalon">
    <wsdl:port binding="tb_o:OrdenesTouresBalonSOAP" name="OrdenesTouresBalonSOAP">
      <soap:address location="http://www.touresbalon.com/Ordenes"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
