Bases de Datos/Productos/BaseDatos/Objetos/Clientes_y_Ordenes.xml

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ITEMS" type="ITEMS"/>
	<xs:complexType name="ITEMS">
		<xs:sequence>
			<xs:element name="ITEMID" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PRODID" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PRODUCTNAME" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PARTNUM" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PRICE" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="QUANTITY" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ORDID" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PK_ORDERS" type="ORDERS" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ORDERS" type="ORDERS"/>
	<xs:complexType name="ORDERS">
		<xs:sequence>
			<xs:element name="CUSTID" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ORDID" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ORDERDATE" type="xs:date" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PRICE" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="STATUS" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="COMMENTS" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PK_CUSTOMER" type="CUSTOMER" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ADDRESS" type="ADDRESS"/>
	<xs:complexType name="ADDRESS">
		<xs:sequence>
			<xs:element name="STREET" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="STATE" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ZIP" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="COUNTRY" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ADDRESSTYPE" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ADDRID" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="CITY" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CUSTOMER_ADDRESS" type="CUSTOMER_ADDRESS"/>
	<xs:complexType name="CUSTOMER_ADDRESS">
		<xs:sequence>
			<xs:element name="CUSTID" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ADDRESSID" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ADDRESS" type="ADDRESS" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PK_CUSTOMER" type="CUSTOMER" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CUSTOMER" type="CUSTOMER"/>
	<xs:complexType name="CUSTOMER">
		<xs:sequence>
			<xs:element name="CUSTID" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="FNAME" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="LNAME" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PHONENUMBER" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="EMAIL" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PASSWORD" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="CREDITCARDTYPE" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="CREDITCARDNUMBER" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="STATUS" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
