B2C/B2CTouresBalon/B2CTouresBalon/Service References/ServiceProxyB2C/ServiceProxyB2C1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tb_b2="http://www.touresbalon.com/ServiceProxyB2C/" name="ServiceProxyB2C" targetNamespace="http://www.touresbalon.com/ServiceProxyB2C/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.touresbalon.com/ServiceProxyB2C/">
      <xsd:element name="RegistrarCliente">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="cliente" type="tb_b2:Cliente" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="RegistrarClienteResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="registrarClienteResponse" type="tb_b2:RegistrarClienteReponseType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AutenticarCliente">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="usuario" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="contrasenia" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AutenticarClienteResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="respuesta" type="tb_b2:RespuestaGenerica" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ActualizarCliente">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="cliente" type="tb_b2:Cliente" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ActualizarClienteResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="respuesta" type="tb_b2:RespuestaGenerica" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ActualizarContraseniaCliente">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="usuario" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="contrasenia" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ActualizarContraseniaClienteResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="respuesta" type="tb_b2:RespuestaGenerica" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ConsultarProducto">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="cadena" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ConsultarProductoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="productos" type="tb_b2:Producto" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ConsultarCampaniaProducto">
        <xsd:complexType>
          <xsd:sequence />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ConsultarCampaniaProductoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="Productos" type="tb_b2:Producto" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ConsultarClientesOrdenes">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="id_cliente" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ConsultarClientesOrdenesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="orden" type="tb_b2:Orden" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CancelarOrdenes">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="id_orden" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CancelarOrdenesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="respuesta" type="tb_b2:RespuestaGenerica" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CrearOrdenes">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="orden" type="tb_b2:Orden" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CrearOrdenesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="respuesta" type="tb_b2:RespuestaGenerica" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:simpleType name="RespuestaGenerica">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="OK" />
          <xsd:enumeration value="KO" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="Error">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="codigo" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="mensaje" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Direccion">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="pais" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ciudad" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="estado" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="cod_postal" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="tipo_dir" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="dir_calle" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Cliente">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="nombres" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="apellidos" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="num_tel" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="email" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="contrasenia" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="tipo_tarjeta" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="numero_tarjeta" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="direccion" type="tb_b2:Direccion" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Item">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="id_item" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="id_prod" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="nombre_prod" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="part_num" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="precio" type="xsd:double" />
          <xsd:element minOccurs="1" maxOccurs="1" name="cantidad" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Orden">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="id_orden" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="fecha_orden" type="xsd:date" />
          <xsd:element minOccurs="1" maxOccurs="1" name="precio" type="xsd:double" />
          <xsd:element minOccurs="1" maxOccurs="1" name="estatus" type="tb_b2:EstatusOrden" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="comentarios" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tb_b2:Item" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="EstatusOrden">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="VALIDACION" />
          <xsd:enumeration value="RESERVACION" />
          <xsd:enumeration value="CERRADA" />
          <xsd:enumeration value="RECHAZADA" />
          <xsd:enumeration value="CANCELADA" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="TipoConsultaProducto">
        <xsd:restriction base="xsd:string" />
      </xsd:simpleType>
      <xsd:complexType name="TarifaValores">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="id" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="nombre_tipo" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="precio" type="xsd:double" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Ciudad">
        <xsd:sequence>
          <xsd:element name="id_ciudad" type="xsd:int" />
          <xsd:element name="pais" type="xsd:string" />
          <xsd:element name="tipo_ciudad" type="tb_b2:TarifaValores" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Producto">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="id_producto" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="espectaculo" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="ciudad_espectaculo" type="tb_b2:Ciudad" />
          <xsd:element minOccurs="0" maxOccurs="1" name="fecha_llegada" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="fecha_salida" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="tipo_transporte" type="tb_b2:TarifaValores" />
          <xsd:element minOccurs="1" maxOccurs="1" name="tipo_espectaculo" type="tb_b2:TarifaValores" />
          <xsd:element minOccurs="0" maxOccurs="1" name="tipo_hospedaje" type="tb_b2:TarifaValores" />
          <xsd:element minOccurs="0" maxOccurs="1" name="imagen_producto" type="xsd:base64Binary" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RegistrarClienteReponseType">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="respuesta" type="tb_b2:RespuestaGenerica" />
          <xsd:element minOccurs="0" maxOccurs="1" name="id_cliente" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="EstatusCliente">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="PLATINO" />
          <xsd:enumeration value="DORADO" />
          <xsd:enumeration value="PLATEADO" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="RegistrarClienteFault">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="RegistrarClienteFault" type="tb_b2:Error" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AutenticarClienteFault">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="AutenticarClienteFault" type="tb_b2:Error" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ActualizarClienteFault">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ActualizarClienteFault" type="tb_b2:Error" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ActualizarContraseniaClienteFault">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ActualizarContraseniaClienteFault" type="tb_b2:Error" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ConsultarProductoFault">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ConsultarProductoFault" type="tb_b2:Error" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ConsultarCampaniaProductoFault">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ConsultarCampaniaProductoFault" type="tb_b2:Error" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ConsultarClientesOrdenesFault">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ConsultarClientesOrdenesFault" type="tb_b2:Error" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CancelarOrdenesFault">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="CancelarOrdenesFault" type="tb_b2:Error" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CrearOrdenesFault">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="CrearOrdenesFault" type="tb_b2:Error" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:simpleType name="TipoConsultaOrden">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="ORDEN" />
          <xsd:enumeration value="PRODUCTO" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="CriterioConsultaOrden">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="tipo_consulta" type="tb_b2:TipoConsultaOrden" />
          <xsd:element minOccurs="1" maxOccurs="1" name="codigo" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RespuestaOrdenCerrada">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="ordenes_cerradas" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="total_mes" type="xsd:double" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="TipoTarifa">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="TRANSPORTE" />
          <xsd:enumeration value="HOSPEDAJE" />
          <xsd:enumeration value="ESPECTACULO" />
          <xsd:enumeration value="CIUDAD" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="Campania">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="id_producto" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="fecha_inicio_campania" type="xsd:date" />
          <xsd:element minOccurs="1" maxOccurs="1" name="fecha_fin_campania" type="xsd:date" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ConsultaTop5Productos">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="id_producto" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ConsultaTop5ProductosResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="lista_productos_top" type="tb_b2:Producto" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ConsultaTop5ProductosFault">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ConsultaTop5ProductosFault" type="tb_b2:Error" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CrearOrdenesFault">
    <wsdl:part name="parameters" element="tb_b2:CrearOrdenesFault" />
  </wsdl:message>
  <wsdl:message name="ActualizarClienteRequest">
    <wsdl:part name="parameters" element="tb_b2:ActualizarCliente" />
  </wsdl:message>
  <wsdl:message name="ActualizarContraseniaClienteRequest">
    <wsdl:part name="parameters" element="tb_b2:ActualizarContraseniaCliente" />
  </wsdl:message>
  <wsdl:message name="CrearOrdenesRequest">
    <wsdl:part name="parameters" element="tb_b2:CrearOrdenes" />
  </wsdl:message>
  <wsdl:message name="RegistrarClienteResponse">
    <wsdl:part name="parameters" element="tb_b2:RegistrarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarProductoRequest">
    <wsdl:part name="parameters" element="tb_b2:ConsultarProducto" />
  </wsdl:message>
  <wsdl:message name="RegistrarClienteFault">
    <wsdl:part name="parameters" element="tb_b2:RegistrarClienteFault" />
  </wsdl:message>
  <wsdl:message name="AutenticarClienteResponse">
    <wsdl:part name="parameters" element="tb_b2:AutenticarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultaTop5ProductosResponse">
    <wsdl:part name="parameters" element="tb_b2:ConsultaTop5ProductosResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarContraseniaClienteResponse">
    <wsdl:part name="parameters" element="tb_b2:ActualizarContraseniaClienteResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarClienteResponse">
    <wsdl:part name="parameters" element="tb_b2:ActualizarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarClientesOrdenesFault">
    <wsdl:part name="parameters" element="tb_b2:ConsultarClientesOrdenesFault" />
  </wsdl:message>
  <wsdl:message name="RegistrarClienteRequest">
    <wsdl:part name="parameters" element="tb_b2:RegistrarCliente" />
  </wsdl:message>
  <wsdl:message name="ConsultarProductoResponse">
    <wsdl:part name="parameters" element="tb_b2:ConsultarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="CancelarOrdenesResponse">
    <wsdl:part name="parameters" element="tb_b2:CancelarOrdenesResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarCampaniaProductoRequest">
    <wsdl:part name="parameters" element="tb_b2:ConsultarCampaniaProducto" />
  </wsdl:message>
  <wsdl:message name="ConsultarCampaniaProductoFault">
    <wsdl:part name="parameters" element="tb_b2:ConsultarCampaniaProductoFault" />
  </wsdl:message>
  <wsdl:message name="ActualizarContraseniaClienteFault">
    <wsdl:part name="parameters" element="tb_b2:ActualizarContraseniaClienteFault" />
  </wsdl:message>
  <wsdl:message name="AutenticarClienteFault">
    <wsdl:part name="parameters" element="tb_b2:AutenticarClienteFault" />
  </wsdl:message>
  <wsdl:message name="CrearOrdenesResponse">
    <wsdl:part name="parameters" element="tb_b2:CrearOrdenesResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarProductoFault">
    <wsdl:part name="parameters" element="tb_b2:ConsultarProductoFault" />
  </wsdl:message>
  <wsdl:message name="ConsultaTop5ProductosFault">
    <wsdl:part name="parameters" element="tb_b2:ConsultaTop5ProductosFault" />
  </wsdl:message>
  <wsdl:message name="CancelarOrdenesRequest">
    <wsdl:part name="parameters" element="tb_b2:CancelarOrdenes" />
  </wsdl:message>
  <wsdl:message name="ConsultaTop5ProductosRequest">
    <wsdl:part name="parameters" element="tb_b2:ConsultaTop5Productos" />
  </wsdl:message>
  <wsdl:message name="ConsultarClientesOrdenesResponse">
    <wsdl:part name="parameters" element="tb_b2:ConsultarClientesOrdenesResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarClientesOrdenesRequest">
    <wsdl:part name="parameters" element="tb_b2:ConsultarClientesOrdenes" />
  </wsdl:message>
  <wsdl:message name="ActualizarClienteFault">
    <wsdl:part name="parameters" element="tb_b2:ActualizarClienteFault" />
  </wsdl:message>
  <wsdl:message name="CancelarOrdenesFault">
    <wsdl:part name="parameters" element="tb_b2:CancelarOrdenesFault" />
  </wsdl:message>
  <wsdl:message name="ConsultarCampaniaProductoResponse">
    <wsdl:part name="parameters" element="tb_b2:ConsultarCampaniaProductoResponse" />
  </wsdl:message>
  <wsdl:message name="AutenticarClienteRequest">
    <wsdl:part name="parameters" element="tb_b2:AutenticarCliente" />
  </wsdl:message>
  <wsdl:portType name="ServiceProxyB2C">
    <wsdl:operation name="RegistrarCliente">
      <wsdl:input message="tb_b2:RegistrarClienteRequest" />
      <wsdl:output message="tb_b2:RegistrarClienteResponse" />
      <wsdl:fault name="fault" message="tb_b2:RegistrarClienteFault" />
    </wsdl:operation>
    <wsdl:operation name="AutenticarCliente">
      <wsdl:input message="tb_b2:AutenticarClienteRequest" />
      <wsdl:output message="tb_b2:AutenticarClienteResponse" />
      <wsdl:fault name="fault" message="tb_b2:AutenticarClienteFault" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarCliente">
      <wsdl:input message="tb_b2:ActualizarClienteRequest" />
      <wsdl:output message="tb_b2:ActualizarClienteResponse" />
      <wsdl:fault name="fault" message="tb_b2:ActualizarClienteFault" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarContraseniaCliente">
      <wsdl:input message="tb_b2:ActualizarContraseniaClienteRequest" />
      <wsdl:output message="tb_b2:ActualizarContraseniaClienteResponse" />
      <wsdl:fault name="fault" message="tb_b2:ActualizarContraseniaClienteFault" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarProducto">
      <wsdl:input message="tb_b2:ConsultarProductoRequest" />
      <wsdl:output message="tb_b2:ConsultarProductoResponse" />
      <wsdl:fault name="fault" message="tb_b2:ConsultarProductoFault" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarCampaniaProducto">
      <wsdl:input message="tb_b2:ConsultarCampaniaProductoRequest" />
      <wsdl:output message="tb_b2:ConsultarCampaniaProductoResponse" />
      <wsdl:fault name="fault" message="tb_b2:ConsultarCampaniaProductoFault" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarClientesOrdenes">
      <wsdl:input message="tb_b2:ConsultarClientesOrdenesRequest" />
      <wsdl:output message="tb_b2:ConsultarClientesOrdenesResponse" />
      <wsdl:fault name="fault" message="tb_b2:ConsultarClientesOrdenesFault" />
    </wsdl:operation>
    <wsdl:operation name="CancelarOrdenes">
      <wsdl:input message="tb_b2:CancelarOrdenesRequest" />
      <wsdl:output message="tb_b2:CancelarOrdenesResponse" />
      <wsdl:fault name="fault" message="tb_b2:CancelarOrdenesFault" />
    </wsdl:operation>
    <wsdl:operation name="CrearOrdenes">
      <wsdl:input message="tb_b2:CrearOrdenesRequest" />
      <wsdl:output message="tb_b2:CrearOrdenesResponse" />
      <wsdl:fault name="fault" message="tb_b2:CrearOrdenesFault" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaTop5Productos">
      <wsdl:input message="tb_b2:ConsultaTop5ProductosRequest" />
      <wsdl:output message="tb_b2:ConsultaTop5ProductosResponse" />
      <wsdl:fault name="fault" message="tb_b2:ConsultaTop5ProductosFault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceProxyB2CSOAP" type="tb_b2:ServiceProxyB2C">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegistrarCliente">
      <soap:operation soapAction="http://www.touresbalon.com/ServiceProxyB2C/RegistrarCliente" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault use="literal" name="fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AutenticarCliente">
      <soap:operation soapAction="http://www.touresbalon.com/ServiceProxyB2C/AutenticarCliente" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault use="literal" name="fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ActualizarCliente">
      <soap:operation soapAction="http://www.touresbalon.com/ServiceProxyB2C/ActualizarCliente" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault use="literal" name="fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ActualizarContraseniaCliente">
      <soap:operation soapAction="http://www.touresbalon.com/ServiceProxyB2C/ActualizarContraseniaCliente" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault use="literal" name="fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ConsultarProducto">
      <soap:operation soapAction="http://www.touresbalon.com/ServiceProxyB2C/ConsultarProducto" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault use="literal" name="fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ConsultarCampaniaProducto">
      <soap:operation soapAction="http://www.touresbalon.com/ServiceProxyB2C/ConsultarCampaniaProducto" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault use="literal" name="fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ConsultarClientesOrdenes">
      <soap:operation soapAction="http://www.touresbalon.com/ServiceProxyB2C/ConsultarClientesOrdenes" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault use="literal" name="fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CancelarOrdenes">
      <soap:operation soapAction="http://www.touresbalon.com/ServiceProxyB2C/CancelarOrdenes" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault use="literal" name="fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CrearOrdenes">
      <soap:operation soapAction="http://www.touresbalon.com/ServiceProxyB2C/CrearOrdenes" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault use="literal" name="fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ConsultaTop5Productos">
      <soap:operation soapAction="http://www.touresbalon.com/ServiceProxyB2C/ConsultaTop5Productos" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault use="literal" name="fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceProxyB2C">
    <wsdl:port name="ServiceProxyB2CSOAP" binding="tb_b2:ServiceProxyB2CSOAP">
      <soap:address location="http://localhost:8082/ServiceProxyB2C" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>