B2C/B2C_TouresBalon/B2C_TouresBalon/Service References/ServicioProductos/ServicioProductos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioProductos" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60151/ServicioProductos.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60151/ServicioProductos.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60151/ServicioProductos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServicioProductos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioProductos_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IServicioProductos_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioProductos_ConsultarProductos_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarProductos" />
  </wsdl:message>
  <wsdl:message name="IServicioProductos_ConsultarProductos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarProductosResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioProductos_ConsultarPromociones_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPromociones" />
  </wsdl:message>
  <wsdl:message name="IServicioProductos_ConsultarPromociones_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPromocionesResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioProductos">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioProductos/DoWork" message="tns:IServicioProductos_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioProductos/DoWorkResponse" message="tns:IServicioProductos_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarProductos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioProductos/ConsultarProductos" message="tns:IServicioProductos_ConsultarProductos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioProductos/ConsultarProductosResponse" message="tns:IServicioProductos_ConsultarProductos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarPromociones">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioProductos/ConsultarPromociones" message="tns:IServicioProductos_ConsultarPromociones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioProductos/ConsultarPromocionesResponse" message="tns:IServicioProductos_ConsultarPromociones_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioProductos" type="tns:IServicioProductos">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IServicioProductos/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarProductos">
      <soap:operation soapAction="http://tempuri.org/IServicioProductos/ConsultarProductos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarPromociones">
      <soap:operation soapAction="http://tempuri.org/IServicioProductos/ConsultarPromociones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioProductos">
    <wsdl:port name="BasicHttpBinding_IServicioProductos" binding="tns:BasicHttpBinding_IServicioProductos">
      <soap:address location="http://localhost:60151/ServicioProductos.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>