B2C/B2C_TouresBalon/B2C_TouresBalon/Service References/ServicioProductos/ServicioProductos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServicioProductos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServicioProductos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProducto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Producto" nillable="true" type="tns:Producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProducto" nillable="true" type="tns:ArrayOfProducto" />
  <xs:complexType name="Producto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ciudad" nillable="true" type="tns:Ciudad" />
      <xs:element minOccurs="0" name="espectaculo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fecha_llegada" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fecha_salida" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id_producto" type="xs:int" />
      <xs:element minOccurs="0" name="imagen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipo_espectaculo" nillable="true" type="tns:TarifaTipo" />
      <xs:element minOccurs="0" name="tipo_hospedate" nillable="true" type="tns:TarifaTipo" />
      <xs:element minOccurs="0" name="tipo_transporte" nillable="true" type="tns:TarifaTipo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Producto" nillable="true" type="tns:Producto" />
  <xs:complexType name="Ciudad">
    <xs:sequence>
      <xs:element minOccurs="0" name="id_ciudad" type="xs:int" />
      <xs:element minOccurs="0" name="pais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipo_ciudad" nillable="true" type="tns:TarifaTipo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ciudad" nillable="true" type="tns:Ciudad" />
  <xs:complexType name="TarifaTipo">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre_tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="precio" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TarifaTipo" nillable="true" type="tns:TarifaTipo" />
</xs:schema>