Bases%20de%20Datos/Productos/BaseDatos/Objetos/Productos.xml

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="PRODUCTO" type="PRODUCTO"/>
	<xs:complexType name="PRODUCTO">
		<xs:sequence>
			<xs:element name="ID" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ESPECTACULO" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="FECHA_ESPECTACULO" type="xs:date" minOccurs="1" maxOccurs="1"/>
			<xs:element name="CIUDAD_ESPECTACULO" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="FECHA_LLEGADA" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="FECHA_SALIDA" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="TIPO_TRANSPORTE" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="TIPO_ESPECTACULO" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="TIPO_HOSPEDAJE" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="TARIFA_ESPECTACULO" type="TARIFA_ESPECTACULO" minOccurs="1" maxOccurs="1"/>
			<xs:element name="TARIFA_HOSPEDAJE" type="TARIFA_HOSPEDAJE" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TARIFA_TRANSPORTE_PK" type="TARIFA_TRANSPORTE" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CIUDAD" type="CIUDAD" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="TARIFA_HOSPEDAJE" type="TARIFA_HOSPEDAJE"/>
	<xs:complexType name="TARIFA_HOSPEDAJE">
		<xs:sequence>
			<xs:element name="ID" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="NOMBRE_TIPO" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PRECIO" type="xs:float" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="TARIFA_TRANSPORTE" type="TARIFA_TRANSPORTE"/>
	<xs:complexType name="TARIFA_TRANSPORTE">
		<xs:sequence>
			<xs:element name="ID" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="NOMBRE_TIPO" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PRECIO" type="xs:float" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="TARIFA_ESPECTACULO" type="TARIFA_ESPECTACULO"/>
	<xs:complexType name="TARIFA_ESPECTACULO">
		<xs:sequence>
			<xs:element name="ID" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="NOMBRE_TIPO" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PRECIO" type="xs:float" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CIUDAD" type="CIUDAD"/>
	<xs:complexType name="CIUDAD">
		<xs:sequence>
			<xs:element name="ID_CIUDAD" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PAS" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="TIPO_CIUDAD" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="TARIFA_CIUDAD" type="TARIFA_CIUDAD" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="TARIFA_CIUDAD" type="TARIFA_CIUDAD"/>
	<xs:complexType name="TARIFA_CIUDAD">
		<xs:sequence>
			<xs:element name="ID" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="NOMBRE_TIPO" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PRECIO" type="xs:float" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
