Servicios/WSDL_TouresBalon/src/aes/pica/wsdl/proxyservices/ServiceProxyOMS.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tb_om="http://www.example.org/ServiceProxyOMS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceProxyOMS" targetNamespace="http://www.example.org/ServiceProxyOMS/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/ServiceProxyOMS/">
      <xsd:element name="RegistrarCliente">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="cliente" type="xsd:string" maxOccurs="1" minOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="RegistrarClienteResponse">
        <xsd:complexType>
                    <xsd:sequence>
                    	<xsd:element name="registrarClienteResponse"
                    		type="tb_om:RegistrarClienteReponseType" maxOccurs="1" minOccurs="1">
                    	</xsd:element>
                    </xsd:sequence>
                    
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="RegistrarClienteFault">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="RegistrarClienteFault"
      				type="tb_om:Error">
      			</xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    
      <xsd:complexType name="Cliente">
      	<xsd:sequence>

                    <xsd:element name="id_cliente" type="xsd:int" maxOccurs="1" minOccurs="0"></xsd:element>
                    <xsd:element name="nombres" type="xsd:string"
      			maxOccurs="1" minOccurs="1">
      		</xsd:element>
      		<xsd:element name="apellidos" type="xsd:string"
      			maxOccurs="1" minOccurs="1">
      		</xsd:element>
      		<xsd:element name="num_tel" type="xsd:string"
      			maxOccurs="1" minOccurs="0">
      		</xsd:element>
      		<xsd:element name="email" type="xsd:string" maxOccurs="1"
      			minOccurs="1">
      		</xsd:element>
      		<xsd:element name="contrasenia" type="xsd:string"
      			maxOccurs="1" minOccurs="1">
      		</xsd:element>
      		<xsd:element name="tipo_tarjeta" type="xsd:string"
      			maxOccurs="1" minOccurs="0">
      		</xsd:element>
      		<xsd:element name="numero_tarjeta" type="xsd:string"
      			maxOccurs="1" minOccurs="0">
      		</xsd:element>
      		<xsd:element name="direccion" type="tb_om:Direccion"
      			maxOccurs="unbounded" minOccurs="0">
      		</xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
        
      <xsd:complexType name="Direccion">
      	<xsd:sequence>
      		<xsd:element name="id_direccion" type="xsd:int" maxOccurs="1" minOccurs="0"></xsd:element>
      		<xsd:element name="pais" type="xsd:string" maxOccurs="1"
      			minOccurs="0">
      		</xsd:element>
      		<xsd:element name="ciudad" type="xsd:string" maxOccurs="1"
      			minOccurs="0">
      		</xsd:element>
      		<xsd:element name="estado" type="xsd:string" maxOccurs="1"
      			minOccurs="0">
      		</xsd:element>
      		<xsd:element name="cod_postal" type="xsd:string"
      			maxOccurs="1" minOccurs="0">
      		</xsd:element>
      		<xsd:element name="tipo_dir" type="xsd:string"
      			maxOccurs="1" minOccurs="0">
      		</xsd:element>
      		<xsd:element name="dir_calle" type="xsd:string"
      			maxOccurs="1" minOccurs="0">
      		</xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
        
      <xsd:complexType name="RegistrarClienteReponseType">
      	<xsd:sequence>
      		<xsd:element name="respuesta"
      			type="tb_om:RespuestaGenerica" maxOccurs="1" minOccurs="1">
      		</xsd:element>
      		<xsd:element name="id_cliente" type="xsd:int" maxOccurs="1" minOccurs="0"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
        
      <xsd:simpleType name="RespuestaGenerica">
      	<xsd:restriction base="xsd:string">
      		<xsd:enumeration value="OK"></xsd:enumeration>
      		<xsd:enumeration value="KO"></xsd:enumeration>
      	</xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="ActualizarCliente">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="cliente" type="tb_om:Cliente" maxOccurs="1" minOccurs="1"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="ActualizarClienteResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="respuesta" type="tb_om:RespuestaGenerica" maxOccurs="1" minOccurs="1"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="ActualizarClienteFault">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="ActualizarClienteFault"
      				type="tb_om:Error">
      			</xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="ActualizarContraseniaCliente">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="usuario" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      			<xsd:element name="contrasenia" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="ActualizarContraseniaClienteResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="respuesta" type="tb_om:RespuestaGenerica" maxOccurs="1" minOccurs="1"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="ActualizarContraseniaClienteFault">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="ActualizarContraseniaClienteFault"
      				type="tb_om:Error">
      			</xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="ActualizarEstatusCliente">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="id_cliente" type="xsd:int"
      				maxOccurs="1" minOccurs="1">
      			</xsd:element>
      			<xsd:element name="estatus" type="tb_om:EstatusCliente" maxOccurs="1" minOccurs="1"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="ActualizarEstatusClienteResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="respuesta" type="tb_om:RespuestaGenerica" maxOccurs="1" minOccurs="1"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="ActualizarEstatusClienteFault">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="ActualizarEstatusClienteFault"
      				type="tb_om:Error">
      			</xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    
      <xsd:simpleType name="EstatusCliente">
      	<xsd:restriction base="xsd:string">
      		<xsd:enumeration value="PLATINO"></xsd:enumeration>
      		<xsd:enumeration value="DORADO"></xsd:enumeration>
      		<xsd:enumeration value="PLATEADO"></xsd:enumeration>
      	</xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="ConsultarPorIdentificacionCliente">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="id_cliente" type="xsd:int" maxOccurs="1" minOccurs="1"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="ConsultarPorIdentificacionClienteResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="cliente" type="tb_om:Cliente" maxOccurs="1" minOccurs="0"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="ConsultarPorIdentificacionClienteFault">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element
      				name="ConsultarPorIdentificacionClienteFault"
      				type="tb_om:Error">
      			</xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="ConsultarPorProductoCliente">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="id_producto" type="xsd:int" maxOccurs="1" minOccurs="1"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="ConsultarPorProductoClienteResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="cliente" type="tb_om:Cliente" maxOccurs="unbounded" minOccurs="0"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="ConsultarPorProductoClienteFault">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="ConsultarPorProductoClienteFault"
      				type="tb_om:Error">
      			</xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="ConsultarPorFactRangoCliente">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="fecha_inicial" type="xsd:dateTime"
      				maxOccurs="1" minOccurs="1">
      			</xsd:element>
      			<xsd:element name="fecha_fin" type="xsd:dateTime" maxOccurs="1" minOccurs="1"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="ConsultarPorFactRangoClienteResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="cliente" type="tb_om:Cliente" maxOccurs="unbounded" minOccurs="0"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="ConsultarPorFactRangoClienteFault">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="ConsultarPorFactRangoClienteFault"
      				type="tb_om:Error">
      			</xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="ConsultarProducto">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="tipo_consulta" type="tb_om:TipoConsultaProducto" maxOccurs="1" minOccurs="1"></xsd:element>
      			<xsd:element name="cadena_consulta" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="ConsultarProductoResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="productos" type="tb_om:Producto" maxOccurs="unbounded" minOccurs="0"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="ConsultarProductoFault">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="ConsultarProductoFault"
      				type="tb_om:Error">
      			</xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    
        
      <xsd:simpleType name="TipoConsultaProducto">
      	<xsd:restriction base="xsd:string">
      		<xsd:enumeration value="NOMBRE"></xsd:enumeration>
      		<xsd:enumeration value="DESCRIPCION"></xsd:enumeration>
      		<xsd:enumeration value="ID"></xsd:enumeration>

      	</xsd:restriction>
      </xsd:simpleType>
    
      <xsd:complexType name="Producto">
      	<xsd:sequence>
      		<xsd:element name="id_producto" type="xsd:int"
      			maxOccurs="1" minOccurs="1">
      		</xsd:element>

      		<xsd:element name="espectaculo" type="xsd:string"
      			maxOccurs="1" minOccurs="1">
      		</xsd:element>
      		<xsd:element name="descripcion" type="xsd:string"
      			maxOccurs="1" minOccurs="1">
      		</xsd:element>
      		<xsd:element name="ciudad_espectaculo" type="tb_om:Ciudad"
      			maxOccurs="1" minOccurs="1">
      		</xsd:element>
      		<xsd:element name="fecha_llegada" type="xsd:dateTime"
      			maxOccurs="1" minOccurs="0">
      		</xsd:element>
      		<xsd:element name="fecha_salida" type="xsd:dateTime"
      			maxOccurs="1" minOccurs="0">
      		</xsd:element>
      		<xsd:element name="fecha_espectaculo" type="xsd:dateTime" maxOccurs="1" minOccurs="0"></xsd:element>
      		<xsd:element name="tipo_transporte"
      			type="tb_om:TarifaValores" maxOccurs="1" minOccurs="0">
      		</xsd:element>
      		<xsd:element name="tipo_espectaculo"
      			type="tb_om:TarifaValores" maxOccurs="1" minOccurs="1">
      		</xsd:element>
      		<xsd:element name="tipo_hospedaje"
      			type="tb_om:TarifaValores" maxOccurs="1" minOccurs="0">
      		</xsd:element>
      		<xsd:element name="imagen_producto" type="xsd:string"
      			maxOccurs="1" minOccurs="0">
      		</xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
        
      <xsd:complexType name="Ciudad">
      	<xsd:sequence>
      		<xsd:element name="id_ciudad" type="xsd:int" maxOccurs="1" minOccurs="0"></xsd:element>
      		<xsd:element name="pais" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      		<xsd:element name="tipo_ciudad" type="tb_om:TarifaValores" maxOccurs="unbounded" minOccurs="0"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
        
      <xsd:complexType name="TarifaValores">
            	<xsd:sequence>
            		<xsd:element name="id" type="xsd:int" maxOccurs="1" minOccurs="1"></xsd:element>
            		<xsd:element name="nombre_tipo" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
            		<xsd:element name="precio" type="xsd:double" maxOccurs="1" minOccurs="1"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
      <xsd:element name="ConsultarPorEspectaculoProducto">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="espectaculo" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="ConsultarPorEspectaculoProductoResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="productos" type="tb_om:Producto" maxOccurs="unbounded" minOccurs="0"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="ConsultarPorEspectaculoProductoFault">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element
      				name="ConsultarPorEspectaculoProductoFault"
      				type="tb_om:Error">
      			</xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="ConsultarRankingFechaProducto">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="fecha_inicial" type="xsd:dateTime"
      				maxOccurs="1" minOccurs="1">
      			</xsd:element>
      			<xsd:element name="fecha_fin" type="xsd:dateTime" maxOccurs="1" minOccurs="1"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="ConsultarRankingFechaProductoResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="productos" type="tb_om:Producto" maxOccurs="unbounded" minOccurs="0"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="ConsultarRankingFechaProductoFault">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="ConsultarRankingFechaProductoFault"
      				type="tb_om:Error">
      			</xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="ConsultarRankingEspectaculosVendidosProducto">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="fecha_inicial" type="xsd:dateTime"
      				maxOccurs="1" minOccurs="1">
      			</xsd:element>
      			<xsd:element name="fecha_fin" type="xsd:dateTime" maxOccurs="1" minOccurs="1"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="ConsultarRankingEspectaculosVendidosProductoResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="tipo_espectaculo" type="tb_om:TarifaValores" maxOccurs="unbounded" minOccurs="0"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element
      	name="ConsultarRankingEspectaculosVendidosProductoFault">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element
      				name="ConsultarRankingEspectaculosVendidosProductoFault"
      				type="tb_om:Error">
      			</xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="ConsultarCampaniaProducto">
      	<xsd:complexType>
      		<xsd:sequence>

      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="ConsultarCampaniaProductoResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="productos" type="tb_om:Producto" maxOccurs="unbounded" minOccurs="0"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="ConsultarCampaniaProductoFault">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="ConsultarCampaniaProductoFault"
      				type="tb_om:Error">
      			</xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="GestionCampaniaProducto">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="tipo_operacion" type="tb_om:TipoAccion"
      				maxOccurs="1" minOccurs="1">
      			</xsd:element>
      			<xsd:element name="campania" type="tb_om:Campania" maxOccurs="1" minOccurs="0"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="GestionCampaniaProductoResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="gestioncampaniaResponse" type="tb_om:TipoGestionCampaniaResponse" maxOccurs="1" minOccurs="1"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="GestionCampaniaProductoFault">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="GestionCampaniaProductoFault"
      				type="tb_om:Error">
      			</xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    
      <xsd:simpleType name="TipoAccion">
      	<xsd:restriction base="xsd:string">
      		<xsd:enumeration value="ADICIONAR"></xsd:enumeration>
      		<xsd:enumeration value="ELIMINAR"></xsd:enumeration>
      		<xsd:enumeration value="MODIFICAR"></xsd:enumeration>
      	</xsd:restriction>
      </xsd:simpleType>
    
            <xsd:complexType name="Campania">
            	<xsd:sequence>
            		<xsd:element name="id_producto" type="tb_om:Producto"
            			maxOccurs="1" minOccurs="1">
            		</xsd:element>
            		<xsd:element name="fecha_inicio_campania"
            			type="xsd:dateTime" maxOccurs="1" minOccurs="1">
            		</xsd:element>
            		<xsd:element name="fecha_fin_campania" type="xsd:dateTime" maxOccurs="1" minOccurs="1"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
        
            <xsd:complexType name="TipoGestionCampaniaResponse">
            	<xsd:sequence>
            		<xsd:element name="respuesta"
            			type="tb_om:RespuestaGenerica" maxOccurs="1" minOccurs="1">
            		</xsd:element>

            		<xsd:element name="id_campania" type="xsd:int" maxOccurs="1" minOccurs="0"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
            <xsd:element name="GestionProducto">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="tipo_operacion"
            				type="tb_om:TipoAccion" maxOccurs="1" minOccurs="1">
            			</xsd:element>
            			<xsd:element name="producto"
            				type="tb_om:Producto" maxOccurs="1" minOccurs="1">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="GestionProductoResponse">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element name="gestion_producto_reponse" type="tb_om:TipoGestionProductoResponse" maxOccurs="1" minOccurs="1"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="GestionProductoFault">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element name="GestionProductoFault"
            				type="tb_om:Error">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
    
            <xsd:complexType name="TipoGestionProductoResponse">
            	<xsd:sequence>
            		<xsd:element name="respuesta"
            			type="tb_om:RespuestaGenerica" maxOccurs="1" minOccurs="1">
            		</xsd:element>
            		<xsd:element name="id_producto" type="xsd:int" maxOccurs="1" minOccurs="0"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
            <xsd:element name="GestionTarifa">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="tipo_operacion"
            				type="tb_om:TipoAccion" maxOccurs="1" minOccurs="1">
            			</xsd:element>
            			<xsd:element name="tipo_tarifa"
            				type="tb_om:TipoTarifa" maxOccurs="1" minOccurs="1">
            			</xsd:element>
            			<xsd:element name="tarifa"
            				type="tb_om:TarifaValores" maxOccurs="1" minOccurs="1">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="GestionTarifaResponse">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element name="respuesta" type="tb_om:TipoGestionTarifaResponse" maxOccurs="1" minOccurs="1"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="GestionTarifaFault">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element name="GestionTarifaFault"
            				type="tb_om:Error">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
    
            <xsd:simpleType name="TipoTarifa">
            	<xsd:restriction base="xsd:string">
            		<xsd:enumeration value="TRANSPORTE"></xsd:enumeration>
            		<xsd:enumeration value="HOSPEDAJE"></xsd:enumeration>
            		<xsd:enumeration value="ESPECTACULO"></xsd:enumeration>
            		<xsd:enumeration value="CIUDAD"></xsd:enumeration>
            	</xsd:restriction>
            </xsd:simpleType>
    
            <xsd:complexType name="TipoGestionTarifaResponse">
            	<xsd:sequence>
            		<xsd:element name="respuesta" type="tb_om:RespuestaGenerica" maxOccurs="1" minOccurs="1"></xsd:element>
                    <xsd:element name="tarifa" type="tb_om:TipoTarifa" maxOccurs="1" minOccurs="1"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="ConsultarOrdenes">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="criterios" type="tb_om:CriterioConsultaOrden" maxOccurs="1" minOccurs="1"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="ConsultarOrdenesResponse">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element name="orden" type="tb_om:Orden" maxOccurs="unbounded" minOccurs="0"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="ConsultarOrdenesFault">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element name="ConsultarOrdenesFault"
            				type="tb_om:Error">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
    
			<xsd:complexType name="CriterioConsultaOrden">
            	<xsd:sequence>
            		<xsd:element name="tipo_consulta"
            			type="tb_om:TipoConsultaOrden" maxOccurs="1" minOccurs="1">
            		</xsd:element>
            		<xsd:element name="codigo" type="xsd:int" maxOccurs="1" minOccurs="1"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
        
            <xsd:simpleType name="TipoConsultaOrden">
            	<xsd:restriction base="xsd:string">
            		<xsd:enumeration value="ORDEN"></xsd:enumeration>
            		<xsd:enumeration value="PRODUCTO"></xsd:enumeration>
            	</xsd:restriction>
            </xsd:simpleType>
    
      <xsd:complexType name="Orden">
      	<xsd:sequence>
      		<xsd:element name="id_cliente" type="xsd:int" maxOccurs="1" minOccurs="1"></xsd:element>
      		<xsd:element name="id_orden" type="xsd:int"
      			maxOccurs="1" minOccurs="0">
      		</xsd:element>
      		<xsd:element name="fecha_orden" type="xsd:dateTime"
      			maxOccurs="1" minOccurs="1">
      		</xsd:element>
      		<xsd:element name="precio" type="xsd:double" maxOccurs="1"
      			minOccurs="1">
      		</xsd:element>
      		<xsd:element name="estatus" type="tb_om:EstatusOrden"
      			maxOccurs="1" minOccurs="0">
      		</xsd:element>
      		<xsd:element name="comentarios" type="xsd:string"
      			maxOccurs="unbounded" minOccurs="0">
      		</xsd:element>
      		<xsd:element name="item" type="tb_om:Item"
      			maxOccurs="unbounded" minOccurs="0">
      		</xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
        
      <xsd:complexType name="Item">
      	<xsd:sequence>
      		<xsd:element name="id_item" type="xsd:int" maxOccurs="1"
      			minOccurs="1">
      		</xsd:element>
      		<xsd:element name="id_prod" type="xsd:int" maxOccurs="1"
      			minOccurs="1">
      		</xsd:element>
      		<xsd:element name="nombre_prod" type="xsd:string"
      			maxOccurs="1" minOccurs="1">
      		</xsd:element>
      		<xsd:element name="part_num" type="xsd:string"
      			maxOccurs="1" minOccurs="0">
      		</xsd:element>
      		<xsd:element name="precio" type="xsd:double" maxOccurs="1"
      			minOccurs="1">
      		</xsd:element>
      		<xsd:element name="cantidad" type="xsd:int" maxOccurs="1"
      			minOccurs="1">
      		</xsd:element>
      		<xsd:element name="id_orden" type="xsd:int" maxOccurs="1" minOccurs="0"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
        
            <xsd:simpleType name="EstatusOrden">
            	<xsd:restriction base="xsd:string">
            		<xsd:enumeration value="VALIDACION"></xsd:enumeration>
            		<xsd:enumeration value="RESERVACION"></xsd:enumeration>
            		<xsd:enumeration value="CERRADA"></xsd:enumeration>
            		<xsd:enumeration value="RECHAZADA"></xsd:enumeration>
            		<xsd:enumeration value="CANCELADA"></xsd:enumeration>
            	</xsd:restriction>
            </xsd:simpleType>
            <xsd:element name="ConsultarRangoCerradoOrdenes">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element name="fecha_inicial"
            				type="xsd:dateTime" maxOccurs="1" minOccurs="1">
            			</xsd:element>
            			<xsd:element name="fecha_final"
            				type="xsd:dateTime" maxOccurs="1" minOccurs="1">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="ConsultarRangoCerradoOrdenesResponse">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element name="ordenes_cerradas" type="tb_om:RespuestaOrdenCerrada" maxOccurs="1" minOccurs="1"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="ConsultarRangoCerradoOrdenesFault">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element
            				name="ConsultarRangoCerradoOrdenesFault"
            				type="tb_om:Error">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
    
            <xsd:complexType name="RespuestaOrdenCerrada">
            	<xsd:sequence>
            		<xsd:element name="ordenes_cerradas"
            			type="xsd:int" maxOccurs="1" minOccurs="1">
            		</xsd:element>
            		<xsd:element name="total" type="xsd:double" maxOccurs="1" minOccurs="1"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
            <xsd:element name="ConsultarRankingAbiertasOrdenes">
            	<xsd:complexType>
            		<xsd:sequence>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="ConsultarRankingAbiertasOrdenesResponse">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element name="ordenes" type="tb_om:Orden" maxOccurs="unbounded" minOccurs="0"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="ConsultarRankingAbiertasOrdenesFault">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element
            				name="ConsultarRankingAbiertasOrdenesFault"
            				type="tb_om:Error">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="ConsultarRankingCerradoOrdenes">
            	<xsd:complexType>
            		<xsd:sequence>

            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="ConsultarRankingCerradoOrdenesResponse">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element name="ordenes" type="tb_om:Orden" maxOccurs="unbounded" minOccurs="0"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="ConsultarRankingCerradoOrdenesFault">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element
            				name="ConsultarRankingCerradoOrdenesFault"
            				type="tb_om:Error" maxOccurs="1" minOccurs="0">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
    
            <xsd:complexType name="Error">
            	<xsd:sequence>
            		<xsd:element name="codigo" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
            		<xsd:element name="mensaje" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
  </wsdl:types>
  <wsdl:message name="RegistrarClienteRequest">
    <wsdl:part element="tb_om:RegistrarCliente" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="RegistrarClienteResponse">
    <wsdl:part element="tb_om:RegistrarClienteResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="RegistrarClienteFault">
  	<wsdl:part name="parameters" element="tb_om:RegistrarClienteFault"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ActualizarClienteRequest">
  	<wsdl:part name="parameters" element="tb_om:ActualizarCliente"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ActualizarClienteResponse">
  	<wsdl:part name="parameters" element="tb_om:ActualizarClienteResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ActualizarClienteFault">
  	<wsdl:part name="parameters" element="tb_om:ActualizarClienteFault"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ActualizarContraseniaClienteRequest">
  	<wsdl:part name="parameters" element="tb_om:ActualizarContraseniaCliente"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ActualizarContraseniaClienteResponse">
  	<wsdl:part name="parameters" element="tb_om:ActualizarContraseniaClienteResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ActualizarContraseniaClienteFault">
  	<wsdl:part name="parameters" element="tb_om:ActualizarContraseniaClienteFault"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ActualizarEstatusClienteRequest">
  	<wsdl:part name="parameters" element="tb_om:ActualizarEstatusCliente"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ActualizarEstatusClienteResponse">
  	<wsdl:part name="parameters" element="tb_om:ActualizarEstatusClienteResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ActualizarEstatusClienteFault">
  	<wsdl:part name="parameters" element="tb_om:ActualizarEstatusClienteFault"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarPorIdentificacionClienteRequest">
  	<wsdl:part name="parameters" element="tb_om:ConsultarPorIdentificacionCliente"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarPorIdentificacionClienteResponse">
  	<wsdl:part name="parameters" element="tb_om:ConsultarPorIdentificacionClienteResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarPorIdentificacionClienteFault">
  	<wsdl:part name="parameters" element="tb_om:ConsultarPorIdentificacionClienteFault"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarPorProductoClienteRequest">
  	<wsdl:part name="parameters" element="tb_om:ConsultarPorProductoCliente"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarPorProductoClienteResponse">
  	<wsdl:part name="parameters" element="tb_om:ConsultarPorProductoClienteResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarPorProductoClienteFault">
  	<wsdl:part name="parameters" element="tb_om:ConsultarPorProductoClienteFault"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarPorFactRangoClienteRequest">
  	<wsdl:part name="parameters" element="tb_om:ConsultarPorFactRangoCliente"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarPorFactRangoClienteResponse">
  	<wsdl:part name="parameters" element="tb_om:ConsultarPorFactRangoClienteResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarPorFactRangoClienteFault">
  	<wsdl:part name="parameters" element="tb_om:ConsultarPorFactRangoClienteFault"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarProductoRequest">
  	<wsdl:part name="parameters" element="tb_om:ConsultarProducto"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarProductoResponse">
  	<wsdl:part name="parameters" element="tb_om:ConsultarProductoResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarProductoFault">
  	<wsdl:part name="parameters" element="tb_om:ConsultarProductoFault"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarPorEspectaculoProductoRequest">
  	<wsdl:part name="parameters" element="tb_om:ConsultarPorEspectaculoProducto"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarPorEspectaculoProductoResponse">
  	<wsdl:part name="parameters" element="tb_om:ConsultarPorEspectaculoProductoResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarPorEspectaculoProductoFault">
  	<wsdl:part name="parameters" element="tb_om:ConsultarPorEspectaculoProductoFault"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarRankingFechaProductoRequest">
  	<wsdl:part name="parameters" element="tb_om:ConsultarRankingFechaProducto"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarRankingFechaProductoResponse">
  	<wsdl:part name="parameters" element="tb_om:ConsultarRankingFechaProductoResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarRankingFechaProductoFault">
  	<wsdl:part name="parameters" element="tb_om:ConsultarRankingFechaProductoFault"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarRankingEspectaculosVendidosProductoRequest">
  	<wsdl:part name="parameters" element="tb_om:ConsultarRankingEspectaculosVendidosProducto"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarRankingEspectaculosVendidosProductoResponse">
  	<wsdl:part name="parameters" element="tb_om:ConsultarRankingEspectaculosVendidosProductoResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message
  	name="ConsultarRankingEspectaculosVendidosProductoFault">
  	<wsdl:part name="parameters" element="tb_om:ConsultarRankingEspectaculosVendidosProductoFault"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarCampaniaProductoRequest">
  	<wsdl:part name="parameters" element="tb_om:ConsultarCampaniaProducto"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarCampaniaProductoResponse">
  	<wsdl:part name="parameters" element="tb_om:ConsultarCampaniaProductoResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarCampaniaProductoFault">
  	<wsdl:part name="parameters" element="tb_om:ConsultarCampaniaProductoFault"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GestionCampaniaProductoRequest">
  	<wsdl:part name="parameters" element="tb_om:GestionCampaniaProducto"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GestionCampaniaProductoResponse">
  	<wsdl:part name="parameters" element="tb_om:GestionCampaniaProductoResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GestionCampaniaProductoFault">
  	<wsdl:part name="parameters" element="tb_om:GestionCampaniaProductoFault"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GestionProductoRequest">
  	<wsdl:part name="parameters" element="tb_om:GestionProducto"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GestionProductoResponse">
  	<wsdl:part name="parameters" element="tb_om:GestionProductoResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GestionProductoFault">
  	<wsdl:part name="parameters" element="tb_om:GestionProductoFault"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GestionTarifaRequest">
  	<wsdl:part name="parameters" element="tb_om:GestionTarifa"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GestionTarifaResponse">
  	<wsdl:part name="parameters" element="tb_om:GestionTarifaResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GestionTarifaFault">
  	<wsdl:part name="parameters" element="tb_om:GestionTarifaFault"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarOrdenesRequest">
  	<wsdl:part name="parameters" element="tb_om:ConsultarOrdenes"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarOrdenesResponse">
  	<wsdl:part name="parameters" element="tb_om:ConsultarOrdenesResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarOrdenesFault">
  	<wsdl:part name="parameters" element="tb_om:ConsultarOrdenesFault"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarRangoCerradoOrdenesRequest">
  	<wsdl:part name="parameters" element="tb_om:ConsultarRangoCerradoOrdenes"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarRangoCerradoOrdenesResponse">
  	<wsdl:part name="parameters" element="tb_om:ConsultarRangoCerradoOrdenesResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarRangoCerradoOrdenesFault">
  	<wsdl:part name="parameters" element="tb_om:ConsultarRangoCerradoOrdenesFault"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarRankingAbiertasOrdenesRequest">
  	<wsdl:part name="parameters" element="tb_om:ConsultarRankingAbiertasOrdenes"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarRankingAbiertasOrdenesResponse">
  	<wsdl:part name="parameters" element="tb_om:ConsultarRankingAbiertasOrdenesResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarRankingAbiertasOrdenesFault">
  	<wsdl:part name="parameters" element="tb_om:ConsultarRankingAbiertasOrdenesFault"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarRankingCerradoOrdenesRequest">
  	<wsdl:part name="parameters" element="tb_om:ConsultarRankingCerradoOrdenes"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarRankingCerradoOrdenesResponse">
  	<wsdl:part name="parameters" element="tb_om:ConsultarRankingCerradoOrdenesResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultarRankingCerradoOrdenesFault">
  	<wsdl:part name="parameters" element="tb_om:ConsultarRankingCerradoOrdenesFault"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ServiceProxyOMS">
    <wsdl:operation name="RegistrarCliente">
      <wsdl:input message="tb_om:RegistrarClienteRequest"/>
      <wsdl:output message="tb_om:RegistrarClienteResponse"/>
            <wsdl:fault name="fault" message="tb_om:RegistrarClienteFault"></wsdl:fault>
        </wsdl:operation>
    <wsdl:operation name="ActualizarCliente">
    	<wsdl:input message="tb_om:ActualizarClienteRequest"></wsdl:input>
    	<wsdl:output message="tb_om:ActualizarClienteResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_om:ActualizarClienteFault"></wsdl:fault>
        </wsdl:operation>
    <wsdl:operation name="ActualizarContraseniaCliente">
    	<wsdl:input message="tb_om:ActualizarContraseniaClienteRequest"></wsdl:input>
    	<wsdl:output message="tb_om:ActualizarContraseniaClienteResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_om:ActualizarContraseniaClienteFault"></wsdl:fault>
        </wsdl:operation>
    <wsdl:operation name="ActualizarEstatusCliente">
    	<wsdl:input message="tb_om:ActualizarEstatusClienteRequest"></wsdl:input>
    	<wsdl:output message="tb_om:ActualizarEstatusClienteResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_om:ActualizarEstatusClienteFault"></wsdl:fault>
        </wsdl:operation>
    <wsdl:operation name="ConsultarPorIdentificacionCliente">
    	<wsdl:input message="tb_om:ConsultarPorIdentificacionClienteRequest"></wsdl:input>
    	<wsdl:output message="tb_om:ConsultarPorIdentificacionClienteResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_om:ConsultarPorIdentificacionClienteFault"></wsdl:fault>
        </wsdl:operation>
    <wsdl:operation name="ConsultarPorProductoCliente">
    	<wsdl:input message="tb_om:ConsultarPorProductoClienteRequest"></wsdl:input>
    	<wsdl:output message="tb_om:ConsultarPorProductoClienteResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_om:ConsultarPorProductoClienteFault"></wsdl:fault>
        </wsdl:operation>
    <wsdl:operation name="ConsultarPorFactRangoCliente">
    	<wsdl:input message="tb_om:ConsultarPorFactRangoClienteRequest"></wsdl:input>
    	<wsdl:output message="tb_om:ConsultarPorFactRangoClienteResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_om:ConsultarPorFactRangoClienteFault"></wsdl:fault>
        </wsdl:operation>
    <wsdl:operation name="ConsultarProducto">
    	<wsdl:input message="tb_om:ConsultarProductoRequest"></wsdl:input>
    	<wsdl:output message="tb_om:ConsultarProductoResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_om:ConsultarProductoFault"></wsdl:fault>
        </wsdl:operation>
    <wsdl:operation name="ConsultarPorEspectaculoProducto">
    	<wsdl:input message="tb_om:ConsultarPorEspectaculoProductoRequest"></wsdl:input>
    	<wsdl:output message="tb_om:ConsultarPorEspectaculoProductoResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_om:ConsultarPorEspectaculoProductoFault"></wsdl:fault>
        </wsdl:operation>
    <wsdl:operation name="ConsultarRankingFechaProducto">
    	<wsdl:input message="tb_om:ConsultarRankingFechaProductoRequest"></wsdl:input>
    	<wsdl:output message="tb_om:ConsultarRankingFechaProductoResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_om:ConsultarRankingFechaProductoFault"></wsdl:fault>
        </wsdl:operation>
    <wsdl:operation name="ConsultarRankingEspectaculosVendidosProducto">
    	<wsdl:input message="tb_om:ConsultarRankingEspectaculosVendidosProductoRequest"></wsdl:input>
    	<wsdl:output message="tb_om:ConsultarRankingEspectaculosVendidosProductoResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_om:ConsultarRankingEspectaculosVendidosProductoFault"></wsdl:fault>
        </wsdl:operation>
    <wsdl:operation name="ConsultarCampaniaProducto">
    	<wsdl:input message="tb_om:ConsultarCampaniaProductoRequest"></wsdl:input>
    	<wsdl:output message="tb_om:ConsultarCampaniaProductoResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_om:ConsultarCampaniaProductoFault"></wsdl:fault>
        </wsdl:operation>
    <wsdl:operation name="GestionCampaniaProducto">
    	<wsdl:input message="tb_om:GestionCampaniaProductoRequest"></wsdl:input>
    	<wsdl:output message="tb_om:GestionCampaniaProductoResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_om:GestionCampaniaProductoFault"></wsdl:fault>
        </wsdl:operation>
    <wsdl:operation name="GestionProducto">
    	<wsdl:input message="tb_om:GestionProductoRequest"></wsdl:input>
    	<wsdl:output message="tb_om:GestionProductoResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_om:GestionProductoFault"></wsdl:fault>
        </wsdl:operation>
    <wsdl:operation name="GestionTarifa">
    	<wsdl:input message="tb_om:GestionTarifaRequest"></wsdl:input>
    	<wsdl:output message="tb_om:GestionTarifaResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_om:GestionTarifaFault"></wsdl:fault>
        </wsdl:operation>
    <wsdl:operation name="ConsultarOrdenes">
    	<wsdl:input message="tb_om:ConsultarOrdenesRequest"></wsdl:input>
    	<wsdl:output message="tb_om:ConsultarOrdenesResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_om:ConsultarOrdenesFault"></wsdl:fault>
        </wsdl:operation>
    <wsdl:operation name="ConsultarRangoCerradoOrdenes">
    	<wsdl:input message="tb_om:ConsultarRangoCerradoOrdenesRequest"></wsdl:input>
    	<wsdl:output message="tb_om:ConsultarRangoCerradoOrdenesResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_om:ConsultarRangoCerradoOrdenesFault"></wsdl:fault>
        </wsdl:operation>
    <wsdl:operation name="ConsultarRankingAbiertasOrdenes">
    	<wsdl:input message="tb_om:ConsultarRankingAbiertasOrdenesRequest"></wsdl:input>
    	<wsdl:output message="tb_om:ConsultarRankingAbiertasOrdenesResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_om:ConsultarRankingAbiertasOrdenesFault"></wsdl:fault>
        </wsdl:operation>
    <wsdl:operation name="ConsultarRankingCerradoOrdenes">
    	<wsdl:input message="tb_om:ConsultarRankingCerradoOrdenesRequest"></wsdl:input>
    	<wsdl:output message="tb_om:ConsultarRankingCerradoOrdenesResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_om:ConsultarRankingCerradoOrdenesFault"></wsdl:fault>
        </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceProxyOMSSOAP"
  	type="tb_om:ServiceProxyOMS">

  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="RegistrarCliente">

  		<soap:operation
  			soapAction="http://www.example.org/ServiceProxyOMS/RegistrarCliente" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="fault">

  			<soap:fault use="literal" name="fault" />
  		</wsdl:fault>
  	</wsdl:operation>
  	<wsdl:operation name="ActualizarCliente">

  		<soap:operation
  			soapAction="http://www.example.org/ServiceProxyOMS/ActualizarCliente" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="fault">

  			<soap:fault use="literal" name="fault" />
  		</wsdl:fault>
  	</wsdl:operation>
  	<wsdl:operation name="ActualizarContraseniaCliente">

  		<soap:operation
  			soapAction="http://www.example.org/ServiceProxyOMS/ActualizarContraseniaCliente" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="fault">

  			<soap:fault use="literal" name="fault" />
  		</wsdl:fault>
  	</wsdl:operation>
  	<wsdl:operation name="ActualizarEstatusCliente">

  		<soap:operation
  			soapAction="http://www.example.org/ServiceProxyOMS/ActualizarEstatusCliente" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="fault">

  			<soap:fault use="literal" name="fault" />
  		</wsdl:fault>
  	</wsdl:operation>
  	<wsdl:operation name="ConsultarPorIdentificacionCliente">

  		<soap:operation
  			soapAction="http://www.example.org/ServiceProxyOMS/ConsultarPorIdentificacionCliente" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="fault">

  			<soap:fault use="literal" name="fault" />
  		</wsdl:fault>
  	</wsdl:operation>
  	<wsdl:operation name="ConsultarPorProductoCliente">

  		<soap:operation
  			soapAction="http://www.example.org/ServiceProxyOMS/ConsultarPorProductoCliente" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="fault">

  			<soap:fault use="literal" name="fault" />
  		</wsdl:fault>
  	</wsdl:operation>
  	<wsdl:operation name="ConsultarPorFactRangoCliente">

  		<soap:operation
  			soapAction="http://www.example.org/ServiceProxyOMS/ConsultarPorFactRangoCliente" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="fault">

  			<soap:fault use="literal" name="fault" />
  		</wsdl:fault>
  	</wsdl:operation>
  	<wsdl:operation name="ConsultarProducto">

  		<soap:operation
  			soapAction="http://www.example.org/ServiceProxyOMS/ConsultarProducto" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="fault">

  			<soap:fault use="literal" name="fault" />
  		</wsdl:fault>
  	</wsdl:operation>
  	<wsdl:operation name="ConsultarPorEspectaculoProducto">

  		<soap:operation
  			soapAction="http://www.example.org/ServiceProxyOMS/ConsultarPorEspectaculoProducto" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="fault">

  			<soap:fault use="literal" name="fault" />
  		</wsdl:fault>
  	</wsdl:operation>
  	<wsdl:operation name="ConsultarRankingFechaProducto">

  		<soap:operation
  			soapAction="http://www.example.org/ServiceProxyOMS/ConsultarRankingFechaProducto" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="fault">

  			<soap:fault use="literal" name="fault" />
  		</wsdl:fault>
  	</wsdl:operation>
  	<wsdl:operation
  		name="ConsultarRankingEspectaculosVendidosProducto">

  		<soap:operation
  			soapAction="http://www.example.org/ServiceProxyOMS/ConsultarRankingEspectaculosVendidosProducto" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="fault">

  			<soap:fault use="literal" name="fault" />
  		</wsdl:fault>
  	</wsdl:operation>
  	<wsdl:operation name="ConsultarCampaniaProducto">

  		<soap:operation
  			soapAction="http://www.example.org/ServiceProxyOMS/ConsultarCampaniaProducto" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="fault">

  			<soap:fault use="literal" name="fault" />
  		</wsdl:fault>
  	</wsdl:operation>
  	<wsdl:operation name="GestionCampaniaProducto">

  		<soap:operation
  			soapAction="http://www.example.org/ServiceProxyOMS/GestionCampaniaProducto" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="fault">

  			<soap:fault use="literal" name="fault" />
  		</wsdl:fault>
  	</wsdl:operation>
  	<wsdl:operation name="GestionProducto">

  		<soap:operation
  			soapAction="http://www.example.org/ServiceProxyOMS/GestionProducto" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="fault">

  			<soap:fault use="literal" name="fault" />
  		</wsdl:fault>
  	</wsdl:operation>
  	<wsdl:operation name="GestionTarifa">

  		<soap:operation
  			soapAction="http://www.example.org/ServiceProxyOMS/GestionTarifa" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="fault">

  			<soap:fault use="literal" name="fault" />
  		</wsdl:fault>
  	</wsdl:operation>
  	<wsdl:operation name="ConsultarOrdenes">

  		<soap:operation
  			soapAction="http://www.example.org/ServiceProxyOMS/ConsultarOrdenes" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="fault">

  			<soap:fault use="literal" name="fault" />
  		</wsdl:fault>
  	</wsdl:operation>
  	<wsdl:operation name="ConsultarRangoCerradoOrdenes">

  		<soap:operation
  			soapAction="http://www.example.org/ServiceProxyOMS/ConsultarRangoCerradoOrdenes" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="fault">

  			<soap:fault use="literal" name="fault" />
  		</wsdl:fault>
  	</wsdl:operation>
  	<wsdl:operation name="ConsultarRankingAbiertasOrdenes">

  		<soap:operation
  			soapAction="http://www.example.org/ServiceProxyOMS/ConsultarRankingAbiertasOrdenes" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="fault">

  			<soap:fault use="literal" name="fault" />
  		</wsdl:fault>
  	</wsdl:operation>
  	<wsdl:operation name="ConsultarRankingCerradoOrdenes">

  		<soap:operation
  			soapAction="http://www.example.org/ServiceProxyOMS/ConsultarRankingCerradoOrdenes" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="fault">

  			<soap:fault use="literal" name="fault" />
  		</wsdl:fault>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceProxyOMS">
    <wsdl:port binding="tb_om:ServiceProxyOMSSOAP" name="ServiceProxyOMSSOAP">
      <soap:address location="http://www.touresbalon.com/ServiceProxyOMS"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
