Servicios/WSDL_TouresBalon/src/aes/pica/wsdl/proxyservices/ServiceProxyOMS.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tb_om="http://www.example.org/ServiceProxyOMS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceProxyOMS" targetNamespace="http://www.example.org/ServiceProxyOMS/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/ServiceProxyOMS/">
      <xsd:element name="registrarCliente">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="cliente" type="xsd:string" maxOccurs="1" minOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="registrarClienteResponse">
        <xsd:complexType>
                    <xsd:sequence>
                    	<xsd:element name="registrarClienteResponse"
                    		type="tb_om:registrarClienteReponseType" maxOccurs="1" minOccurs="1">
                    	</xsd:element>
                    </xsd:sequence>
                    
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="registrarClienteFault">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="registrarClienteFault"
      				type="tb_om:Error">
      			</xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    
      <xsd:complexType name="Cliente">
      	<xsd:sequence>

                    <xsd:element name="id_cliente" type="xsd:int" maxOccurs="1" minOccurs="0"></xsd:element>
                    <xsd:element name="nombres" type="xsd:string"
      			maxOccurs="1" minOccurs="1">
      		</xsd:element>
      		<xsd:element name="apellidos" type="xsd:string"
      			maxOccurs="1" minOccurs="1">
      		</xsd:element>
      		<xsd:element name="num_tel" type="xsd:string"
      			maxOccurs="1" minOccurs="0">
      		</xsd:element>
      		<xsd:element name="email" type="xsd:string" maxOccurs="1"
      			minOccurs="1">
      		</xsd:element>
      		<xsd:element name="contrasenia" type="xsd:string"
      			maxOccurs="1" minOccurs="1">
      		</xsd:element>
      		<xsd:element name="tipo_tarjeta" type="xsd:string"
      			maxOccurs="1" minOccurs="0">
      		</xsd:element>
      		<xsd:element name="numero_tarjeta" type="xsd:string"
      			maxOccurs="1" minOccurs="0">
      		</xsd:element>
      		<xsd:element name="direccion" type="tb_om:Direccion"
      			maxOccurs="unbounded" minOccurs="0">
      		</xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
        
      <xsd:complexType name="Direccion">
      	<xsd:sequence>
      		<xsd:element name="id_direccion" type="xsd:int" maxOccurs="1" minOccurs="0"></xsd:element>
      		<xsd:element name="pais" type="xsd:string" maxOccurs="1"
      			minOccurs="0">
      		</xsd:element>
      		<xsd:element name="ciudad" type="xsd:string" maxOccurs="1"
      			minOccurs="0">
      		</xsd:element>
      		<xsd:element name="estado" type="xsd:string" maxOccurs="1"
      			minOccurs="0">
      		</xsd:element>
      		<xsd:element name="cod_postal" type="xsd:string"
      			maxOccurs="1" minOccurs="0">
      		</xsd:element>
      		<xsd:element name="tipo_dir" type="xsd:string"
      			maxOccurs="1" minOccurs="0">
      		</xsd:element>
      		<xsd:element name="dir_calle" type="xsd:string"
      			maxOccurs="1" minOccurs="0">
      		</xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
        
      <xsd:complexType name="registrarClienteReponseType">
      	<xsd:sequence>
      		<xsd:element name="respuesta"
      			type="tb_om:RespuestaGenerica" maxOccurs="1" minOccurs="1">
      		</xsd:element>
      		<xsd:element name="id_cliente" type="xsd:int" maxOccurs="1" minOccurs="0"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
        
      <xsd:simpleType name="RespuestaGenerica">
      	<xsd:restriction base="xsd:string">
      		<xsd:enumeration value="OK"></xsd:enumeration>
      		<xsd:enumeration value="KO"></xsd:enumeration>
      	</xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="actualizarCliente">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="cliente" type="tb_om:Cliente" maxOccurs="1" minOccurs="1"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="actualizarClienteResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="respuesta" type="tb_om:RespuestaGenerica" maxOccurs="1" minOccurs="1"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="actualizarClienteFault">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="actualizarClienteFault"
      				type="tb_om:Error">
      			</xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="actualizarContraseniaCliente">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="usuario" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      			<xsd:element name="contrasenia" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="actualizarContraseniaClienteResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="respuesta" type="tb_om:RespuestaGenerica" maxOccurs="1" minOccurs="1"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="actualizarContraseniaClienteFault">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="actualizarContraseniaClienteFault"
      				type="tb_om:Error">
      			</xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="actualizarEstatusCliente">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="id_cliente" type="xsd:int"
      				maxOccurs="1" minOccurs="1">
      			</xsd:element>
      			<xsd:element name="estatus" type="tb_om:EstatusCliente" maxOccurs="1" minOccurs="1"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="actualizarEstatusClienteResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="respuesta" type="tb_om:RespuestaGenerica" maxOccurs="1" minOccurs="1"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="actualizarEstatusClienteFault">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="actualizarEstatusClienteFault"
      				type="tb_om:Error">
      			</xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    
      <xsd:simpleType name="EstatusCliente">
      	<xsd:restriction base="xsd:string">
      		<xsd:enumeration value="PLATINO"></xsd:enumeration>
      		<xsd:enumeration value="DORADO"></xsd:enumeration>
      		<xsd:enumeration value="PLATEADO"></xsd:enumeration>
      	</xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="consultarPorIdentificacionCliente">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="id_cliente" type="xsd:int" maxOccurs="1" minOccurs="1"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="consultarPorIdentificacionClienteResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="cliente" type="tb_om:Cliente" maxOccurs="1" minOccurs="0"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="consultarPorIdentificacionClienteFault">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element
      				name="consultarPorIdentificacionClienteFault"
      				type="tb_om:Error">
      			</xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="consultarPorProductoCliente">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="id_producto" type="xsd:int" maxOccurs="1" minOccurs="1"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="consultarPorProductoClienteResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="cliente" type="tb_om:Cliente" maxOccurs="unbounded" minOccurs="0"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="consultarPorProductoClienteFault">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="consultarPorProductoClienteFault"
      				type="tb_om:Error">
      			</xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="consultarPorFactRangoCliente">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="fecha_inicial" type="xsd:dateTime"
      				maxOccurs="1" minOccurs="1">
      			</xsd:element>
      			<xsd:element name="fecha_fin" type="xsd:dateTime" maxOccurs="1" minOccurs="1"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="consultarPorFactRangoClienteResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="cliente" type="tb_om:Cliente" maxOccurs="unbounded" minOccurs="0"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="consultarPorFactRangoClienteFault">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="consultarPorFactRangoClienteFault"
      				type="tb_om:Error">
      			</xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="consultarProducto">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="tipo_consulta" type="tb_om:TipoConsultaProducto" maxOccurs="1" minOccurs="1"></xsd:element>
      			<xsd:element name="cadena_consulta" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="consultarProductoResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="productos" type="tb_om:Producto" maxOccurs="unbounded" minOccurs="0"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="consultarProductoFault">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="consultarProductoFault"
      				type="tb_om:Error">
      			</xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    
        
      <xsd:simpleType name="TipoConsultaProducto">
      	<xsd:restriction base="xsd:string">
      		<xsd:enumeration value="NOMBRE"></xsd:enumeration>
      		<xsd:enumeration value="DESCRIPCION"></xsd:enumeration>
      		<xsd:enumeration value="ID"></xsd:enumeration>

      	</xsd:restriction>
      </xsd:simpleType>
    
      <xsd:complexType name="Producto">
      	<xsd:sequence>
      		<xsd:element name="id_producto" type="xsd:int"
      			maxOccurs="1" minOccurs="1">
      		</xsd:element>

      		<xsd:element name="espectaculo" type="xsd:string"
      			maxOccurs="1" minOccurs="1">
      		</xsd:element>
      		<xsd:element name="descripcion" type="xsd:string"
      			maxOccurs="1" minOccurs="1">
      		</xsd:element>
      		<xsd:element name="ciudad_espectaculo" type="tb_om:Ciudad"
      			maxOccurs="1" minOccurs="1">
      		</xsd:element>
      		<xsd:element name="fecha_llegada" type="xsd:dateTime"
      			maxOccurs="1" minOccurs="0">
      		</xsd:element>
      		<xsd:element name="fecha_salida" type="xsd:dateTime"
      			maxOccurs="1" minOccurs="0">
      		</xsd:element>
      		<xsd:element name="fecha_espectaculo" type="xsd:dateTime" maxOccurs="1" minOccurs="0"></xsd:element>
      		<xsd:element name="tipo_transporte"
      			type="tb_om:TarifaValores" maxOccurs="1" minOccurs="0">
      		</xsd:element>
      		<xsd:element name="tipo_espectaculo"
      			type="tb_om:TarifaValores" maxOccurs="1" minOccurs="1">
      		</xsd:element>
      		<xsd:element name="tipo_hospedaje"
      			type="tb_om:TarifaValores" maxOccurs="1" minOccurs="0">
      		</xsd:element>
      		<xsd:element name="imagen_producto" type="xsd:string"
      			maxOccurs="1" minOccurs="0">
      		</xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
        
      <xsd:complexType name="Ciudad">
      	<xsd:sequence>
      		<xsd:element name="id_ciudad" type="xsd:int" maxOccurs="1" minOccurs="0"></xsd:element>
      		<xsd:element name="pais" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      		<xsd:element name="tipo_ciudad" type="tb_om:TarifaValores" maxOccurs="unbounded" minOccurs="0"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
        
      <xsd:complexType name="TarifaValores">
            	<xsd:sequence>
            		<xsd:element name="id" type="xsd:int" maxOccurs="1" minOccurs="1"></xsd:element>
            		<xsd:element name="nombre_tipo" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
            		<xsd:element name="precio" type="xsd:double" maxOccurs="1" minOccurs="1"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
      <xsd:element name="consultarPorEspectaculoProducto">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="espectaculo" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="consultarPorEspectaculoProductoResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="productos" type="tb_om:Producto" maxOccurs="unbounded" minOccurs="0"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="consultarPorEspectaculoProductoFault">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element
      				name="consultarPorEspectaculoProductoFault"
      				type="tb_om:Error">
      			</xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="consultarRankingFechaProducto">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="fecha_inicial" type="xsd:dateTime"
      				maxOccurs="1" minOccurs="1">
      			</xsd:element>
      			<xsd:element name="fecha_fin" type="xsd:dateTime" maxOccurs="1" minOccurs="1"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="consultarRankingFechaProductoResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="productos" type="tb_om:Producto" maxOccurs="unbounded" minOccurs="0"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="consultarRankingFechaProductoFault">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="consultarRankingFechaProductoFault"
      				type="tb_om:Error">
      			</xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="consultarRankingEspectaculosVendidosProducto">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="fecha_inicial" type="xsd:dateTime"
      				maxOccurs="1" minOccurs="1">
      			</xsd:element>
      			<xsd:element name="fecha_fin" type="xsd:dateTime" maxOccurs="1" minOccurs="1"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="consultarRankingEspectaculosVendidosProductoResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="tipo_espectaculo" type="tb_om:TarifaValores" maxOccurs="unbounded" minOccurs="0"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element
      	name="consultarRankingEspectaculosVendidosProductoFault">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element
      				name="consultarRankingEspectaculosVendidosProductoFault"
      				type="tb_om:Error">
      			</xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="consultarCampaniaProducto">
      	<xsd:complexType>
      		<xsd:sequence>

      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="consultarCampaniaProductoResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="productos" type="tb_om:Producto" maxOccurs="unbounded" minOccurs="0"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="consultarCampaniaProductoFault">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="consultarCampaniaProductoFault"
      				type="tb_om:Error">
      			</xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="gestionCampaniaProducto">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="tipo_operacion" type="tb_om:TipoAccion"
      				maxOccurs="1" minOccurs="1">
      			</xsd:element>
      			<xsd:element name="campania" type="tb_om:Campania" maxOccurs="1" minOccurs="0"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="gestionCampaniaProductoResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="gestioncampaniaResponse" type="tb_om:TipoGestionCampaniaResponse" maxOccurs="1" minOccurs="1"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="gestionCampaniaProductoFault">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="gestionCampaniaProductoFault"
      				type="tb_om:Error">
      			</xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    
      <xsd:simpleType name="TipoAccion">
      	<xsd:restriction base="xsd:string">
      		<xsd:enumeration value="ADICIONAR"></xsd:enumeration>
      		<xsd:enumeration value="ELIMINAR"></xsd:enumeration>
      		<xsd:enumeration value="MODIFICAR"></xsd:enumeration>
      	</xsd:restriction>
      </xsd:simpleType>
    
            <xsd:complexType name="Campania">
            	<xsd:sequence>
            		<xsd:element name="id_producto" type="tb_om:Producto"
            			maxOccurs="1" minOccurs="1">
            		</xsd:element>
            		<xsd:element name="fecha_inicio_campania"
            			type="xsd:dateTime" maxOccurs="1" minOccurs="1">
            		</xsd:element>
            		<xsd:element name="fecha_fin_campania" type="xsd:dateTime" maxOccurs="1" minOccurs="1"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
        
            <xsd:complexType name="TipoGestionCampaniaResponse">
            	<xsd:sequence>
            		<xsd:element name="respuesta"
            			type="tb_om:RespuestaGenerica" maxOccurs="1" minOccurs="1">
            		</xsd:element>

            		<xsd:element name="id_campania" type="xsd:int" maxOccurs="1" minOccurs="0"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
            <xsd:element name="gestionProducto">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="tipo_operacion"
            				type="tb_om:TipoAccion" maxOccurs="1" minOccurs="1">
            			</xsd:element>
            			<xsd:element name="producto"
            				type="tb_om:Producto" maxOccurs="1" minOccurs="1">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="gestionProductoResponse">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element name="gestion_producto_reponse" type="tb_om:TipoGestionProductoResponse" maxOccurs="1" minOccurs="1"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="gestionProductoFault">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element name="gestionProductoFault"
            				type="tb_om:Error">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
    
            <xsd:complexType name="TipoGestionProductoResponse">
            	<xsd:sequence>
            		<xsd:element name="respuesta"
            			type="tb_om:RespuestaGenerica" maxOccurs="1" minOccurs="1">
            		</xsd:element>
            		<xsd:element name="id_producto" type="xsd:int" maxOccurs="1" minOccurs="0"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
            <xsd:element name="gestionTarifa">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="tipo_operacion"
            				type="tb_om:TipoAccion" maxOccurs="1" minOccurs="1">
            			</xsd:element>
            			<xsd:element name="tipo_tarifa"
            				type="tb_om:TipoTarifa" maxOccurs="1" minOccurs="1">
            			</xsd:element>
            			<xsd:element name="tarifa"
            				type="tb_om:TarifaValores" maxOccurs="1" minOccurs="1">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="gestionTarifaResponse">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element name="respuesta" type="tb_om:TipoGestionTarifaResponse" maxOccurs="1" minOccurs="1"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="gestionTarifaFault">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element name="gestionTarifaFault"
            				type="tb_om:Error">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
    
            <xsd:simpleType name="TipoTarifa">
            	<xsd:restriction base="xsd:string">
            		<xsd:enumeration value="TRANSPORTE"></xsd:enumeration>
            		<xsd:enumeration value="HOSPEDAJE"></xsd:enumeration>
            		<xsd:enumeration value="ESPECTACULO"></xsd:enumeration>
            		<xsd:enumeration value="CIUDAD"></xsd:enumeration>
            	</xsd:restriction>
            </xsd:simpleType>
    
            <xsd:complexType name="TipoGestionTarifaResponse">
            	<xsd:sequence>
            		<xsd:element name="respuesta" type="tb_om:RespuestaGenerica" maxOccurs="1" minOccurs="1"></xsd:element>
                    <xsd:element name="tarifa" type="tb_om:TipoTarifa" maxOccurs="1" minOccurs="1"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="consultarOrdenes">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="criterios" type="tb_om:CriterioConsultaOrden" maxOccurs="1" minOccurs="1"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="consultarOrdenesResponse">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element name="orden" type="tb_om:Orden" maxOccurs="unbounded" minOccurs="0"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="consultarOrdenesFault">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element name="consultarOrdenesFault"
            				type="tb_om:Error">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
    
		<xsd:complexType name="CriterioConsultaOrden">
            	<xsd:sequence>
            		<xsd:element name="tipo_consulta"
            			type="tb_om:TipoConsultaOrden" maxOccurs="1" minOccurs="1">
            		</xsd:element>
            		<xsd:element name="codigo" type="xsd:int" maxOccurs="1" minOccurs="1"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
        
            <xsd:simpleType name="TipoConsultaOrden">
            	<xsd:restriction base="xsd:string">
            		<xsd:enumeration value="ORDEN"></xsd:enumeration>
            		<xsd:enumeration value="PRODUCTO"></xsd:enumeration>
            	</xsd:restriction>
            </xsd:simpleType>
    
      <xsd:complexType name="Orden">
      	<xsd:sequence>
      		<xsd:element name="id_cliente" type="xsd:int" maxOccurs="1" minOccurs="1"></xsd:element>
      		<xsd:element name="id_orden" type="xsd:int"
      			maxOccurs="1" minOccurs="0">
      		</xsd:element>
      		<xsd:element name="fecha_orden" type="xsd:dateTime"
      			maxOccurs="1" minOccurs="1">
      		</xsd:element>
      		<xsd:element name="precio" type="xsd:double" maxOccurs="1"
      			minOccurs="1">
      		</xsd:element>
      		<xsd:element name="estatus" type="tb_om:EstatusOrden"
      			maxOccurs="1" minOccurs="0">
      		</xsd:element>
      		<xsd:element name="comentarios" type="xsd:string"
      			maxOccurs="unbounded" minOccurs="0">
      		</xsd:element>
      		<xsd:element name="item" type="tb_om:Item"
      			maxOccurs="unbounded" minOccurs="0">
      		</xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
        
      <xsd:complexType name="Item">
      	<xsd:sequence>
      		<xsd:element name="id_item" type="xsd:int" maxOccurs="1"
      			minOccurs="1">
      		</xsd:element>
      		<xsd:element name="id_prod" type="xsd:int" maxOccurs="1"
      			minOccurs="1">
      		</xsd:element>
      		<xsd:element name="nombre_prod" type="xsd:string"
      			maxOccurs="1" minOccurs="1">
      		</xsd:element>
      		<xsd:element name="part_num" type="xsd:string"
      			maxOccurs="1" minOccurs="0">
      		</xsd:element>
      		<xsd:element name="precio" type="xsd:double" maxOccurs="1"
      			minOccurs="1">
      		</xsd:element>
      		<xsd:element name="cantidad" type="xsd:int" maxOccurs="1"
      			minOccurs="1">
      		</xsd:element>
      		<xsd:element name="id_orden" type="xsd:int" maxOccurs="1" minOccurs="0"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
        
            <xsd:simpleType name="EstatusOrden">
            	<xsd:restriction base="xsd:string">
            		<xsd:enumeration value="VALIDACION"></xsd:enumeration>
            		<xsd:enumeration value="RESERVACION"></xsd:enumeration>
            		<xsd:enumeration value="CERRADA"></xsd:enumeration>
            		<xsd:enumeration value="RECHAZADA"></xsd:enumeration>
            		<xsd:enumeration value="CANCELADA"></xsd:enumeration>
            	</xsd:restriction>
            </xsd:simpleType>
            <xsd:element name="consultarRangoCerradoOrdenes">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element name="fecha_inicial"
            				type="xsd:dateTime" maxOccurs="1" minOccurs="1">
            			</xsd:element>
            			<xsd:element name="fecha_final"
            				type="xsd:dateTime" maxOccurs="1" minOccurs="1">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="consultarRangoCerradoOrdenesResponse">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element name="ordenes_cerradas" type="tb_om:RespuestaOrdenCerrada" maxOccurs="1" minOccurs="1"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="consultarRangoCerradoOrdenesFault">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element
            				name="consultarRangoCerradoOrdenesFault"
            				type="tb_om:Error">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
    
            <xsd:complexType name="RespuestaOrdenCerrada">
            	<xsd:sequence>
            		<xsd:element name="ordenes_cerradas"
            			type="xsd:int" maxOccurs="1" minOccurs="1">
            		</xsd:element>
            		<xsd:element name="total" type="xsd:double" maxOccurs="1" minOccurs="1"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
            <xsd:element name="consultarRankingAbiertasOrdenes">
            	<xsd:complexType>
            		<xsd:sequence>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="consultarRankingAbiertasOrdenesResponse">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element name="ordenes" type="tb_om:Orden" maxOccurs="unbounded" minOccurs="0"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="consultarRankingAbiertasOrdenesFault">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element
            				name="consultarRankingAbiertasOrdenesFault"
            				type="tb_om:Error">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="consultarRankingCerradoOrdenes">
            	<xsd:complexType>
            		<xsd:sequence>

            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="consultarRankingCerradoOrdenesResponse">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element name="ordenes" type="tb_om:Orden" maxOccurs="unbounded" minOccurs="0"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="consultarRankingCerradoOrdenesFault">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element
            				name="consultarRankingCerradoOrdenesFault"
            				type="tb_om:Error" maxOccurs="1" minOccurs="0">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
    
            <xsd:complexType name="Error">
            	<xsd:sequence>
            		<xsd:element name="codigo" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
            		<xsd:element name="mensaje" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
  </wsdl:types>
  <wsdl:message name="registrarClienteRequest">
    <wsdl:part element="tb_om:registrarCliente" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="registrarClienteResponse">
    <wsdl:part element="tb_om:registrarClienteResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="registrarClienteFault">
  	<wsdl:part name="parameters" element="tb_om:registrarClienteFault"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="actualizarClienteRequest">
  	<wsdl:part name="parameters" element="tb_om:actualizarCliente"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="actualizarClienteResponse">
  	<wsdl:part name="parameters" element="tb_om:actualizarClienteResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="actualizarClienteFault">
  	<wsdl:part name="parameters" element="tb_om:actualizarClienteFault"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="actualizarContraseniaClienteRequest">
  	<wsdl:part name="parameters" element="tb_om:actualizarContraseniaCliente"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="actualizarContraseniaClienteResponse">
  	<wsdl:part name="parameters" element="tb_om:actualizarContraseniaClienteResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="actualizarContraseniaClienteFault">
  	<wsdl:part name="parameters" element="tb_om:actualizarContraseniaClienteFault"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="actualizarEstatusClienteRequest">
  	<wsdl:part name="parameters" element="tb_om:actualizarEstatusCliente"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="actualizarEstatusClienteResponse">
  	<wsdl:part name="parameters" element="tb_om:actualizarEstatusClienteResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="actualizarEstatusClienteFault">
  	<wsdl:part name="parameters" element="tb_om:actualizarEstatusClienteFault"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarPorIdentificacionClienteRequest">
  	<wsdl:part name="parameters" element="tb_om:consultarPorIdentificacionCliente"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarPorIdentificacionClienteResponse">
  	<wsdl:part name="parameters" element="tb_om:consultarPorIdentificacionClienteResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarPorIdentificacionClienteFault">
  	<wsdl:part name="parameters" element="tb_om:consultarPorIdentificacionClienteFault"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarPorProductoClienteRequest">
  	<wsdl:part name="parameters" element="tb_om:consultarPorProductoCliente"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarPorProductoClienteResponse">
  	<wsdl:part name="parameters" element="tb_om:consultarPorProductoClienteResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarPorProductoClienteFault">
  	<wsdl:part name="parameters" element="tb_om:consultarPorProductoClienteFault"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarPorFactRangoClienteRequest">
  	<wsdl:part name="parameters" element="tb_om:consultarPorFactRangoCliente"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarPorFactRangoClienteResponse">
  	<wsdl:part name="parameters" element="tb_om:consultarPorFactRangoClienteResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarPorFactRangoClienteFault">
  	<wsdl:part name="parameters" element="tb_om:consultarPorFactRangoClienteFault"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarProductoRequest">
  	<wsdl:part name="parameters" element="tb_om:consultarProducto"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarProductoResponse">
  	<wsdl:part name="parameters" element="tb_om:consultarProductoResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarProductoFault">
  	<wsdl:part name="parameters" element="tb_om:consultarProductoFault"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarPorEspectaculoProductoRequest">
  	<wsdl:part name="parameters" element="tb_om:consultarPorEspectaculoProducto"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarPorEspectaculoProductoResponse">
  	<wsdl:part name="parameters" element="tb_om:consultarPorEspectaculoProductoResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarPorEspectaculoProductoFault">
  	<wsdl:part name="parameters" element="tb_om:consultarPorEspectaculoProductoFault"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarRankingFechaProductoRequest">
  	<wsdl:part name="parameters" element="tb_om:consultarRankingFechaProducto"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarRankingFechaProductoResponse">
  	<wsdl:part name="parameters" element="tb_om:consultarRankingFechaProductoResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarRankingFechaProductoFault">
  	<wsdl:part name="parameters" element="tb_om:consultarRankingFechaProductoFault"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarRankingEspectaculosVendidosProductoRequest">
  	<wsdl:part name="parameters" element="tb_om:consultarRankingEspectaculosVendidosProducto"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarRankingEspectaculosVendidosProductoResponse">
  	<wsdl:part name="parameters" element="tb_om:consultarRankingEspectaculosVendidosProductoResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message
  	name="consultarRankingEspectaculosVendidosProductoFault">
  	<wsdl:part name="parameters" element="tb_om:consultarRankingEspectaculosVendidosProductoFault"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarCampaniaProductoRequest">
  	<wsdl:part name="parameters" element="tb_om:consultarCampaniaProducto"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarCampaniaProductoResponse">
  	<wsdl:part name="parameters" element="tb_om:consultarCampaniaProductoResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarCampaniaProductoFault">
  	<wsdl:part name="parameters" element="tb_om:consultarCampaniaProductoFault"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="gestionCampaniaProductoRequest">
  	<wsdl:part name="parameters" element="tb_om:gestionCampaniaProducto"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="gestionCampaniaProductoResponse">
  	<wsdl:part name="parameters" element="tb_om:gestionCampaniaProductoResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="gestionCampaniaProductoFault">
  	<wsdl:part name="parameters" element="tb_om:gestionCampaniaProductoFault"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="gestionProductoRequest">
  	<wsdl:part name="parameters" element="tb_om:gestionProducto"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="gestionProductoResponse">
  	<wsdl:part name="parameters" element="tb_om:gestionProductoResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="gestionProductoFault">
  	<wsdl:part name="parameters" element="tb_om:gestionProductoFault"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="gestionTarifaRequest">
  	<wsdl:part name="parameters" element="tb_om:gestionTarifa"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="gestionTarifaResponse">
  	<wsdl:part name="parameters" element="tb_om:gestionTarifaResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="gestionTarifaFault">
  	<wsdl:part name="parameters" element="tb_om:gestionTarifaFault"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarOrdenesRequest">
  	<wsdl:part name="parameters" element="tb_om:consultarOrdenes"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarOrdenesResponse">
  	<wsdl:part name="parameters" element="tb_om:consultarOrdenesResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarOrdenesFault">
  	<wsdl:part name="parameters" element="tb_om:consultarOrdenesFault"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarRangoCerradoOrdenesRequest">
  	<wsdl:part name="parameters" element="tb_om:consultarRangoCerradoOrdenes"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarRangoCerradoOrdenesResponse">
  	<wsdl:part name="parameters" element="tb_om:consultarRangoCerradoOrdenesResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarRangoCerradoOrdenesFault">
  	<wsdl:part name="parameters" element="tb_om:consultarRangoCerradoOrdenesFault"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarRankingAbiertasOrdenesRequest">
  	<wsdl:part name="parameters" element="tb_om:consultarRankingAbiertasOrdenes"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarRankingAbiertasOrdenesResponse">
  	<wsdl:part name="parameters" element="tb_om:consultarRankingAbiertasOrdenesResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarRankingAbiertasOrdenesFault">
  	<wsdl:part name="parameters" element="tb_om:consultarRankingAbiertasOrdenesFault"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarRankingCerradoOrdenesRequest">
  	<wsdl:part name="parameters" element="tb_om:consultarRankingCerradoOrdenes"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarRankingCerradoOrdenesResponse">
  	<wsdl:part name="parameters" element="tb_om:consultarRankingCerradoOrdenesResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarRankingCerradoOrdenesFault">
  	<wsdl:part name="parameters" element="tb_om:consultarRankingCerradoOrdenesFault"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ServiceProxyOMS">
    <wsdl:operation name="registrarCliente">
      <wsdl:input message="tb_om:registrarClienteRequest"/>
      <wsdl:output message="tb_om:registrarClienteResponse"/>
            <wsdl:fault name="fault" message="tb_om:registrarClienteFault"></wsdl:fault>
        </wsdl:operation>
    <wsdl:operation name="actualizarCliente">
    	<wsdl:input message="tb_om:actualizarClienteRequest"></wsdl:input>
    	<wsdl:output message="tb_om:actualizarClienteResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_om:actualizarClienteFault"></wsdl:fault>
        </wsdl:operation>
    <wsdl:operation name="actualizarContraseniaCliente">
    	<wsdl:input message="tb_om:actualizarContraseniaClienteRequest"></wsdl:input>
    	<wsdl:output message="tb_om:actualizarContraseniaClienteResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_om:actualizarContraseniaClienteFault"></wsdl:fault>
        </wsdl:operation>
    <wsdl:operation name="actualizarEstatusCliente">
    	<wsdl:input message="tb_om:actualizarEstatusClienteRequest"></wsdl:input>
    	<wsdl:output message="tb_om:actualizarEstatusClienteResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_om:actualizarEstatusClienteFault"></wsdl:fault>
        </wsdl:operation>
    <wsdl:operation name="consultarPorIdentificacionCliente">
    	<wsdl:input message="tb_om:consultarPorIdentificacionClienteRequest"></wsdl:input>
    	<wsdl:output message="tb_om:consultarPorIdentificacionClienteResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_om:consultarPorIdentificacionClienteFault"></wsdl:fault>
        </wsdl:operation>
    <wsdl:operation name="consultarPorProductoCliente">
    	<wsdl:input message="tb_om:consultarPorProductoClienteRequest"></wsdl:input>
    	<wsdl:output message="tb_om:consultarPorProductoClienteResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_om:consultarPorProductoClienteFault"></wsdl:fault>
        </wsdl:operation>
    <wsdl:operation name="consultarPorFactRangoCliente">
    	<wsdl:input message="tb_om:consultarPorFactRangoClienteRequest"></wsdl:input>
    	<wsdl:output message="tb_om:consultarPorFactRangoClienteResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_om:consultarPorFactRangoClienteFault"></wsdl:fault>
        </wsdl:operation>
    <wsdl:operation name="consultarProducto">
    	<wsdl:input message="tb_om:consultarProductoRequest"></wsdl:input>
    	<wsdl:output message="tb_om:consultarProductoResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_om:consultarProductoFault"></wsdl:fault>
        </wsdl:operation>
    <wsdl:operation name="consultarPorEspectaculoProducto">
    	<wsdl:input message="tb_om:consultarPorEspectaculoProductoRequest"></wsdl:input>
    	<wsdl:output message="tb_om:consultarPorEspectaculoProductoResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_om:consultarPorEspectaculoProductoFault"></wsdl:fault>
        </wsdl:operation>
    <wsdl:operation name="consultarRankingFechaProducto">
    	<wsdl:input message="tb_om:consultarRankingFechaProductoRequest"></wsdl:input>
    	<wsdl:output message="tb_om:consultarRankingFechaProductoResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_om:consultarRankingFechaProductoFault"></wsdl:fault>
        </wsdl:operation>
    <wsdl:operation name="consultarRankingEspectaculosVendidosProducto">
    	<wsdl:input message="tb_om:consultarRankingEspectaculosVendidosProductoRequest"></wsdl:input>
    	<wsdl:output message="tb_om:consultarRankingEspectaculosVendidosProductoResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_om:consultarRankingEspectaculosVendidosProductoFault"></wsdl:fault>
        </wsdl:operation>
    <wsdl:operation name="consultarCampaniaProducto">
    	<wsdl:input message="tb_om:consultarCampaniaProductoRequest"></wsdl:input>
    	<wsdl:output message="tb_om:consultarCampaniaProductoResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_om:consultarCampaniaProductoFault"></wsdl:fault>
        </wsdl:operation>
    <wsdl:operation name="gestionCampaniaProducto">
    	<wsdl:input message="tb_om:gestionCampaniaProductoRequest"></wsdl:input>
    	<wsdl:output message="tb_om:gestionCampaniaProductoResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_om:gestionCampaniaProductoFault"></wsdl:fault>
        </wsdl:operation>
    <wsdl:operation name="gestionProducto">
    	<wsdl:input message="tb_om:gestionProductoRequest"></wsdl:input>
    	<wsdl:output message="tb_om:gestionProductoResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_om:gestionProductoFault"></wsdl:fault>
        </wsdl:operation>
    <wsdl:operation name="gestionTarifa">
    	<wsdl:input message="tb_om:gestionTarifaRequest"></wsdl:input>
    	<wsdl:output message="tb_om:gestionTarifaResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_om:gestionTarifaFault"></wsdl:fault>
        </wsdl:operation>
    <wsdl:operation name="consultarOrdenes">
    	<wsdl:input message="tb_om:consultarOrdenesRequest"></wsdl:input>
    	<wsdl:output message="tb_om:consultarOrdenesResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_om:consultarOrdenesFault"></wsdl:fault>
        </wsdl:operation>
    <wsdl:operation name="consultarRangoCerradoOrdenes">
    	<wsdl:input message="tb_om:consultarRangoCerradoOrdenesRequest"></wsdl:input>
    	<wsdl:output message="tb_om:consultarRangoCerradoOrdenesResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_om:consultarRangoCerradoOrdenesFault"></wsdl:fault>
        </wsdl:operation>
    <wsdl:operation name="consultarRankingAbiertasOrdenes">
    	<wsdl:input message="tb_om:consultarRankingAbiertasOrdenesRequest"></wsdl:input>
    	<wsdl:output message="tb_om:consultarRankingAbiertasOrdenesResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_om:consultarRankingAbiertasOrdenesFault"></wsdl:fault>
        </wsdl:operation>
    <wsdl:operation name="consultarRankingCerradoOrdenes">
    	<wsdl:input message="tb_om:consultarRankingCerradoOrdenesRequest"></wsdl:input>
    	<wsdl:output message="tb_om:consultarRankingCerradoOrdenesResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_om:consultarRankingCerradoOrdenesFault"></wsdl:fault>
        </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceProxyOMSSOAP"
  	type="tb_om:ServiceProxyOMS">

  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="registrarCliente">

  		<soap:operation
  			soapAction="http://www.example.org/ServiceProxyOMS/registrarCliente" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="fault">

  			<soap:fault use="literal" name="fault" />
  		</wsdl:fault>
  	</wsdl:operation>
  	<wsdl:operation name="actualizarCliente">

  		<soap:operation
  			soapAction="http://www.example.org/ServiceProxyOMS/actualizarCliente" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="fault">

  			<soap:fault use="literal" name="fault" />
  		</wsdl:fault>
  	</wsdl:operation>
  	<wsdl:operation name="actualizarContraseniaCliente">

  		<soap:operation
  			soapAction="http://www.example.org/ServiceProxyOMS/actualizarContraseniaCliente" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="fault">

  			<soap:fault use="literal" name="fault" />
  		</wsdl:fault>
  	</wsdl:operation>
  	<wsdl:operation name="actualizarEstatusCliente">

  		<soap:operation
  			soapAction="http://www.example.org/ServiceProxyOMS/actualizarEstatusCliente" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="fault">

  			<soap:fault use="literal" name="fault" />
  		</wsdl:fault>
  	</wsdl:operation>
  	<wsdl:operation name="consultarPorIdentificacionCliente">

  		<soap:operation
  			soapAction="http://www.example.org/ServiceProxyOMS/consultarPorIdentificacionCliente" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="fault">

  			<soap:fault use="literal" name="fault" />
  		</wsdl:fault>
  	</wsdl:operation>
  	<wsdl:operation name="consultarPorProductoCliente">

  		<soap:operation
  			soapAction="http://www.example.org/ServiceProxyOMS/consultarPorProductoCliente" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="fault">

  			<soap:fault use="literal" name="fault" />
  		</wsdl:fault>
  	</wsdl:operation>
  	<wsdl:operation name="consultarPorFactRangoCliente">

  		<soap:operation
  			soapAction="http://www.example.org/ServiceProxyOMS/consultarPorFactRangoCliente" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="fault">

  			<soap:fault use="literal" name="fault" />
  		</wsdl:fault>
  	</wsdl:operation>
  	<wsdl:operation name="consultarProducto">

  		<soap:operation
  			soapAction="http://www.example.org/ServiceProxyOMS/consultarProducto" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="fault">

  			<soap:fault use="literal" name="fault" />
  		</wsdl:fault>
  	</wsdl:operation>
  	<wsdl:operation name="consultarPorEspectaculoProducto">

  		<soap:operation
  			soapAction="http://www.example.org/ServiceProxyOMS/consultarPorEspectaculoProducto" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="fault">

  			<soap:fault use="literal" name="fault" />
  		</wsdl:fault>
  	</wsdl:operation>
  	<wsdl:operation name="consultarRankingFechaProducto">

  		<soap:operation
  			soapAction="http://www.example.org/ServiceProxyOMS/consultarRankingFechaProducto" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="fault">

  			<soap:fault use="literal" name="fault" />
  		</wsdl:fault>
  	</wsdl:operation>
  	<wsdl:operation
  		name="consultarRankingEspectaculosVendidosProducto">

  		<soap:operation
  			soapAction="http://www.example.org/ServiceProxyOMS/consultarRankingEspectaculosVendidosProducto" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="fault">

  			<soap:fault use="literal" name="fault" />
  		</wsdl:fault>
  	</wsdl:operation>
  	<wsdl:operation name="consultarCampaniaProducto">

  		<soap:operation
  			soapAction="http://www.example.org/ServiceProxyOMS/consultarCampaniaProducto" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="fault">

  			<soap:fault use="literal" name="fault" />
  		</wsdl:fault>
  	</wsdl:operation>
  	<wsdl:operation name="gestionCampaniaProducto">

  		<soap:operation
  			soapAction="http://www.example.org/ServiceProxyOMS/gestionCampaniaProducto" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="fault">

  			<soap:fault use="literal" name="fault" />
  		</wsdl:fault>
  	</wsdl:operation>
  	<wsdl:operation name="gestionProducto">

  		<soap:operation
  			soapAction="http://www.example.org/ServiceProxyOMS/gestionProducto" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="fault">

  			<soap:fault use="literal" name="fault" />
  		</wsdl:fault>
  	</wsdl:operation>
  	<wsdl:operation name="gestionTarifa">

  		<soap:operation
  			soapAction="http://www.example.org/ServiceProxyOMS/gestionTarifa" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="fault">

  			<soap:fault use="literal" name="fault" />
  		</wsdl:fault>
  	</wsdl:operation>
  	<wsdl:operation name="consultarOrdenes">

  		<soap:operation
  			soapAction="http://www.example.org/ServiceProxyOMS/consultarOrdenes" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="fault">

  			<soap:fault use="literal" name="fault" />
  		</wsdl:fault>
  	</wsdl:operation>
  	<wsdl:operation name="consultarRangoCerradoOrdenes">

  		<soap:operation
  			soapAction="http://www.example.org/ServiceProxyOMS/consultarRangoCerradoOrdenes" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="fault">

  			<soap:fault use="literal" name="fault" />
  		</wsdl:fault>
  	</wsdl:operation>
  	<wsdl:operation name="consultarRankingAbiertasOrdenes">

  		<soap:operation
  			soapAction="http://www.example.org/ServiceProxyOMS/consultarRankingAbiertasOrdenes" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="fault">

  			<soap:fault use="literal" name="fault" />
  		</wsdl:fault>
  	</wsdl:operation>
  	<wsdl:operation name="consultarRankingCerradoOrdenes">

  		<soap:operation
  			soapAction="http://www.example.org/ServiceProxyOMS/consultarRankingCerradoOrdenes" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="fault">

  			<soap:fault use="literal" name="fault" />
  		</wsdl:fault>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceProxyOMS">
    <wsdl:port binding="tb_om:ServiceProxyOMSSOAP" name="ServiceProxyOMSSOAP">
      <soap:address location="http://www.touresbalon.com/ServiceProxyOMS"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>