Servicios/WSDL_TouresBalon/src/aes/pica/wsdl/proxyservices/ServiceProxyB2C.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tb_b2="http://www.touresbalon.com/ServiceProxyB2C/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceProxyB2C"
	targetNamespace="http://www.touresbalon.com/ServiceProxyB2C/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.touresbalon.com/ServiceProxyB2C/">
			<xsd:element name="RegistrarCliente">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="cliente" type="tb_b2:Cliente"
							maxOccurs="1" minOccurs="1" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="RegistrarClienteResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="registrarClienteResponse"
							type="tb_b2:RegistrarClienteReponseType" maxOccurs="1" minOccurs="1">
						</xsd:element>
						</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AutenticarCliente">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="usuario" type="xsd:string"
							maxOccurs="1" minOccurs="1"></xsd:element>
						<xsd:element name="contrasenia" type="xsd:string"
							maxOccurs="1" minOccurs="1"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AutenticarClienteResponse">
				<xsd:complexType>
					<xsd:sequence><xsd:element name="respuesta" type="tb_b2:RespuestaGenerica" maxOccurs="1" minOccurs="1">
					</xsd:element></xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ActualizarCliente">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="cliente" type="tb_b2:Cliente"
							maxOccurs="1" minOccurs="1"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ActualizarClienteResponse">
				<xsd:complexType>
					<xsd:sequence><xsd:element name="respuesta" type="tb_b2:RespuestaGenerica" maxOccurs="1" minOccurs="1">
					</xsd:element></xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ActualizarContraseniaCliente">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="usuario" type="xsd:string"
							maxOccurs="1" minOccurs="1"></xsd:element>
						<xsd:element name="contrasenia" type="xsd:string"
							maxOccurs="1" minOccurs="1"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ActualizarContraseniaClienteResponse">
				<xsd:complexType>
					<xsd:sequence><xsd:element name="respuesta" type="tb_b2:RespuestaGenerica" maxOccurs="1" minOccurs="1">
					</xsd:element></xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ConsultarProducto">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="tipo_consulta" maxOccurs="1"
							minOccurs="1" type="tb_b2:TipoConsultaProducto">
						</xsd:element>
						<xsd:element name="cadena_consulta" type="xsd:string"
							maxOccurs="1" minOccurs="1">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ConsultarProductoResponse">
				<xsd:complexType>
					<xsd:sequence><xsd:element name="productos" type="tb_b2:Producto" maxOccurs="unbounded" minOccurs="0">
					</xsd:element></xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ConsultarCampaniaProducto">
				<xsd:complexType>
					<xsd:sequence>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ConsultarCampaniaProductoResponse">
				<xsd:complexType>
                    <xsd:sequence>
						<xsd:element name="productos" type="tb_b2:Producto" maxOccurs="unbounded" minOccurs="0"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ConsultarClientesOrdenes">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="id_cliente" type="xsd:int"
							maxOccurs="1" minOccurs="1" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ConsultarClientesOrdenesResponse">
				<xsd:complexType>
					<xsd:sequence><xsd:element name="orden" type="tb_b2:Orden" maxOccurs="unbounded" minOccurs="0" /></xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CancelarOrdenes">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="id_orden" type="xsd:int" maxOccurs="unbounded" minOccurs="1"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CancelarOrdenesResponse">
				<xsd:complexType>
					<xsd:sequence><xsd:element name="respuesta" type="tb_b2:RespuestaGenerica" maxOccurs="1" minOccurs="0">
					</xsd:element></xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="CrearOrdenes">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="orden" type="tb_b2:Orden"
							maxOccurs="1" minOccurs="1"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CrearOrdenesResponse">
				<xsd:complexType>
					<xsd:sequence><xsd:element name="respuesta" type="tb_b2:CrearOrdenResponse" maxOccurs="1" minOccurs="1">
					</xsd:element></xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:simpleType name="RespuestaGenerica">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="OK"></xsd:enumeration>
					<xsd:enumeration value="KO"></xsd:enumeration>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="Error">
				<xsd:sequence>
					<xsd:element name="codigo" type="xsd:string" maxOccurs="1"
						minOccurs="0"></xsd:element>
					<xsd:element name="mensaje" type="xsd:string"
						maxOccurs="1" minOccurs="0"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Direccion">
				<xsd:sequence>
					<xsd:element name="id_direccion" type="xsd:int" maxOccurs="1" minOccurs="0"></xsd:element>
					<xsd:element name="pais" type="xsd:string"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="ciudad" type="xsd:string"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="estado" type="xsd:string"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="cod_postal" type="xsd:string"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="tipo_dir" type="xsd:string"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="dir_calle" type="xsd:string"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Cliente">
				<xsd:sequence>
					<xsd:element name="id_cliente" type="xsd:int" maxOccurs="1" minOccurs="0"></xsd:element>
					<xsd:element name="nombres" type="xsd:string"
						maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="apellidos" type="xsd:string"
						maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="num_tel" type="xsd:string"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="email" type="xsd:string"
						maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="contrasenia" type="xsd:string"
						maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="tipo_tarjeta" type="xsd:string"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="numero_tarjeta" type="xsd:string"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="direccion" type="tb_b2:Direccion"
						maxOccurs="unbounded" minOccurs="0">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Item">
				<xsd:sequence>
					<xsd:element name="id_item" type="xsd:int"
						maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="id_prod" type="xsd:int"
						maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="nombre_prod" type="xsd:string"
						maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="part_num" type="xsd:string"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="precio" type="xsd:double"
						maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="cantidad" type="xsd:int"
						maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="id_orden" type="xsd:int" maxOccurs="1" minOccurs="0"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Orden">
				<xsd:sequence>
					<xsd:element name="id_cliente" type="xsd:int" maxOccurs="1" minOccurs="1"></xsd:element>
					<xsd:element name="id_orden" type="xsd:int"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="fecha_orden" type="xsd:dateTime"
						maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="precio" type="xsd:double"
						maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="estatus"
						type="tb_b2:EstatusOrden" maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="comentarios" type="xsd:string"
						maxOccurs="unbounded" minOccurs="0">
					</xsd:element>
					<xsd:element name="item" type="tb_b2:Item"
						maxOccurs="unbounded" minOccurs="0">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="EstatusOrden">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="VALIDACION"></xsd:enumeration>
					<xsd:enumeration value="RESERVACION"></xsd:enumeration>
					<xsd:enumeration value="CERRADA"></xsd:enumeration>
					<xsd:enumeration value="RECHAZADA"></xsd:enumeration>
					<xsd:enumeration value="CANCELADA"></xsd:enumeration>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="TipoConsultaProducto">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="DESCRIPCION"></xsd:enumeration>
					<xsd:enumeration value="ID"></xsd:enumeration>
					<xsd:enumeration value="NOMBRE"></xsd:enumeration>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="TarifaValores">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:int" maxOccurs="1"
						minOccurs="1"></xsd:element>
					<xsd:element name="nombre_tipo" type="xsd:string"
						maxOccurs="1" minOccurs="1"></xsd:element>
					<xsd:element name="precio" type="xsd:double" maxOccurs="1"
						minOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Ciudad">
				<xsd:sequence>
					<xsd:element name="id_ciudad" type="xsd:int" maxOccurs="1" minOccurs="0"></xsd:element>
					<xsd:element name="pais" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
					<xsd:element name="tipo_ciudad" type="tb_b2:TarifaValores" maxOccurs="unbounded" minOccurs="0"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Producto">
				<xsd:sequence>
					<xsd:element name="id_producto" type="xsd:int"
						maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="espectaculo" type="xsd:string"
						maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="descripcion" type="xsd:string"
						maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="ciudad_espectaculo"
						type="tb_b2:Ciudad" maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="fecha_llegada"
						type="xsd:dateTime" maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="fecha_salida" type="xsd:dateTime"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="fecha_espectaculo" type="xsd:dateTime" maxOccurs="1" minOccurs="0"></xsd:element>
					<xsd:element name="tipo_transporte"
						type="tb_b2:TarifaValores" maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="tipo_espectaculo"
						type="tb_b2:TarifaValores" maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="tipo_hospedaje"
						type="tb_b2:TarifaValores" maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="imagen_producto"
						type="xsd:string" maxOccurs="1" minOccurs="0">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		
			<xsd:complexType name="RegistrarClienteReponseType">
				<xsd:sequence>
					<xsd:element name="respuesta"
						type="tb_b2:RespuestaGenerica" maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="id_cliente" type="xsd:int" maxOccurs="1" minOccurs="0"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		
			<xsd:simpleType name="EstatusCliente">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="PLATINO"></xsd:enumeration>
					<xsd:enumeration value="DORADO"></xsd:enumeration>
					<xsd:enumeration value="PLATEADO"></xsd:enumeration>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:element name="RegistrarClienteFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="RegistrarClienteFault"
							type="tb_b2:Error" maxOccurs="1" minOccurs="0">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AutenticarClienteFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="AutenticarClienteFault"
							type="tb_b2:Error" maxOccurs="1" minOccurs="0">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ActualizarClienteFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ActualizarClienteFault"
							type="tb_b2:Error" maxOccurs="1" minOccurs="0">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ActualizarContraseniaClienteFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element
							name="ActualizarContraseniaClienteFault" type="tb_b2:Error" maxOccurs="1" minOccurs="0">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ConsultarProductoFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ConsultarProductoFault"
							type="tb_b2:Error" maxOccurs="1" minOccurs="0">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ConsultarCampaniaProductoFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element
							name="ConsultarCampaniaProductoFault" type="tb_b2:Error" maxOccurs="1" minOccurs="0">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ConsultarClientesOrdenesFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element
							name="ConsultarClientesOrdenesFault" type="tb_b2:Error" maxOccurs="1" minOccurs="0">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CancelarOrdenesFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="CancelarOrdenesFault"
							type="tb_b2:Error" maxOccurs="1" minOccurs="0">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CrearOrdenesFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="CrearOrdenesFault"
							type="tb_b2:Error" maxOccurs="1" minOccurs="0">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		
			<xsd:simpleType name="TipoConsultaOrden">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="ORDEN"></xsd:enumeration>
					<xsd:enumeration value="PRODUCTO"></xsd:enumeration>
				</xsd:restriction>
			</xsd:simpleType>
		
			<xsd:complexType name="CriterioConsultaOrden">
				<xsd:sequence>
					<xsd:element name="tipo_consulta"
						type="tb_b2:TipoConsultaOrden" maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="codigo" type="xsd:int" maxOccurs="1" minOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		
			<xsd:complexType name="RespuestaOrdenCerrada">
				<xsd:sequence>
					<xsd:element name="ordenes_cerradas"
						type="xsd:int" maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="total" type="xsd:double" maxOccurs="1" minOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		
			
            <xsd:simpleType name="TipoTarifa">
            	<xsd:restriction base="xsd:string">
            		<xsd:enumeration value="TRANSPORTE"></xsd:enumeration>
            		<xsd:enumeration value="HOSPEDAJE"></xsd:enumeration>
            		<xsd:enumeration value="ESPECTACULO"></xsd:enumeration>
            		<xsd:enumeration value="CIUDAD"></xsd:enumeration>
            	</xsd:restriction>
            </xsd:simpleType>		
            <xsd:complexType name="Campania">
            	<xsd:sequence>
            		<xsd:element name="id_producto" type="tb_b2:Producto"
            			maxOccurs="1" minOccurs="1">
            		</xsd:element>
            		<xsd:element name="fecha_inicio_campania"
            			type="xsd:dateTime" maxOccurs="1" minOccurs="1">
            		</xsd:element>
            		<xsd:element name="fecha_fin_campania" type="xsd:dateTime" maxOccurs="1" minOccurs="1"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
            <xsd:element name="ConsultaTop5Productos">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="id_producto" type="xsd:string" maxOccurs="unbounded" minOccurs="0"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="ConsultaTop5ProductosResponse">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="lista_productos_top" type="tb_b2:Producto" maxOccurs="unbounded" minOccurs="0"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="ConsultaTop5ProductosFault">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="ConsultaTop5ProductosFault"
            				type="tb_b2:Error" maxOccurs="1" minOccurs="0">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
		
		
            <xsd:complexType name="CrearOrdenResponse">
            	<xsd:sequence>
                    <xsd:element name="respuesta" type="tb_b2:RespuestaGenerica" maxOccurs="1" minOccurs="1"></xsd:element>
                    <xsd:element name="id_orden" type="xsd:int"
            			maxOccurs="1" minOccurs="0">
            		</xsd:element>
            		<xsd:element name="estatus_orden"
            			type="tb_b2:EstatusOrden" maxOccurs="1" minOccurs="0">
            		</xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="RegistrarClienteRequest">
		<wsdl:part element="tb_b2:RegistrarCliente" name="parameters" />
	</wsdl:message>
	<wsdl:message name="RegistrarClienteResponse">
		<wsdl:part element="tb_b2:RegistrarClienteResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="AutenticarClienteRequest">
		<wsdl:part name="parameters" element="tb_b2:AutenticarCliente"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="AutenticarClienteResponse">
		<wsdl:part name="parameters" element="tb_b2:AutenticarClienteResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ActualizarClienteRequest">
		<wsdl:part name="parameters" element="tb_b2:ActualizarCliente"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ActualizarClienteResponse">
		<wsdl:part name="parameters" element="tb_b2:ActualizarClienteResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ActualizarContraseniaClienteRequest">
		<wsdl:part name="parameters" element="tb_b2:ActualizarContraseniaCliente"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ActualizarContraseniaClienteResponse">
		<wsdl:part name="parameters" element="tb_b2:ActualizarContraseniaClienteResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ConsultarProductoRequest">
		<wsdl:part name="parameters" element="tb_b2:ConsultarProducto"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ConsultarProductoResponse">
		<wsdl:part name="parameters" element="tb_b2:ConsultarProductoResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ConsultarCampaniaProductoRequest">
		<wsdl:part name="parameters" element="tb_b2:ConsultarCampaniaProducto"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ConsultarCampaniaProductoResponse">
		<wsdl:part name="parameters" element="tb_b2:ConsultarCampaniaProductoResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ConsultarClientesOrdenesRequest">
		<wsdl:part name="parameters" element="tb_b2:ConsultarClientesOrdenes"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ConsultarClientesOrdenesResponse">
		<wsdl:part name="parameters" element="tb_b2:ConsultarClientesOrdenesResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="CancelarOrdenesRequest">
		<wsdl:part name="parameters" element="tb_b2:CancelarOrdenes"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="CancelarOrdenesResponse">
		<wsdl:part name="parameters" element="tb_b2:CancelarOrdenesResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="CrearOrdenesRequest">
		<wsdl:part name="parameters" element="tb_b2:CrearOrdenes"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="CrearOrdenesResponse">
		<wsdl:part name="parameters" element="tb_b2:CrearOrdenesResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="RegistrarClienteFault">
		<wsdl:part name="parameters" element="tb_b2:RegistrarClienteFault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="AutenticarClienteFault">
		<wsdl:part name="parameters" element="tb_b2:AutenticarClienteFault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ActualizarClienteFault">
		<wsdl:part name="parameters" element="tb_b2:ActualizarClienteFault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ActualizarContraseniaClienteFault">
		<wsdl:part name="parameters" element="tb_b2:ActualizarContraseniaClienteFault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ConsultarProductoFault">
		<wsdl:part name="parameters" element="tb_b2:ConsultarProductoFault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ConsultarCampaniaProductoFault">
		<wsdl:part name="parameters" element="tb_b2:ConsultarCampaniaProductoFault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ConsultarClientesOrdenesFault">
		<wsdl:part name="parameters" element="tb_b2:ConsultarClientesOrdenesFault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="CancelarOrdenesFault">
		<wsdl:part name="parameters" element="tb_b2:CancelarOrdenesFault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="CrearOrdenesFault">
		<wsdl:part name="parameters" element="tb_b2:CrearOrdenesFault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ConsultaTop5ProductosRequest">
		<wsdl:part name="parameters" element="tb_b2:ConsultaTop5Productos"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ConsultaTop5ProductosResponse">
		<wsdl:part name="parameters" element="tb_b2:ConsultaTop5ProductosResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ConsultaTop5ProductosFault">
		<wsdl:part name="parameters" element="tb_b2:ConsultaTop5ProductosFault"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="ServiceProxyB2C">
		<wsdl:operation name="RegistrarCliente">
			<wsdl:input message="tb_b2:RegistrarClienteRequest" />
			<wsdl:output message="tb_b2:RegistrarClienteResponse" />
            <wsdl:fault name="fault" message="tb_b2:RegistrarClienteFault"></wsdl:fault>
        </wsdl:operation>
		<wsdl:operation name="AutenticarCliente">
			<wsdl:input message="tb_b2:AutenticarClienteRequest"></wsdl:input>
			<wsdl:output message="tb_b2:AutenticarClienteResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_b2:AutenticarClienteFault"></wsdl:fault>
        </wsdl:operation>
		<wsdl:operation name="ActualizarCliente">
			<wsdl:input message="tb_b2:ActualizarClienteRequest"></wsdl:input>
			<wsdl:output message="tb_b2:ActualizarClienteResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_b2:ActualizarClienteFault"></wsdl:fault>
        </wsdl:operation>
		<wsdl:operation name="ActualizarContraseniaCliente">
			<wsdl:input message="tb_b2:ActualizarContraseniaClienteRequest"></wsdl:input>
			<wsdl:output message="tb_b2:ActualizarContraseniaClienteResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_b2:ActualizarContraseniaClienteFault"></wsdl:fault>
        </wsdl:operation>
		<wsdl:operation name="ConsultarProducto">
			<wsdl:input message="tb_b2:ConsultarProductoRequest"></wsdl:input>
			<wsdl:output message="tb_b2:ConsultarProductoResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_b2:ConsultarProductoFault"></wsdl:fault>
        </wsdl:operation>
		<wsdl:operation name="ConsultarCampaniaProducto">
			<wsdl:input message="tb_b2:ConsultarCampaniaProductoRequest"></wsdl:input>
			<wsdl:output message="tb_b2:ConsultarCampaniaProductoResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_b2:ConsultarCampaniaProductoFault"></wsdl:fault>
        </wsdl:operation>
		<wsdl:operation name="ConsultarClientesOrdenes">
			<wsdl:input message="tb_b2:ConsultarClientesOrdenesRequest"></wsdl:input>
			<wsdl:output message="tb_b2:ConsultarClientesOrdenesResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_b2:ConsultarClientesOrdenesFault"></wsdl:fault>
        </wsdl:operation>
		<wsdl:operation name="CancelarOrdenes">
			<wsdl:input message="tb_b2:CancelarOrdenesRequest"></wsdl:input>
			<wsdl:output message="tb_b2:CancelarOrdenesResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_b2:CancelarOrdenesFault"></wsdl:fault>
        </wsdl:operation>
		<wsdl:operation name="CrearOrdenes">
			<wsdl:input message="tb_b2:CrearOrdenesRequest"></wsdl:input>
			<wsdl:output message="tb_b2:CrearOrdenesResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_b2:CrearOrdenesFault"></wsdl:fault>
        </wsdl:operation>
		<wsdl:operation name="ConsultaTop5Productos">
			<wsdl:input message="tb_b2:ConsultaTop5ProductosRequest"></wsdl:input>
			<wsdl:output message="tb_b2:ConsultaTop5ProductosResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_b2:ConsultaTop5ProductosFault"></wsdl:fault>
        </wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ServiceProxyB2CSOAP"
		type="tb_b2:ServiceProxyB2C">

		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="RegistrarCliente">

			<soap:operation
				soapAction="http://www.touresbalon.com/ServiceProxyB2C/RegistrarCliente" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">

				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="AutenticarCliente">

			<soap:operation
				soapAction="http://www.touresbalon.com/ServiceProxyB2C/AutenticarCliente" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">

				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="ActualizarCliente">

			<soap:operation
				soapAction="http://www.touresbalon.com/ServiceProxyB2C/ActualizarCliente" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">

				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="ActualizarContraseniaCliente">

			<soap:operation
				soapAction="http://www.touresbalon.com/ServiceProxyB2C/ActualizarContraseniaCliente" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">

				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="ConsultarProducto">

			<soap:operation
				soapAction="http://www.touresbalon.com/ServiceProxyB2C/ConsultarProducto" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">

				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="ConsultarCampaniaProducto">

			<soap:operation
				soapAction="http://www.touresbalon.com/ServiceProxyB2C/ConsultarCampaniaProducto" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">

				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="ConsultarClientesOrdenes">

			<soap:operation
				soapAction="http://www.touresbalon.com/ServiceProxyB2C/ConsultarClientesOrdenes" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">

				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="CancelarOrdenes">

			<soap:operation
				soapAction="http://www.touresbalon.com/ServiceProxyB2C/CancelarOrdenes" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">

				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="CrearOrdenes">

			<soap:operation
				soapAction="http://www.touresbalon.com/ServiceProxyB2C/CrearOrdenes" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">

				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="ConsultaTop5Productos">

			<soap:operation
				soapAction="http://www.touresbalon.com/ServiceProxyB2C/ConsultaTop5Productos" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">

				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ServiceProxyB2C">
		<wsdl:port binding="tb_b2:ServiceProxyB2CSOAP" name="ServiceProxyB2CSOAP">
			<soap:address location="http://www.touresbalon.com/ServiceProxyB2C" />
		</wsdl:port>
	</wsdl:service>
=======
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tb_b2="http://www.touresbalon.com/ServiceProxyB2C/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceProxyB2C"
	targetNamespace="http://www.touresbalon.com/ServiceProxyB2C/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.touresbalon.com/ServiceProxyB2C/">
			<xsd:element name="RegistrarCliente">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="cliente" type="tb_b2:Cliente"
							maxOccurs="1" minOccurs="1" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="RegistrarClienteResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="registrarClienteResponse"
							type="tb_b2:RegistrarClienteReponseType" maxOccurs="1" minOccurs="1">
						</xsd:element>
						</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AutenticarCliente">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="usuario" type="xsd:string"
							maxOccurs="1" minOccurs="1"></xsd:element>
						<xsd:element name="contrasenia" type="xsd:string"
							maxOccurs="1" minOccurs="1"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AutenticarClienteResponse">
				<xsd:complexType>
					<xsd:sequence><xsd:element name="respuesta" type="tb_b2:RespuestaGenerica" maxOccurs="1" minOccurs="1">
					</xsd:element></xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ActualizarCliente">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="cliente" type="tb_b2:Cliente"
							maxOccurs="1" minOccurs="1"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ActualizarClienteResponse">
				<xsd:complexType>
					<xsd:sequence><xsd:element name="respuesta" type="tb_b2:RespuestaGenerica" maxOccurs="1" minOccurs="1">
					</xsd:element></xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ActualizarContraseniaCliente">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="usuario" type="xsd:string"
							maxOccurs="1" minOccurs="1"></xsd:element>
						<xsd:element name="contrasenia" type="xsd:string"
							maxOccurs="1" minOccurs="1"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ActualizarContraseniaClienteResponse">
				<xsd:complexType>
					<xsd:sequence><xsd:element name="respuesta" type="tb_b2:RespuestaGenerica" maxOccurs="1" minOccurs="1">
					</xsd:element></xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ConsultarProducto">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="tipo_consulta" maxOccurs="1"
							minOccurs="1" type="tb_b2:TipoConsultaProducto">
						</xsd:element>
						<xsd:element name="codigo" type="xsd:string"
							maxOccurs="1" minOccurs="0">
						</xsd:element>
						<xsd:element name="nombre" type="xsd:string"
							maxOccurs="1" minOccurs="0">
						</xsd:element>
						<xsd:element name="descripcion" type="xsd:string"
							maxOccurs="1" minOccurs="0">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ConsultarProductoResponse">
				<xsd:complexType>
					<xsd:sequence><xsd:element name="campanias" type="tb_b2:Campania" maxOccurs="unbounded" minOccurs="0">
					</xsd:element></xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ConsultarCampaniaProducto">
				<xsd:complexType>
					<xsd:sequence>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ConsultarCampaniaProductoResponse">
				<xsd:complexType>
                    <xsd:sequence>
						<xsd:element name="Productos" type="tb_b2:Producto" maxOccurs="unbounded" minOccurs="0"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ConsultarClientesOrdenes">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="id_cliente" type="xsd:string"
							maxOccurs="1" minOccurs="1" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ConsultarClientesOrdenesResponse">
				<xsd:complexType>
					<xsd:sequence><xsd:element name="orden" type="tb_b2:Orden" maxOccurs="unbounded" minOccurs="0" /></xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CancelarOrdenes">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="id_orden" type="xsd:string" maxOccurs="unbounded" minOccurs="1"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CancelarOrdenesResponse">
				<xsd:complexType>
					<xsd:sequence><xsd:element name="respuesta" type="tb_b2:RespuestaGenerica" maxOccurs="1" minOccurs="0">
					</xsd:element></xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="CrearOrdenes">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="orden" type="tb_b2:Orden"
							maxOccurs="1" minOccurs="1"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CrearOrdenesResponse">
				<xsd:complexType>
					<xsd:sequence><xsd:element name="respuesta" type="tb_b2:CrearOrdenResponse" maxOccurs="1" minOccurs="1">
					</xsd:element></xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:simpleType name="RespuestaGenerica">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="OK"></xsd:enumeration>
					<xsd:enumeration value="KO"></xsd:enumeration>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="Error">
				<xsd:sequence>
					<xsd:element name="codigo" type="xsd:string" maxOccurs="1"
						minOccurs="0"></xsd:element>
					<xsd:element name="mensaje" type="xsd:string"
						maxOccurs="1" minOccurs="0"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Direccion">
				<xsd:sequence>
					<xsd:element name="pais" type="xsd:string" maxOccurs="1"
						minOccurs="0"></xsd:element>
					<xsd:element name="ciudad" type="xsd:string" maxOccurs="1"
						minOccurs="0"></xsd:element>
					<xsd:element name="estado" type="xsd:string" maxOccurs="1"
						minOccurs="0"></xsd:element>
					<xsd:element name="cod_postal" type="xsd:string"
						maxOccurs="1" minOccurs="0"></xsd:element>
					<xsd:element name="tipo_dir" type="xsd:string"
						maxOccurs="1" minOccurs="0"></xsd:element>
					<xsd:element name="dir_calle" type="xsd:string"
						maxOccurs="1" minOccurs="0"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Cliente">
				<xsd:sequence>
					<xsd:element name="nombres" type="xsd:string"
						maxOccurs="1" minOccurs="1"></xsd:element>
					<xsd:element name="apellidos" type="xsd:string"
						maxOccurs="1" minOccurs="1"></xsd:element>
					<xsd:element name="num_tel" type="xsd:string"
						maxOccurs="1" minOccurs="0"></xsd:element>
					<xsd:element name="email" type="xsd:string" maxOccurs="1"
						minOccurs="1"></xsd:element>
					<xsd:element name="contrasenia" type="xsd:string"
						maxOccurs="1" minOccurs="1"></xsd:element>
					<xsd:element name="tipo_tarjeta" type="xsd:string"
						maxOccurs="1" minOccurs="0"></xsd:element>
					<xsd:element name="numero_tarjeta" type="xsd:string"
						maxOccurs="1" minOccurs="0"></xsd:element>
					<xsd:element name="direccion" type="tb_b2:Direccion"
						maxOccurs="unbounded" minOccurs="0"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Item">
				<xsd:sequence>
					<xsd:element name="id_item" type="xsd:string"
						maxOccurs="1" minOccurs="1"></xsd:element>
					<xsd:element name="id_prod" type="xsd:int" maxOccurs="1"
						minOccurs="1"></xsd:element>
					<xsd:element name="nombre_prod" type="xsd:string"
						maxOccurs="1" minOccurs="1"></xsd:element>
					<xsd:element name="part_num" type="xsd:string"
						maxOccurs="1" minOccurs="0"></xsd:element>
					<xsd:element name="precio" type="xsd:double" maxOccurs="1"
						minOccurs="1"></xsd:element>
					<xsd:element name="cantidad" type="xsd:int" maxOccurs="1"
						minOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Orden">
				<xsd:sequence>
					<xsd:element name="id_orden" type="xsd:string"
						maxOccurs="1" minOccurs="0"></xsd:element>
					<xsd:element name="fecha_orden" type="xsd:dateTime"
						maxOccurs="1" minOccurs="1"></xsd:element>
					<xsd:element name="precio" type="xsd:double" maxOccurs="1"
						minOccurs="1"></xsd:element>
					<xsd:element name="estatus" type="tb_b2:EstatusOrden"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="comentarios" type="xsd:string"
						maxOccurs="unbounded" minOccurs="0"></xsd:element>
					<xsd:element name="item" type="tb_b2:Item" maxOccurs="unbounded"
						minOccurs="0"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="EstatusOrden">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="VALIDACION"></xsd:enumeration>
					<xsd:enumeration value="RESERVACION"></xsd:enumeration>
					<xsd:enumeration value="CERRADA"></xsd:enumeration>
					<xsd:enumeration value="RECHAZADA"></xsd:enumeration>
					<xsd:enumeration value="CANCELADA"></xsd:enumeration>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="TipoConsultaProducto">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="DESCRIPCION"></xsd:enumeration>
					<xsd:enumeration value="ID"></xsd:enumeration>
					<xsd:enumeration value="NOMBRE"></xsd:enumeration>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="TarifaValores">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:int" maxOccurs="1"
						minOccurs="1"></xsd:element>
					<xsd:element name="nombre_tipo" type="xsd:string"
						maxOccurs="1" minOccurs="1"></xsd:element>
					<xsd:element name="precio" type="xsd:double" maxOccurs="1"
						minOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Ciudad">
				<xsd:sequence>
					<xsd:element name="id_ciudad" type="xsd:int"></xsd:element>
					<xsd:element name="pais" type="xsd:string"></xsd:element>
					<xsd:element name="tipo_ciudad" type="tb_b2:TarifaValores"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Producto">
				<xsd:sequence>
					<xsd:element name="id_producto" type="xsd:int"
						maxOccurs="1" minOccurs="1"></xsd:element>
					<xsd:element name="espectaculo" type="xsd:string"
						maxOccurs="1" minOccurs="1"></xsd:element>
					<xsd:element name="ciudad_espectaculo" type="tb_b2:Ciudad"
						maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="fecha_llegada" type="xsd:dateTime"
						maxOccurs="1" minOccurs="0"></xsd:element>
					<xsd:element name="fecha_salida" type="xsd:dateTime"
						maxOccurs="1" minOccurs="0"></xsd:element>
					<xsd:element name="tipo_transporte" type="tb_b2:TarifaValores"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="tipo_espectaculo" type="tb_b2:TarifaValores"
						maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="tipo_hospedaje" type="tb_b2:TarifaValores"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="imagen_producto" type="xsd:string"
						maxOccurs="1" minOccurs="0"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		
			<xsd:complexType name="RegistrarClienteReponseType">
				<xsd:sequence>
					<xsd:element name="respuesta"
						type="tb_b2:RespuestaGenerica" maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="id_cliente" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		
			<xsd:simpleType name="EstatusCliente">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="PLATINO"></xsd:enumeration>
					<xsd:enumeration value="DORADO"></xsd:enumeration>
					<xsd:enumeration value="PLATEADO"></xsd:enumeration>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:element name="RegistrarClienteFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="RegistrarClienteFault"
							type="tb_b2:Error" maxOccurs="1" minOccurs="0">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AutenticarClienteFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="AutenticarClienteFault"
							type="tb_b2:Error" maxOccurs="1" minOccurs="0">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ActualizarClienteFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ActualizarClienteFault"
							type="tb_b2:Error" maxOccurs="1" minOccurs="0">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ActualizarContraseniaClienteFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element
							name="ActualizarContraseniaClienteFault" type="tb_b2:Error" maxOccurs="1" minOccurs="0">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ConsultarProductoFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ConsultarProductoFault"
							type="tb_b2:Error" maxOccurs="1" minOccurs="0">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ConsultarCampaniaProductoFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element
							name="ConsultarCampaniaProductoFault" type="tb_b2:Error" maxOccurs="1" minOccurs="0">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ConsultarClientesOrdenesFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element
							name="ConsultarClientesOrdenesFault" type="tb_b2:Error" maxOccurs="1" minOccurs="0">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CancelarOrdenesFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="CancelarOrdenesFault"
							type="tb_b2:Error" maxOccurs="1" minOccurs="0">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CrearOrdenesFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="CrearOrdenesFault"
							type="tb_b2:Error" maxOccurs="1" minOccurs="0">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		
			<xsd:simpleType name="TipoConsultaOrden">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="ORDEN"></xsd:enumeration>
					<xsd:enumeration value="PRODUCTO"></xsd:enumeration>
				</xsd:restriction>
			</xsd:simpleType>
		
			<xsd:complexType name="CriterioConsultaOrden">
				<xsd:sequence>
					<xsd:element name="tipo_consulta"
						type="tb_b2:TipoConsultaOrden" maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="codigo" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		
			<xsd:complexType name="RespuestaOrdenCerrada">
				<xsd:sequence>
					<xsd:element name="ordenes_cerradas"
						type="xsd:int" maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="total_mes" type="xsd:double" maxOccurs="1" minOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		
			
            <xsd:simpleType name="TipoTarifa">
            	<xsd:restriction base="xsd:string">
            		<xsd:enumeration value="TRANSPORTE"></xsd:enumeration>
            		<xsd:enumeration value="HOSPEDAJE"></xsd:enumeration>
            		<xsd:enumeration value="ESPECTACULO"></xsd:enumeration>
            		<xsd:enumeration value="CIUDAD"></xsd:enumeration>
            	</xsd:restriction>
            </xsd:simpleType>		
            <xsd:complexType name="Campania">
            	<xsd:sequence>
            		<xsd:element name="id_producto" type="tb_b2:Producto"
            			maxOccurs="1" minOccurs="1">
            		</xsd:element>
            		<xsd:element name="fecha_inicio_campania"
            			type="xsd:dateTime" maxOccurs="1" minOccurs="1">
            		</xsd:element>
            		<xsd:element name="fecha_fin_campania" type="xsd:dateTime" maxOccurs="1" minOccurs="1"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
            <xsd:element name="ConsultaTop5Productos">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="id_producto" type="xsd:string" maxOccurs="unbounded" minOccurs="0"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="ConsultaTop5ProductosResponse">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="lista_productos_top" type="tb_b2:Producto" maxOccurs="unbounded" minOccurs="0"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="ConsultaTop5ProductosFault">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="ConsultaTop5ProductosFault"
            				type="tb_b2:Error" maxOccurs="1" minOccurs="0">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
		
		
            <xsd:complexType name="CrearOrdenResponse">
            	<xsd:sequence>
            		<xsd:element name="id_orden" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
            		<xsd:element name="estatus_orden" type="tb_b2:EstatusOrden" maxOccurs="1" minOccurs="0"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="RegistrarClienteRequest">
		<wsdl:part element="tb_b2:RegistrarCliente" name="parameters" />
	</wsdl:message>
	<wsdl:message name="RegistrarClienteResponse">
		<wsdl:part element="tb_b2:RegistrarClienteResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="AutenticarClienteRequest">
		<wsdl:part name="parameters" element="tb_b2:AutenticarCliente"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="AutenticarClienteResponse">
		<wsdl:part name="parameters" element="tb_b2:AutenticarClienteResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ActualizarClienteRequest">
		<wsdl:part name="parameters" element="tb_b2:ActualizarCliente"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ActualizarClienteResponse">
		<wsdl:part name="parameters" element="tb_b2:ActualizarClienteResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ActualizarContraseniaClienteRequest">
		<wsdl:part name="parameters" element="tb_b2:ActualizarContraseniaCliente"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ActualizarContraseniaClienteResponse">
		<wsdl:part name="parameters" element="tb_b2:ActualizarContraseniaClienteResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ConsultarProductoRequest">
		<wsdl:part name="parameters" element="tb_b2:ConsultarProducto"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ConsultarProductoResponse">
		<wsdl:part name="parameters" element="tb_b2:ConsultarProductoResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ConsultarCampaniaProductoRequest">
		<wsdl:part name="parameters" element="tb_b2:ConsultarCampaniaProducto"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ConsultarCampaniaProductoResponse">
		<wsdl:part name="parameters" element="tb_b2:ConsultarCampaniaProductoResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ConsultarClientesOrdenesRequest">
		<wsdl:part name="parameters" element="tb_b2:ConsultarClientesOrdenes"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ConsultarClientesOrdenesResponse">
		<wsdl:part name="parameters" element="tb_b2:ConsultarClientesOrdenesResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="CancelarOrdenesRequest">
		<wsdl:part name="parameters" element="tb_b2:CancelarOrdenes"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="CancelarOrdenesResponse">
		<wsdl:part name="parameters" element="tb_b2:CancelarOrdenesResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="CrearOrdenesRequest">
		<wsdl:part name="parameters" element="tb_b2:CrearOrdenes"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="CrearOrdenesResponse">
		<wsdl:part name="parameters" element="tb_b2:CrearOrdenesResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="RegistrarClienteFault">
		<wsdl:part name="parameters" element="tb_b2:RegistrarClienteFault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="AutenticarClienteFault">
		<wsdl:part name="parameters" element="tb_b2:AutenticarClienteFault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ActualizarClienteFault">
		<wsdl:part name="parameters" element="tb_b2:ActualizarClienteFault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ActualizarContraseniaClienteFault">
		<wsdl:part name="parameters" element="tb_b2:ActualizarContraseniaClienteFault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ConsultarProductoFault">
		<wsdl:part name="parameters" element="tb_b2:ConsultarProductoFault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ConsultarCampaniaProductoFault">
		<wsdl:part name="parameters" element="tb_b2:ConsultarCampaniaProductoFault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ConsultarClientesOrdenesFault">
		<wsdl:part name="parameters" element="tb_b2:ConsultarClientesOrdenesFault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="CancelarOrdenesFault">
		<wsdl:part name="parameters" element="tb_b2:CancelarOrdenesFault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="CrearOrdenesFault">
		<wsdl:part name="parameters" element="tb_b2:CrearOrdenesFault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ConsultaTop5ProductosRequest">
		<wsdl:part name="parameters" element="tb_b2:ConsultaTop5Productos"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ConsultaTop5ProductosResponse">
		<wsdl:part name="parameters" element="tb_b2:ConsultaTop5ProductosResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ConsultaTop5ProductosFault">
		<wsdl:part name="parameters" element="tb_b2:ConsultaTop5ProductosFault"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="ServiceProxyB2C">
		<wsdl:operation name="RegistrarCliente">
			<wsdl:input message="tb_b2:RegistrarClienteRequest" />
			<wsdl:output message="tb_b2:RegistrarClienteResponse" />
            <wsdl:fault name="fault" message="tb_b2:RegistrarClienteFault"></wsdl:fault>
        </wsdl:operation>
		<wsdl:operation name="AutenticarCliente">
			<wsdl:input message="tb_b2:AutenticarClienteRequest"></wsdl:input>
			<wsdl:output message="tb_b2:AutenticarClienteResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_b2:AutenticarClienteFault"></wsdl:fault>
        </wsdl:operation>
		<wsdl:operation name="ActualizarCliente">
			<wsdl:input message="tb_b2:ActualizarClienteRequest"></wsdl:input>
			<wsdl:output message="tb_b2:ActualizarClienteResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_b2:ActualizarClienteFault"></wsdl:fault>
        </wsdl:operation>
		<wsdl:operation name="ActualizarContraseniaCliente">
			<wsdl:input message="tb_b2:ActualizarContraseniaClienteRequest"></wsdl:input>
			<wsdl:output message="tb_b2:ActualizarContraseniaClienteResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_b2:ActualizarContraseniaClienteFault"></wsdl:fault>
        </wsdl:operation>
		<wsdl:operation name="ConsultarProducto">
			<wsdl:input message="tb_b2:ConsultarProductoRequest"></wsdl:input>
			<wsdl:output message="tb_b2:ConsultarProductoResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_b2:ConsultarProductoFault"></wsdl:fault>
        </wsdl:operation>
		<wsdl:operation name="ConsultarCampaniaProducto">
			<wsdl:input message="tb_b2:ConsultarCampaniaProductoRequest"></wsdl:input>
			<wsdl:output message="tb_b2:ConsultarCampaniaProductoResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_b2:ConsultarCampaniaProductoFault"></wsdl:fault>
        </wsdl:operation>
		<wsdl:operation name="ConsultarClientesOrdenes">
			<wsdl:input message="tb_b2:ConsultarClientesOrdenesRequest"></wsdl:input>
			<wsdl:output message="tb_b2:ConsultarClientesOrdenesResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_b2:ConsultarClientesOrdenesFault"></wsdl:fault>
        </wsdl:operation>
		<wsdl:operation name="CancelarOrdenes">
			<wsdl:input message="tb_b2:CancelarOrdenesRequest"></wsdl:input>
			<wsdl:output message="tb_b2:CancelarOrdenesResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_b2:CancelarOrdenesFault"></wsdl:fault>
        </wsdl:operation>
		<wsdl:operation name="CrearOrdenes">
			<wsdl:input message="tb_b2:CrearOrdenesRequest"></wsdl:input>
			<wsdl:output message="tb_b2:CrearOrdenesResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_b2:CrearOrdenesFault"></wsdl:fault>
        </wsdl:operation>
		<wsdl:operation name="ConsultaTop5Productos">
			<wsdl:input message="tb_b2:ConsultaTop5ProductosRequest"></wsdl:input>
			<wsdl:output message="tb_b2:ConsultaTop5ProductosResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_b2:ConsultaTop5ProductosFault"></wsdl:fault>
        </wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ServiceProxyB2CSOAP"
		type="tb_b2:ServiceProxyB2C">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="RegistrarCliente">
			<soap:operation
				soapAction="http://www.touresbalon.com/ServiceProxyB2C/RegistrarCliente" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault use="literal" name="fault" />
			</wsdl:fault>			
		</wsdl:operation>
		<wsdl:operation name="AutenticarCliente">
			<soap:operation
				soapAction="http://www.touresbalon.com/ServiceProxyB2C/AutenticarCliente" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault use="literal" name="fault" />
			</wsdl:fault>			
		</wsdl:operation>
		<wsdl:operation name="ActualizarCliente">
			<soap:operation
				soapAction="http://www.touresbalon.com/ServiceProxyB2C/ActualizarCliente" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault use="literal" name="fault" />
			</wsdl:fault>			
		</wsdl:operation>
		<wsdl:operation name="ActualizarContraseniaCliente">
			<soap:operation
				soapAction="http://www.touresbalon.com/ServiceProxyB2C/ActualizarContraseniaCliente" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault use="literal" name="fault" />
			</wsdl:fault>			
		</wsdl:operation>
		<wsdl:operation name="ConsultarProducto">
			<soap:operation
				soapAction="http://www.touresbalon.com/ServiceProxyB2C/ConsultarProducto" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault use="literal" name="fault" />
			</wsdl:fault>			
		</wsdl:operation>
		<wsdl:operation name="ConsultarCampaniaProducto">
			<soap:operation
				soapAction="http://www.touresbalon.com/ServiceProxyB2C/ConsultarCampaniaProducto" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault use="literal" name="fault" />
			</wsdl:fault>			
		</wsdl:operation>
		<wsdl:operation name="ConsultarClientesOrdenes">
			<soap:operation
				soapAction="http://www.touresbalon.com/ServiceProxyB2C/ConsultarClientesOrdenes" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault use="literal" name="fault" />
			</wsdl:fault>			
		</wsdl:operation>
		<wsdl:operation name="CancelarOrdenes">
			<soap:operation
				soapAction="http://www.touresbalon.com/ServiceProxyB2C/CancelarOrdenes" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault use="literal" name="fault" />
			</wsdl:fault>			
		</wsdl:operation>
		<wsdl:operation name="CrearOrdenes">
			<soap:operation
				soapAction="http://www.touresbalon.com/ServiceProxyB2C/CrearOrdenes" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault use="literal" name="fault" />
			</wsdl:fault>			
		</wsdl:operation>
		<wsdl:operation name="ConsultaTop5Productos">
			<soap:operation
				soapAction="http://www.touresbalon.com/ServiceProxyB2C/ConsultaTop5Productos" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ServiceProxyB2C">
		<wsdl:port binding="tb_b2:ServiceProxyB2CSOAP" name="ServiceProxyB2CSOAP">
			<soap:address location="http://www.touresbalon.com/ServiceProxyB2C" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>