Servicios/WSDL_TouresBalon/src/aes/pica/wsdl/proxyservices/ServiceProxyB2C.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tb_b2="http://www.touresbalon.com/ServiceProxyB2C/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceProxyB2C"
	targetNamespace="http://www.touresbalon.com/ServiceProxyB2C/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.touresbalon.com/ServiceProxyB2C/">
			<xsd:element name="RegistrarCliente">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="cliente" type="tb_b2:Cliente"
							maxOccurs="1" minOccurs="1" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="RegistrarClienteResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="registrarClienteResponse"
							type="tb_b2:RegistrarClienteReponseType" maxOccurs="1" minOccurs="1">
						</xsd:element>
						</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AutenticarCliente">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="usuario" type="xsd:string"
							maxOccurs="1" minOccurs="1"></xsd:element>
						<xsd:element name="contrasenia" type="xsd:string"
							maxOccurs="1" minOccurs="1"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AutenticarClienteResponse">
				<xsd:complexType>
					<xsd:sequence><xsd:element name="respuesta" type="tb_b2:RespuestaGenerica" maxOccurs="1" minOccurs="1">
					</xsd:element></xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ActualizarCliente">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="cliente" type="tb_b2:Cliente"
							maxOccurs="1" minOccurs="1"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ActualizarClienteResponse">
				<xsd:complexType>
					<xsd:sequence><xsd:element name="respuesta" type="tb_b2:RespuestaGenerica" maxOccurs="1" minOccurs="1">
					</xsd:element></xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ActualizarContraseniaCliente">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="usuario" type="xsd:string"
							maxOccurs="1" minOccurs="1"></xsd:element>
						<xsd:element name="contrasenia" type="xsd:string"
							maxOccurs="1" minOccurs="1"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ActualizarContraseniaClienteResponse">
				<xsd:complexType>
					<xsd:sequence><xsd:element name="respuesta" type="tb_b2:RespuestaGenerica" maxOccurs="1" minOccurs="1">
					</xsd:element></xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ConsultarProducto">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="tipo_consulta" type="tb_b2:TipoConsultaProducto"
							maxOccurs="1" minOccurs="1">
						</xsd:element>
						<xsd:element name="codigo" type="xsd:string"
							maxOccurs="1" minOccurs="0">
						</xsd:element>
						<xsd:element name="nombre" type="xsd:string"
							maxOccurs="1" minOccurs="0">
						</xsd:element>
						<xsd:element name="descripcion" type="xsd:string"
							maxOccurs="1" minOccurs="0">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ConsultarProductoResponse">
				<xsd:complexType>
					<xsd:sequence><xsd:element name="productos" type="tb_b2:TipoConsultaProductoResponse" maxOccurs="unbounded" minOccurs="0">
					</xsd:element></xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ConsultarCampaniaProducto">
				<xsd:complexType>
					<xsd:sequence>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ConsultarCampaniaProductoResponse">
				<xsd:complexType>
					<xsd:choice>
						<xsd:element name="producto" type="tb_b2:Producto"
							maxOccurs="unbounded" minOccurs="0"></xsd:element>
						<xsd:element name="error" type="tb_b2:Error"
							maxOccurs="1" minOccurs="0">
						</xsd:element>
					</xsd:choice>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ConsultarClientesOrdenes">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="id_cliente" type="xsd:string"
							maxOccurs="1" minOccurs="1" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ConsultarClientesOrdenesResponse">
				<xsd:complexType>
					<xsd:sequence><xsd:element name="orden" type="tb_b2:Orden" maxOccurs="unbounded" minOccurs="0" /></xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CancelarOrdenes">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="id_orden" type="xsd:string" maxOccurs="unbounded" minOccurs="1"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CancelarOrdenesResponse">
				<xsd:complexType>
					<xsd:sequence><xsd:element name="respuesta" type="tb_b2:RespuestaGenerica" maxOccurs="1" minOccurs="0">
					</xsd:element></xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CrearOrdenes">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="orden" type="tb_b2:Orden"
							maxOccurs="unbounded" minOccurs="1"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CrearOrdenesResponse">
				<xsd:complexType>
					<xsd:sequence><xsd:element name="respuesta" type="tb_b2:RespuestaGenerica" maxOccurs="1" minOccurs="0">
					</xsd:element></xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:simpleType name="RespuestaGenerica">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="OK"></xsd:enumeration>
					<xsd:enumeration value="KO"></xsd:enumeration>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="Error">
				<xsd:sequence>
					<xsd:element name="codigo" type="xsd:string" maxOccurs="1"
						minOccurs="0"></xsd:element>
					<xsd:element name="mensaje" type="xsd:string"
						maxOccurs="1" minOccurs="0"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Direccion">
				<xsd:sequence>
					<xsd:element name="pais" type="xsd:string" maxOccurs="1"
						minOccurs="0"></xsd:element>
					<xsd:element name="ciudad" type="xsd:string" maxOccurs="1"
						minOccurs="0"></xsd:element>
					<xsd:element name="estado" type="xsd:string" maxOccurs="1"
						minOccurs="0"></xsd:element>
					<xsd:element name="cod_postal" type="xsd:string"
						maxOccurs="1" minOccurs="0"></xsd:element>
					<xsd:element name="tipo_dir" type="xsd:string"
						maxOccurs="1" minOccurs="0"></xsd:element>
					<xsd:element name="dir_calle" type="xsd:string"
						maxOccurs="1" minOccurs="0"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Cliente">
				<xsd:sequence>
					<xsd:element name="nombres" type="xsd:string"
						maxOccurs="1" minOccurs="1"></xsd:element>
					<xsd:element name="apellidos" type="xsd:string"
						maxOccurs="1" minOccurs="1"></xsd:element>
					<xsd:element name="num_tel" type="xsd:string"
						maxOccurs="1" minOccurs="0"></xsd:element>
					<xsd:element name="email" type="xsd:string" maxOccurs="1"
						minOccurs="1"></xsd:element>
					<xsd:element name="contrasenia" type="xsd:string"
						maxOccurs="1" minOccurs="1"></xsd:element>
					<xsd:element name="tipo_tarjeta" type="xsd:string"
						maxOccurs="1" minOccurs="0"></xsd:element>
					<xsd:element name="numero_tarjeta" type="xsd:string"
						maxOccurs="1" minOccurs="0"></xsd:element>
					<xsd:element name="direccion" type="tb_b2:Direccion"
						maxOccurs="unbounded" minOccurs="0"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Item">
				<xsd:sequence>
					<xsd:element name="id_item" type="xsd:string"
						maxOccurs="1" minOccurs="1"></xsd:element>
					<xsd:element name="id_prod" type="xsd:int" maxOccurs="1"
						minOccurs="1"></xsd:element>
					<xsd:element name="nombre_prod" type="xsd:string"
						maxOccurs="1" minOccurs="1"></xsd:element>
					<xsd:element name="part_num" type="xsd:string"
						maxOccurs="1" minOccurs="0"></xsd:element>
					<xsd:element name="precio" type="xsd:double" maxOccurs="1"
						minOccurs="1"></xsd:element>
					<xsd:element name="cantidad" type="xsd:int" maxOccurs="1"
						minOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Orden">
				<xsd:sequence>
					<xsd:element name="id_orden" type="xsd:string"
						maxOccurs="1" minOccurs="1"></xsd:element>
					<xsd:element name="fecha_orden" type="xsd:date"
						maxOccurs="1" minOccurs="1"></xsd:element>
					<xsd:element name="precio" type="xsd:double" maxOccurs="1"
						minOccurs="1"></xsd:element>
					<xsd:element name="estatus" type="tb_b2:EstatusOrden"
						maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="comentarios" type="xsd:string"
						maxOccurs="unbounded" minOccurs="0"></xsd:element>
					<xsd:element name="item" type="tb_b2:Item" maxOccurs="unbounded"
						minOccurs="0"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="EstatusOrden">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="VALIDACION"></xsd:enumeration>
					<xsd:enumeration value="RESERVACION"></xsd:enumeration>
					<xsd:enumeration value="CERRADA"></xsd:enumeration>
					<xsd:enumeration value="RECHAZADA"></xsd:enumeration>
					<xsd:enumeration value="CANCELADA"></xsd:enumeration>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="TipoConsultaProducto">
				<xsd:restriction base="xsd:string"></xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="TarifaValores">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:int" maxOccurs="1"
						minOccurs="1"></xsd:element>
					<xsd:element name="nombre_tipo" type="xsd:string"
						maxOccurs="1" minOccurs="1"></xsd:element>
					<xsd:element name="precio" type="xsd:double" maxOccurs="1"
						minOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Ciudad">
				<xsd:sequence>
					<xsd:element name="id_ciudad" type="xsd:int"></xsd:element>
					<xsd:element name="pais" type="xsd:string"></xsd:element>
					<xsd:element name="tipo_ciudad" type="tb_b2:TarifaValores"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Producto">
				<xsd:sequence>
					<xsd:element name="id_producto" type="xsd:int"
						maxOccurs="1" minOccurs="1"></xsd:element>
					<xsd:element name="espectaculo" type="xsd:string"
						maxOccurs="1" minOccurs="1"></xsd:element>
					<xsd:element name="ciudad_espectaculo" type="tb_b2:Ciudad"
						maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="fecha_llegada" type="xsd:date"
						maxOccurs="1" minOccurs="0"></xsd:element>
					<xsd:element name="fecha_salida" type="xsd:date"
						maxOccurs="1" minOccurs="0"></xsd:element>
					<xsd:element name="tipo_transporte" type="tb_b2:TarifaValores"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="tipo_espectaculo" type="tb_b2:TarifaValores"
						maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="tipo_hospedaje" type="tb_b2:TarifaValores"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="imagen_producto" type="xsd:base64Binary"
						maxOccurs="1" minOccurs="0"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		
			<xsd:complexType name="RegistrarClienteReponseType">
				<xsd:sequence>
					<xsd:element name="respuesta"
						type="tb_b2:RespuestaGenerica" maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="id_cliente" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		
			<xsd:simpleType name="EstatusCliente">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="PLATINO"></xsd:enumeration>
					<xsd:enumeration value="DORADO"></xsd:enumeration>
					<xsd:enumeration value="PLATEADO"></xsd:enumeration>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:element name="RegistrarClienteFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="RegistrarClienteFault"
							type="tb_b2:Error" maxOccurs="1" minOccurs="0">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AutenticarClienteFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="AutenticarClienteFault"
							type="tb_b2:Error" maxOccurs="1" minOccurs="0">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ActualizarClienteFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ActualizarClienteFault"
							type="tb_b2:Error" maxOccurs="1" minOccurs="0">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ActualizarContraseniaClienteFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element
							name="ActualizarContraseniaClienteFault" type="tb_b2:Error" maxOccurs="1" minOccurs="0">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ConsultarProductoFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ConsultarProductoFault"
							type="tb_b2:Error" maxOccurs="1" minOccurs="0">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ConsultarCampaniaProductoFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element
							name="ConsultarCampaniaProductoFault" type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ConsultarClientesOrdenesFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element
							name="ConsultarClientesOrdenesFault" type="tb_b2:Error" maxOccurs="1" minOccurs="0">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CancelarOrdenesFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="CancelarOrdenesFault"
							type="tb_b2:Error" maxOccurs="1" minOccurs="0">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CrearOrdenesFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="CrearOrdenesFault"
							type="tb_b2:Error" maxOccurs="1" minOccurs="0">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ActualizarEstatusCliente">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="id_cliente"
							type="xsd:string" maxOccurs="1" minOccurs="1">
						</xsd:element>
						<xsd:element name="estatus_cliente"
							type="tb_b2:EstatusCliente" maxOccurs="1" minOccurs="1">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ActualizarEstatusClienteResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="respuesta" type="tb_b2:RespuestaGenerica" maxOccurs="1" minOccurs="1"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ActualizarEstatusClienteFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element
							name="ActualizarEstatusClienteFault" type="tb_b2:Error" maxOccurs="1" minOccurs="0">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ConsultarPorIdentificacionCliente">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="id_cliente" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ConsultarPorIdentificacionClienteResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="cliente" type="tb_b2:Cliente" maxOccurs="1" minOccurs="0"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element
				name="ConsultarPorIdentificacionClienteFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element
							name="ConsultarPorIdentificacionClienteFault"
							type="tb_b2:Error" maxOccurs="1" minOccurs="0">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ConsultarPorProductoCliente">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="id_producto" type="xsd:int" maxOccurs="1" minOccurs="1"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ConsultarPorProductoClienteResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="cliente" type="tb_b2:Cliente" maxOccurs="unbounded" minOccurs="0"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ConsultarPorProductoClienteFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element
							name="ConsultarPorProductoClienteFault" type="tb_b2:Error" maxOccurs="1" minOccurs="0">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ConsultarPorFactRangoCliente">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="fecha_ini" type="xsd:date" maxOccurs="1" minOccurs="1"></xsd:element>
						<xsd:element name="fecha_fin"
							type="xsd:date" maxOccurs="1" minOccurs="1">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ConsultarPorFactRangoClienteResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="cliente" type="tb_b2:Cliente" maxOccurs="unbounded" minOccurs="0"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ConsultarPorFactRangoClienteFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element
							name="ConsultarPorFactRangoClienteFault" type="tb_b2:Error" maxOccurs="1" minOccurs="0">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ConsultarOrdenes">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="criterios" type="tb_b2:CriterioConsultaOrden" maxOccurs="1" minOccurs="1"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ConsultarOrdenesResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ordenes" type="tb_b2:Orden" maxOccurs="unbounded" minOccurs="0"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ConsultarOrdenesFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ConsultarOrdenesFault"
							type="tb_b2:Error" maxOccurs="1" minOccurs="0">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		
			<xsd:simpleType name="TipoConsultaOrden">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="ORDEN"></xsd:enumeration>
					<xsd:enumeration value="PRODUCTO"></xsd:enumeration>
				</xsd:restriction>
			</xsd:simpleType>
		
			<xsd:complexType name="CriterioConsultaOrden">
				<xsd:sequence>
					<xsd:element name="tipo_consulta"
						type="tb_b2:TipoConsultaOrden" maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="codigo" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="ConsultarRangoCerradoOrdenes">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="mes" maxOccurs="1" minOccurs="1">
							<xsd:simpleType>
								<xsd:restriction base="xsd:int">
									<xsd:minInclusive value="1"></xsd:minInclusive>
									<xsd:maxInclusive value="12"></xsd:maxInclusive>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="anio" maxOccurs="1" minOccurs="1">
							<xsd:simpleType>
								<xsd:restriction base="xsd:int">
									<xsd:minInclusive value="2000"></xsd:minInclusive>
									<xsd:maxInclusive value="2050"></xsd:maxInclusive>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ConsultarRangoCerradoOrdenesResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ordenes_cerradas" type="tb_b2:RespuestaOrdenCerrada" maxOccurs="1" minOccurs="1"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ConsultarRangoCerradoOrdenesFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element
							name="ConsultarRangoCerradoOrdenesFault" type="tb_b2:Error" maxOccurs="1" minOccurs="0">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		
			<xsd:complexType name="RespuestaOrdenCerrada">
				<xsd:sequence>
					<xsd:element name="ordenes_cerradas"
						type="xsd:int" maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="total_mes" type="xsd:double" maxOccurs="1" minOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="ConsultarRankingAbiertasOrdenes">
				<xsd:complexType>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ConsultarRankingAbiertasOrdenesResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ordenes" type="tb_b2:Orden" maxOccurs="unbounded" minOccurs="0"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ConsultarRankingAbiertasOrdenesFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element
							name="ConsultarRankingAbiertasOrdenesFault" type="tb_b2:Error" maxOccurs="1" minOccurs="0">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ConsultarRankingCerradoOrdenes">
				<xsd:complexType>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ConsultarRankingCerradoOrdenesResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ordenes" type="tb_b2:Orden" maxOccurs="unbounded" minOccurs="0"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ConsultarRankingCerradoOrdenesFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element
							name="ConsultarRankingCerradoOrdenesFault" type="tb_b2:Error" maxOccurs="1" minOccurs="0">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		
			<xsd:complexType name="TipoConsultaProductoResponse">
				<xsd:sequence>
					<xsd:element name="productos" type="tb_b2:Producto"
						maxOccurs="unbounded" minOccurs="0">
					</xsd:element>
					<xsd:element name="productos_top" type="tb_b2:Producto" maxOccurs="unbounded" minOccurs="0"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		
			<xsd:complexType name="TipoGestionTarifaResponse">
				<xsd:sequence>
					<xsd:element name="respuesta"
						type="tb_b2:RespuestaGenerica" maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="tipo_tarifa" type="tb_b2:TipoTarifa" maxOccurs="1" minOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			
            <xsd:simpleType name="TipoTarifa">
            	<xsd:restriction base="xsd:string">
            		<xsd:enumeration value="TRANSPORTE"></xsd:enumeration>
            		<xsd:enumeration value="HOSPEDAJE"></xsd:enumeration>
            		<xsd:enumeration value="ESPECTACULO"></xsd:enumeration>
            		<xsd:enumeration value="CIUDAD"></xsd:enumeration>
            	</xsd:restriction>
            </xsd:simpleType>
		
            <xsd:complexType name="TipoGestProdReponse">
            	<xsd:sequence>
            		<xsd:element name="respuesta"
            			type="tb_b2:RespuestaGenerica" maxOccurs="1"
            			minOccurs="1">
            		</xsd:element>
            		<xsd:element name="producto" type="tb_b2:Producto" maxOccurs="1" minOccurs="1"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
            <xsd:element name="ConsultarPorEspectaculoProducto">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="espectaculo" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="ConsultarPorEspectaculoProductoResponse">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="productos" type="tb_b2:Producto" maxOccurs="unbounded" minOccurs="0"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="ConsultarPorEspectaculoProductoFault">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element
            				name="ConsultarPorEspectaculoProductoFault"
            				type="tb_b2:Error" maxOccurs="1" minOccurs="0">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="ConsultarRankingEspectaculosVendidosProducto">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="fecha_inicial"
            				type="xsd:date" maxOccurs="1" minOccurs="1">
            			</xsd:element>
            			<xsd:element name="fecha_fin"
            				type="xsd:date" maxOccurs="1" minOccurs="1">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="ConsultarRankingEspectaculosVendidosProductoResponse">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="tipo_espectaculo" type="tb_b2:TarifaValores" maxOccurs="unbounded" minOccurs="0"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element
            	name="ConsultarRankingEspectaculosVendidosProductoFault">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element
            				name="ConsultarRankingEspectaculosVendidosProductoFault"
            				type="tb_b2:Error" maxOccurs="unbounded" minOccurs="0">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="ConsultarRankingFechaProducto">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="fecha_inicial"
            				type="xsd:date" maxOccurs="1" minOccurs="1">
            			</xsd:element>
            			<xsd:element name="fecha_fin"
            				type="xsd:date" maxOccurs="1" minOccurs="1">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="ConsultarRankingFechaProductoResponse">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="productos" type="tb_b2:Producto" maxOccurs="unbounded" minOccurs="0"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="ConsultarRankingFechaProductoFault">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element
            				name="ConsultarRankingFechaProductoFault"
            				type="tb_b2:Error" maxOccurs="1" minOccurs="0">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="GestionCampaniaProducto">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="tipo_producto"
            				type="tb_b2:TipoConsultaProducto" maxOccurs="1"
            				minOccurs="1">
            			</xsd:element>
            			<xsd:element name="producto"
            				type="tb_b2:Producto" maxOccurs="1" minOccurs="0">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="GestionCampaniaProductoResponse">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="compania_prod_response" type="tb_b2:TipoGestProdReponse" maxOccurs="1" minOccurs="1"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="GestionCampaniaProductoFault">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="GestionCampaniaProductoFault"
            				type="tb_b2:Error" maxOccurs="1" minOccurs="0">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="GestionProducto">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="tipo_operacion"
            				type="tb_b2:TipoConsultaProducto" maxOccurs="1" minOccurs="1">
            			</xsd:element>
            			<xsd:element name="producto"
            				type="tb_b2:Producto" maxOccurs="1" minOccurs="1">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="GestionProductoResponse">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="gestion_prod_response" type="tb_b2:TipoGestProdReponse" maxOccurs="1" minOccurs="1"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="GestionProductoFault">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="GestionProductoFault"
            				type="tb_b2:Error" maxOccurs="1" minOccurs="0">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="GestionTarifa">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="tipo_operacion"
            				type="tb_b2:TipoConsultaProducto" maxOccurs="1" minOccurs="1">
            			</xsd:element>
            			<xsd:element name="tipo_tarifa"
            				type="tb_b2:TipoTarifa" maxOccurs="1" minOccurs="1">
            			</xsd:element>
            			<xsd:element name="tarifa"
            				type="tb_b2:TarifaValores" maxOccurs="1" minOccurs="1">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="GestionTarifaResponse">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="tarifa" type="tb_b2:TipoGestionTarifaResponse" maxOccurs="1" minOccurs="1"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="GestionTarifaFault">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="GestionTarifaFault"
            				type="tb_b2:Error" maxOccurs="1" minOccurs="0">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="RegistrarClienteRequest">
		<wsdl:part element="tb_b2:RegistrarCliente" name="parameters" />
	</wsdl:message>
	<wsdl:message name="RegistrarClienteResponse">
		<wsdl:part element="tb_b2:RegistrarClienteResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="AutenticarClienteRequest">
		<wsdl:part name="parameters" element="tb_b2:AutenticarCliente"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="AutenticarClienteResponse">
		<wsdl:part name="parameters" element="tb_b2:AutenticarClienteResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ActualizarClienteRequest">
		<wsdl:part name="parameters" element="tb_b2:ActualizarCliente"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ActualizarClienteResponse">
		<wsdl:part name="parameters" element="tb_b2:ActualizarClienteResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ActualizarContraseniaClienteRequest">
		<wsdl:part name="parameters" element="tb_b2:ActualizarContraseniaCliente"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ActualizarContraseniaClienteResponse">
		<wsdl:part name="parameters" element="tb_b2:ActualizarContraseniaClienteResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ConsultarProductoRequest">
		<wsdl:part name="parameters" element="tb_b2:ConsultarProducto"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ConsultarProductoResponse">
		<wsdl:part name="parameters" element="tb_b2:ConsultarProductoResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ConsultarCampaniaProductoRequest">
		<wsdl:part name="parameters" element="tb_b2:ConsultarCampaniaProducto"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ConsultarCampaniaProductoResponse">
		<wsdl:part name="parameters" element="tb_b2:ConsultarCampaniaProductoResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ConsultarClientesOrdenesRequest">
		<wsdl:part name="parameters" element="tb_b2:ConsultarClientesOrdenes"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ConsultarClientesOrdenesResponse">
		<wsdl:part name="parameters" element="tb_b2:ConsultarClientesOrdenesResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="CancelarOrdenesRequest">
		<wsdl:part name="parameters" element="tb_b2:CancelarOrdenes"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="CancelarOrdenesResponse">
		<wsdl:part name="parameters" element="tb_b2:CancelarOrdenesResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="CrearOrdenesRequest">
		<wsdl:part name="parameters" element="tb_b2:CrearOrdenes"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="CrearOrdenesResponse">
		<wsdl:part name="parameters" element="tb_b2:CrearOrdenesResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="RegistrarClienteFault">
		<wsdl:part name="parameters" element="tb_b2:RegistrarClienteFault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="AutenticarClienteFault">
		<wsdl:part name="parameters" element="tb_b2:AutenticarClienteFault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ActualizarClienteFault">
		<wsdl:part name="parameters" element="tb_b2:ActualizarClienteFault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ActualizarContraseniaClienteFault">
		<wsdl:part name="parameters" element="tb_b2:ActualizarContraseniaClienteFault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ConsultarProductoFault">
		<wsdl:part name="parameters" element="tb_b2:ConsultarProductoFault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ConsultarCampaniaProductoFault">
		<wsdl:part name="parameters" element="tb_b2:ConsultarCampaniaProductoFault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ConsultarClientesOrdenesFault">
		<wsdl:part name="parameters" element="tb_b2:ConsultarClientesOrdenesFault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="CancelarOrdenesFault">
		<wsdl:part name="parameters" element="tb_b2:CancelarOrdenesFault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="CrearOrdenesFault">
		<wsdl:part name="parameters" element="tb_b2:CrearOrdenesFault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ActualizarEstatusClienteRequest">
		<wsdl:part name="parameters" element="tb_b2:ActualizarEstatusCliente"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ActualizarEstatusClienteResponse">
		<wsdl:part name="parameters" element="tb_b2:ActualizarEstatusClienteResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ActualizarEstatusClienteFault">
		<wsdl:part name="parameters" element="tb_b2:ActualizarEstatusClienteFault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ConsultarPorIdentificacionClienteRequest">
		<wsdl:part name="parameters" element="tb_b2:ConsultarPorIdentificacionCliente"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ConsultarPorIdentificacionClienteResponse">
		<wsdl:part name="parameters" element="tb_b2:ConsultarPorIdentificacionClienteResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ConsultarPorIdentificacionClienteFault">
		<wsdl:part name="parameters" element="tb_b2:ConsultarPorIdentificacionClienteFault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ConsultarPorProductoClienteRequest">
		<wsdl:part name="parameters" element="tb_b2:ConsultarPorProductoCliente"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ConsultarPorProductoClienteResponse">
		<wsdl:part name="parameters" element="tb_b2:ConsultarPorProductoClienteResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ConsultarPorProductoClienteFault">
		<wsdl:part name="parameters" element="tb_b2:ConsultarPorProductoClienteFault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ConsultarPorFactRangoClienteRequest">
		<wsdl:part name="parameters" element="tb_b2:ConsultarPorFactRangoCliente"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ConsultarPorFactRangoClienteResponse">
		<wsdl:part name="parameters" element="tb_b2:ConsultarPorFactRangoClienteResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ConsultarPorFactRangoClienteFault">
		<wsdl:part name="parameters" element="tb_b2:ConsultarPorFactRangoClienteFault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ConsultarOrdenesRequest">
		<wsdl:part name="parameters" element="tb_b2:ConsultarOrdenes"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ConsultarOrdenesResponse">
		<wsdl:part name="parameters" element="tb_b2:ConsultarOrdenesResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ConsultarOrdenesFault">
		<wsdl:part name="parameters" element="tb_b2:ConsultarOrdenesFault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ConsultarRangoCerradoOrdenesRequest">
		<wsdl:part name="parameters" element="tb_b2:ConsultarRangoCerradoOrdenes"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ConsultarRangoCerradoOrdenesResponse">
		<wsdl:part name="parameters" element="tb_b2:ConsultarRangoCerradoOrdenesResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ConsultarRangoCerradoOrdenesFault">
		<wsdl:part name="parameters" element="tb_b2:ConsultarRangoCerradoOrdenesFault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ConsultarRankingAbiertasOrdenesRequest">
		<wsdl:part name="parameters" element="tb_b2:ConsultarRankingAbiertasOrdenes"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ConsultarRankingAbiertasOrdenesResponse">
		<wsdl:part name="parameters" element="tb_b2:ConsultarRankingAbiertasOrdenesResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ConsultarRankingAbiertasOrdenesFault">
		<wsdl:part name="parameters" element="tb_b2:ConsultarRankingAbiertasOrdenesFault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ConsultarRankingCerradoOrdenesRequest">
		<wsdl:part name="parameters" element="tb_b2:ConsultarRankingCerradoOrdenes"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ConsultarRankingCerradoOrdenesResponse">
		<wsdl:part name="parameters" element="tb_b2:ConsultarRankingCerradoOrdenesResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ConsultarRankingCerradoOrdenesFault">
		<wsdl:part name="parameters" element="tb_b2:ConsultarRankingCerradoOrdenesFault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ConsultarPorEspectaculoProductoRequest">
		<wsdl:part name="parameters" element="tb_b2:ConsultarPorEspectaculoProducto"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ConsultarPorEspectaculoProductoResponse">
		<wsdl:part name="parameters" element="tb_b2:ConsultarPorEspectaculoProductoResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ConsultarPorEspectaculoProductoFault">
		<wsdl:part name="parameters" element="tb_b2:ConsultarPorEspectaculoProductoFault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ConsultarRankingEspectaculosVendidosProductoRequest">
		<wsdl:part name="parameters" element="tb_b2:ConsultarRankingEspectaculosVendidosProducto"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ConsultarRankingEspectaculosVendidosProductoResponse">
		<wsdl:part name="parameters" element="tb_b2:ConsultarRankingEspectaculosVendidosProductoResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message
		name="ConsultarRankingEspectaculosVendidosProductoFault">
		<wsdl:part name="parameters" element="tb_b2:ConsultarRankingEspectaculosVendidosProductoFault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ConsultarRankingFechaProductoRequest">
		<wsdl:part name="parameters" element="tb_b2:ConsultarRankingFechaProducto"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ConsultarRankingFechaProductoResponse">
		<wsdl:part name="parameters" element="tb_b2:ConsultarRankingFechaProductoResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ConsultarRankingFechaProductoFault">
		<wsdl:part name="parameters" element="tb_b2:ConsultarRankingFechaProductoFault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="GestionCampaniaProductoRequest">
		<wsdl:part name="parameters" element="tb_b2:GestionCampaniaProducto"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="GestionCampaniaProductoResponse">
		<wsdl:part name="parameters" element="tb_b2:GestionCampaniaProductoResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="GestionCampaniaProductoFault">
		<wsdl:part name="parameters" element="tb_b2:GestionCampaniaProductoFault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="GestionProductoRequest">
		<wsdl:part name="parameters" element="tb_b2:GestionProducto"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="GestionProductoResponse">
		<wsdl:part name="parameters" element="tb_b2:GestionProductoResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="GestionProductoFault">
		<wsdl:part name="parameters" element="tb_b2:GestionProductoFault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="GestionTarifaRequest">
		<wsdl:part name="parameters" element="tb_b2:GestionTarifa"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="GestionTarifaResponse">
		<wsdl:part name="parameters" element="tb_b2:GestionTarifaResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="GestionTarifaFault">
		<wsdl:part name="parameters" element="tb_b2:GestionTarifaFault"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="ServiceProxyB2C">
		<wsdl:operation name="RegistrarCliente">
			<wsdl:input message="tb_b2:RegistrarClienteRequest" />
			<wsdl:output message="tb_b2:RegistrarClienteResponse" />
            <wsdl:fault name="fault" message="tb_b2:RegistrarClienteFault"></wsdl:fault>
        </wsdl:operation>
		<wsdl:operation name="AutenticarCliente">
			<wsdl:input message="tb_b2:AutenticarClienteRequest"></wsdl:input>
			<wsdl:output message="tb_b2:AutenticarClienteResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_b2:AutenticarClienteFault"></wsdl:fault>
        </wsdl:operation>
		<wsdl:operation name="ActualizarCliente">
			<wsdl:input message="tb_b2:ActualizarClienteRequest"></wsdl:input>
			<wsdl:output message="tb_b2:ActualizarClienteResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_b2:ActualizarClienteFault"></wsdl:fault>
        </wsdl:operation>
		<wsdl:operation name="ActualizarContraseniaCliente">
			<wsdl:input message="tb_b2:ActualizarContraseniaClienteRequest"></wsdl:input>
			<wsdl:output message="tb_b2:ActualizarContraseniaClienteResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_b2:ActualizarContraseniaClienteFault"></wsdl:fault>
        </wsdl:operation>
		<wsdl:operation name="ConsultarProducto">
			<wsdl:input message="tb_b2:ConsultarProductoRequest"></wsdl:input>
			<wsdl:output message="tb_b2:ConsultarProductoResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_b2:ConsultarProductoFault"></wsdl:fault>
        </wsdl:operation>
		<wsdl:operation name="ConsultarCampaniaProducto">
			<wsdl:input message="tb_b2:ConsultarCampaniaProductoRequest"></wsdl:input>
			<wsdl:output message="tb_b2:ConsultarCampaniaProductoResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_b2:ConsultarCampaniaProductoFault"></wsdl:fault>
        </wsdl:operation>
		<wsdl:operation name="ConsultarClientesOrdenes">
			<wsdl:input message="tb_b2:ConsultarClientesOrdenesRequest"></wsdl:input>
			<wsdl:output message="tb_b2:ConsultarClientesOrdenesResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_b2:ConsultarClientesOrdenesFault"></wsdl:fault>
        </wsdl:operation>
		<wsdl:operation name="CancelarOrdenes">
			<wsdl:input message="tb_b2:CancelarOrdenesRequest"></wsdl:input>
			<wsdl:output message="tb_b2:CancelarOrdenesResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_b2:CancelarOrdenesFault"></wsdl:fault>
        </wsdl:operation>
		<wsdl:operation name="CrearOrdenes">
			<wsdl:input message="tb_b2:CrearOrdenesRequest"></wsdl:input>
			<wsdl:output message="tb_b2:CrearOrdenesResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_b2:CrearOrdenesFault"></wsdl:fault>
        </wsdl:operation>
		<wsdl:operation name="ActualizarEstatusCliente">
			<wsdl:input message="tb_b2:ActualizarEstatusClienteRequest"></wsdl:input>
			<wsdl:output message="tb_b2:ActualizarEstatusClienteResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_b2:ActualizarEstatusClienteFault"></wsdl:fault>
        </wsdl:operation>
		<wsdl:operation name="ConsultarPorIdentificacionCliente">
			<wsdl:input message="tb_b2:ConsultarPorIdentificacionClienteRequest"></wsdl:input>
			<wsdl:output message="tb_b2:ConsultarPorIdentificacionClienteResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_b2:ConsultarPorIdentificacionClienteFault"></wsdl:fault>
        </wsdl:operation>
		<wsdl:operation name="ConsultarPorProductoCliente">
			<wsdl:input message="tb_b2:ConsultarPorProductoClienteRequest"></wsdl:input>
			<wsdl:output message="tb_b2:ConsultarPorProductoClienteResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_b2:ConsultarPorProductoClienteFault"></wsdl:fault>
        </wsdl:operation>
		<wsdl:operation name="ConsultarPorFactRangoCliente">
			<wsdl:input message="tb_b2:ConsultarPorFactRangoClienteRequest"></wsdl:input>
			<wsdl:output message="tb_b2:ConsultarPorFactRangoClienteResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_b2:ConsultarPorFactRangoClienteFault"></wsdl:fault>
        </wsdl:operation>
		<wsdl:operation name="ConsultarOrdenes">
			<wsdl:input message="tb_b2:ConsultarOrdenesRequest"></wsdl:input>
			<wsdl:output message="tb_b2:ConsultarOrdenesResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_b2:ConsultarOrdenesFault"></wsdl:fault>
        </wsdl:operation>
		<wsdl:operation name="ConsultarRangoCerradoOrdenes">
			<wsdl:input message="tb_b2:ConsultarRangoCerradoOrdenesRequest"></wsdl:input>
			<wsdl:output message="tb_b2:ConsultarRangoCerradoOrdenesResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_b2:ConsultarRangoCerradoOrdenesFault"></wsdl:fault>
        </wsdl:operation>
		<wsdl:operation name="ConsultarRankingAbiertasOrdenes">
			<wsdl:input message="tb_b2:ConsultarRankingAbiertasOrdenesRequest"></wsdl:input>
			<wsdl:output message="tb_b2:ConsultarRankingAbiertasOrdenesResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_b2:ConsultarRankingAbiertasOrdenesFault"></wsdl:fault>
        </wsdl:operation>
		<wsdl:operation name="ConsultarRankingCerradoOrdenes">
			<wsdl:input message="tb_b2:ConsultarRankingCerradoOrdenesRequest"></wsdl:input>
			<wsdl:output message="tb_b2:ConsultarRankingCerradoOrdenesResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_b2:ConsultarRankingCerradoOrdenesFault"></wsdl:fault>
        </wsdl:operation>
		<wsdl:operation name="ConsultarPorEspectaculoProducto">
			<wsdl:input message="tb_b2:ConsultarPorEspectaculoProductoRequest"></wsdl:input>
			<wsdl:output message="tb_b2:ConsultarPorEspectaculoProductoResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_b2:ConsultarPorEspectaculoProductoFault"></wsdl:fault>
        </wsdl:operation>
		<wsdl:operation name="ConsultarRankingEspectaculosVendidosProducto">
			<wsdl:input message="tb_b2:ConsultarRankingEspectaculosVendidosProductoRequest"></wsdl:input>
			<wsdl:output message="tb_b2:ConsultarRankingEspectaculosVendidosProductoResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_b2:ConsultarRankingEspectaculosVendidosProductoFault"></wsdl:fault>
        </wsdl:operation>
		<wsdl:operation name="ConsultarRankingFechaProducto">
			<wsdl:input message="tb_b2:ConsultarRankingFechaProductoRequest"></wsdl:input>
			<wsdl:output message="tb_b2:ConsultarRankingFechaProductoResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_b2:ConsultarRankingFechaProductoFault"></wsdl:fault>
        </wsdl:operation>
		<wsdl:operation name="GestionCampaniaProducto">
			<wsdl:input message="tb_b2:GestionCampaniaProductoRequest"></wsdl:input>
			<wsdl:output message="tb_b2:GestionCampaniaProductoResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_b2:GestionCampaniaProductoFault"></wsdl:fault>
        </wsdl:operation>
		<wsdl:operation name="GestionProducto">
			<wsdl:input message="tb_b2:GestionProductoRequest"></wsdl:input>
			<wsdl:output message="tb_b2:GestionProductoResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_b2:GestionProductoFault"></wsdl:fault>
        </wsdl:operation>
		<wsdl:operation name="GestionTarifa">
			<wsdl:input message="tb_b2:GestionTarifaRequest"></wsdl:input>
			<wsdl:output message="tb_b2:GestionTarifaResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tb_b2:GestionTarifaFault"></wsdl:fault>
        </wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ServiceProxyB2CSOAP" type="tb_b2:ServiceProxyB2C">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="RegistrarCliente">
			<soap:operation
				soapAction="http://www.touresbalon.com/ServiceProxyB2C/RegistrarCliente" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="AutenticarCliente">
			<soap:operation
				soapAction="http://www.touresbalon.com/ServiceProxyB2C/AutenticarCliente" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ActualizarCliente">
			<soap:operation
				soapAction="http://www.touresbalon.com/ServiceProxyB2C/ActualizarCliente" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ActualizarContraseniaCliente">
			<soap:operation
				soapAction="http://www.touresbalon.com/ServiceProxyB2C/ActualizarContraseniaCliente" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ConsultarProducto">
			<soap:operation
				soapAction="http://www.touresbalon.com/ServiceProxyB2C/ConsultarProducto" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ConsultarCampaniaProducto">
			<soap:operation
				soapAction="http://www.touresbalon.com/ServiceProxyB2C/ConsultarCampaniaProducto" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ConsultarClientesOrdenes">
			<soap:operation
				soapAction="http://www.touresbalon.com/ServiceProxyB2C/ConsultarClientesOrdenes" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CancelarOrdenes">
			<soap:operation
				soapAction="http://www.touresbalon.com/ServiceProxyB2C/CancelarOrdenes" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CrearOrdenes">
			<soap:operation
				soapAction="http://www.touresbalon.com/ServiceProxyB2C/CrearOrdenes" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ServiceProxyB2C">
		<wsdl:port binding="tb_b2:ServiceProxyB2CSOAP" name="ServiceProxyB2CSOAP">
			<soap:address location="http://www.touresbalon.com/ServiceProxyB2C" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>